@model CreateSimpleModel


@using HlidacStatu.Web.Models;

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Lib.Data.External.DataSets;
@using System.Text.RegularExpressions;
@{

    ViewBag.Title = "Přidání datasetu pro normální lidi : Typy hodnot";
    ViewBag.SubTitle = "Popis dat";

    string[] colTypes = ViewBag.ColTypes ?? new string[Model.Headers.Count()];

    ApiResponseStatus err = ViewBag.ApiResponseError;

}
@section scripts
{

}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Datové zdroje</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@if (err != null)
{
    <h3 class="text-danger">Chyba při ukládání datasetu</h3>
    <p class="bg-danger">
        <b>Chyba</b>: @(err.error?.description)<br />
        Hodnota: @(err.value?.ToString())<br />
        ErrorNumber: @(err.error?.number)<br />
        ErrorDetail: @(err.error?.errorDetail)<br />
    </p>

}

<div class="row">
    <div class="col-xs-12 ">
        <h2>Krok 2</h2>
        <p>
            Nahráli jste nám CSV soubor. Na první, rychlý pohled vypadá, že je v pořádku. Abychom mohli data nahrát do Hlídače,
            potřebujeme se od vás dozvědět, který sloupec obsahuje čísla, který texty, datumy apod.
        </p>
    </div>

    <h3>Popsání sloupců</h3>
    <div class="col-xs-12">
        <form method="post" class="form-horizontal form-control-new--small">
            @Html.HiddenFor(m => m.Delimiter)
            @Html.HiddenFor(m => m.FileId)
            @Html.Hidden("sheaders", Model.Headers.Aggregate((f, s) => f + "|" + s))

            <script type="text/javascript">
                function selectOnCh(t) {
                    var i = $(t).attr("cindex");
                    var v = t.options[t.selectedIndex].value;
                    var elemsel = "input[g='c_" + v + "_" + i + "']";
                    var elemall = ".show_search_" + i + "[g^='c_']";

                    //console.log(elemsel);
                    //console.log(elemall);
                    $(elemall).each(function () { $(this).parent().hide(); });
                    $(elemsel).each(function () { $(this).parent().show(); });
                }
                $(function () {
                    $(".input-select-type").each(function () { selectOnCh(this); });
                });
            </script>
            <div class="form-group">
                @Html.LabelFor(m=>m.Name, "Jméno datasetu", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Jméno datasetu" })
                    <span class="help-block"><span class="text-danger">Vystižné jméno datasetu, pod kterým bude uložen v Hlídači.</span></span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.KeyColumn, "Sloupec s klíčem", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.DropDownListFor(m=>m.KeyColumn ,Model.Headers
                                            .Select(s=>new SelectListItem() { Text=s, Value=s })
                                            .Append(new SelectListItem() { Text="-- žádný sloupec není vhodný --", Value="" })
                                            )
                    <span class="help-block"><span class="text-danger">Typicky ID, nebo číslo jednací. Prostě sloupec, který pro každý záznam obsahuje unikátní, neopakující se hodnotu.</span></span>
                </div>
            </div>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <td>Sloupec</td>
                        <td>
                            Název sloupce</br>
                            v CSV
                        </td>
                        <td>
                            Srozumitelný název
                            <div class="text-gray">Veřejný název položky,<br />změňte dle potřeby</div>
                        </td>
                        <td>Typ dat</td>
                        <td>Zobrazování dat ve<br />výsledcích hledání</td>
                        <td>Zobrazování dat v<br />detailu</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Headers.Length; i++)
                    {
                        <tr>
                            <td style="font-size:1.3em;font-weight:bold">@(i + 1)</td>
                            <td><input type="text" name="name_@i" value="@Model.Headers[i]" disabled="disabled"></td>
                            <td>
                                <input type="text" name="nicename_@i" value="@Model.Headers[i]">
                            </td>
                            <td>
                                <select style="width:140px;font-size:1em" name="typ_@i" class="input-select-type" cindex="@i" onchange="selectOnCh(this,@i);" onload="selectOnCh(this);">
                                    @*<option value="--"  disabled="disabled">-- vyberte --</option>*@
                                    <optgroup label="Obvyklé">
                                        <option value="string" @Util.IfExists(colTypes[i] == "string", "selected=\"selected\"")>Text</option>
                                        <option value="number" @Util.IfExists(colTypes[i] == "number", "selected=\"selected\"")>Číslo</option>
                                        <option value="datetime" @Util.IfExists(colTypes[i] == "datetime", "selected=\"selected\"")>Datum a čas</option>
                                    </optgroup>
                                    <optgroup label="Speciální">
                                        <option value="ico">IČ firmy</option>
                                        <option value="url">Odkaz na web stránku</option>
                                        @*<option value="doc">Odkaz (URL) na dokument co máme zpracovat</option>*@
                                    </optgroup>
                                </select>
                            </td>
                            <td>
                                <div class="radio">
                                    <input @Util.IfExists(i < 6, " checked=\"checked\" ") type="radio" class="show_search_@i" name="show_search_@i" value="show" g="*_@i">Zobrazit<br>
                                    <input @Util.IfExists(i >= 6, " checked=\"checked\" ") type="radio" class="show_search_@i" name="show_search_@i" value="hide" g="*_@i">Skrýt<br>
                                    <span style="display:none"><input type="radio" class="show_search_@i" name="show_search_@i" value="price" g="c_number_@i">Zobrazit jako cenu<br></span>
                                </div>
                            </td>
                            <td>
                                <div class="radio">
                                    <input checked="checked" type="radio" class="show_search_@i" name="show_detail_@i" value="show" g="*_@i">Zobrazit<br>
                                    <input type="radio" class="show_search_@i" name="show_detail_@i" value="hide" g="*_@i">Skrýt<br>
                                    <span style="display:none"><input type="radio" class="show_search_@i" name="show_detail_@i" value="price" g="c_number_@i">Zobrazit jako cenu<br></span>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="createSimple" class="btn btn-default btn">Zpět</a>
                    <button type="submit" class="btn btn-warning btn">Pokračovat na další krok</button>

                </div>
            </div>

        </form>
    </div>
</div>
