@model HlidacStatu.Web.Models.DataDetailModel

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    var registration = Model.Dataset.Registration();

    Newtonsoft.Json.Linq.JObject jmodel = Model.Dataset.GetDataObj(Model.Data);
    dynamic model = (dynamic)jmodel;

    string itemId = (model.Id ?? model.id) ?? "";
    ViewBag.Title = Model.Dataset.Registration().name;
    ViewBag.SubTitle = itemId ;


    ViewBag.SocialShareTitle = $"<b>{ViewBag.Title}</b>";
    ViewBag.SocialShareText = Model.Dataset.GetPreviewTextValueFromItem(jmodel);
    ViewBag.SocialShareHtml = Model.Dataset.GetPreviewTextValueFromItem(jmodel);
    ViewBag.SocialShareHtmlFooter = Model.Dataset.DatasetItemUrl(itemId,false) ;
    ViewBag.SocialShareHtmlSubFooter = $"<b>Hlídáme je, protože si to zaslouží!</b>";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/page?d={DateTime.Now.ToString("d.M.yy")}&v=" + Url.Encode(Request.Url.AbsoluteUri);
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
            + "<meta property=\"og:image:height\" content=\"1080\" />"
            + "<meta property=\"og:image:type\" content=\"image/png\" />"
            ;


    IReadOnlyDictionary<string, IReadOnlyCollection<string>> highlightingData = ViewBag.Highlighting as IReadOnlyDictionary<string, IReadOnlyCollection<string>>;

}
@section scripts
{
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Další databáze</a></li>
        <li><a href="@Model.Dataset.DatasetUrl()">@registration.name</a></li>
        <li class="active">Záznam: @ViewBag.Id</li>
        <li class="active pull-right"><a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a></li>
    </ol>
}

@Html.Partial("_SearchForm", new HlidacStatu.Lib.Data.External.DataSets.DataSearchRawResult() {DataSet = Model.Dataset,  Q = Request.QueryString["qs"] })


<hr style="margin-top: 35px;padding-bottom:15px;" />

<div id="data-detail-content">
    @{
        try
        {
            if (Model.Dataset.Registration()?.detailTemplate?.IsNewTemplate() == true)
            {
                var html = Model.Dataset.Registration().detailTemplate.Render(Model.Dataset, model, highlightingData: highlightingData);
                @Html.Raw(html)
            }
            else
            {

                Html.RenderAction("Detail_CustomdataTemplate", Model);
            }
        }
        catch (Exception e)
        {
            var msg = e?.InnerException?.Message ?? e.Message;
            msg = HlidacStatu.Util.ParseTools.ReplaceWithRegex(msg, "", @".*: \s* error \s* CS\d{1,8}:");

            @Html.Raw($"<h2>Chyba v template - zpráva pro autora této databáze</h2><pre>{msg}</pre>")
            HlidacStatu.Util.Consts.Logger.Warning("Detail_CustomdataTemplate", e);

            if (msg != "Interní chyba")
            {
                Model.Dataset.SendErrorMsgToAuthor(this.Request.Url.AbsoluteUri, msg);
            }
        }
    }

    <hr />
    <table class="table">
        <tr>
            <td>Záznam v JSON</td>
            <td>
                @if (this.Request.IsAuthenticated)
                {
                    <a href="https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)?nice=1">
                        https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)
                    </a>
                }
                else
                {
                    <code>https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)</code>
                }
                <br />
                <a href="/api">Popis API</a>

            </td>
        </tr>
    </table>
</div>

@Html.Partial("_new")
