@model HlidacStatu.Web.Models.DataDetailModel

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    var registration = Model.Dataset.Registration();

    ViewBag.Title = "Hlídač " + Model.Dataset.Registration().name;
    dynamic model = Model.Dataset.GetDataObj(Model.Data);

    string itemId = (model.Id ?? model.id) ?? "";


}
@section scripts
{
    <style>
        #data-detail-content pre {
            white-space: pre-wrap !important;
            font-size: 80%
        }
    </style>
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Datové zdroje</a></li>
        <li><a href="@Model.Dataset.DatasetUrl()">@registration.name</a></li>
        <li class="active">Záznam: @ViewBag.Id</li>
        <li class="active pull-right"><a href="https://hlidacstatu.docs.apiary.io/#reference/datasety-rozsirene-datove-sady-hlidace-statu">Přidat další datový zdroj (pro programátory)</a></li>
    </ol>
}
<div id="data-detail-content">

    @{
        try
        {
            if (Model.Dataset.Registration()?.detailTemplate?.IsNewTemplate() == true)
            {
                var html = Model.Dataset.Registration().detailTemplate.Render(Model.Dataset, model);
                @Html.Raw(html)
            }
            else
            {

                Html.RenderAction("Detail_CustomdataTemplate", Model);
            }
        }
        catch (Exception e)
        {
            var msg = e?.InnerException?.Message ?? e.Message;
            msg = HlidacStatu.Util.ParseTools.ReplaceWithRegex(msg, "", @".*: \s* error \s* CS\d{1,8}:");

            @Html.Raw($"<h2>Chyba v template - zpráva pro autora této datové sady</h2><pre>{msg}</pre>")
            HlidacStatu.Util.Consts.Logger.Warning("Detail_CustomdataTemplate", e);

            if (msg != "Interní chyba")
            {
                Model.Dataset.SendErrorMsgToAuthor(this.Request.Url.AbsoluteUri, msg);
            }
        }
    }

    <hr />
    <table class="table">
        <tr>
            <td>Záznam v JSON</td>
            <td>
                @if (this.Request.IsAuthenticated)
                {
                    <a href="https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)">
                        https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)
                    </a>
                }
                else
                {
                    <code>https://www.hlidacstatu.cz/api/v1/DatasetItem/@(Model.Dataset.DatasetId)/@(itemId)</code>
                }
                <br />
                <a href="/api">Popis API</a>

            </td>
        </tr>
    </table>
</div>

@Html.Partial("_beta")
