@model HlidacStatu.Web.Models.DataDetailModel

@using Nest;
@using Devmasters
@using HlidacStatu.Lib
@using Newtonsoft.Json.Linq;
@{

    ViewBag.Title = Model.Dataset.Registration().name + " - textová podoba dokumentu";
    bool found = false;



    JObject jobj = JObject.Parse(Model.Dataset.GetData(Model.Data));

    string path = Request.QueryString["p"];
    JObject docObj = null;
    string plainText = string.Empty;
    string url = string.Empty;

    if (!string.IsNullOrEmpty(path))
    {        
        docObj =  jobj.SelectToken(path) as JObject;
        found = docObj != null;
    }
    if (found)
    {
        plainText = docObj["DocumentPlainText"]?.Value<string>() ?? "";
        url = docObj["DocumentUrl"]?.Value<string>() ?? "";
    }

    if (!string.IsNullOrEmpty(plainText))
    {
        //remove /n/r on the beginning
        plainText = System.Text.RegularExpressions.Regex.Replace(plainText, "^(\\s)*", "");
        found = true;
    }

    Newtonsoft.Json.Linq.JObject itemjmodel = Model.Dataset.GetDataObj(Model.Data);
    dynamic itemModel = (dynamic)itemjmodel;

    ViewBag.SocialShareTitle = $"<b>{ViewBag.Title}</b>";
    ViewBag.SocialShareText =  Devmasters.TextUtil.ShortenText(plainText,400);
    ViewBag.SocialShareHtml = $"<pre style='overflow-x: auto;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;'>{plainText}</pre>";

    ViewBag.SocialShareHtmlFooter = Model.Dataset.DatasetItemUrl(Model.Data,false) ;
    ViewBag.SocialShareHtmlSubFooter = $"<b>Hlídáme je, protože si to zaslouží!</b>";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/page?d={DateTime.Now.ToString("d.M.yy")}&v=" + Url.Encode(Request.Url.AbsoluteUri);
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
            + "<meta property=\"og:image:height\" content=\"1080\" />"
            + "<meta property=\"og:image:type\" content=\"image/png\" />"
            ;


}


@section footerscripts
{
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Další databáze</a></li>
        <li><a href="@Model.Dataset.DatasetUrl()">@Model.Dataset.Registration().name</a></li>
        <li><a href="https://www.hlidacstatu.cz/data/Detail/@Model.Dataset.Registration().datasetId/@Model.Data">@Model.Data</a></li>
        <li class="active">Obsah dokumentu</li>
    </ol>
}

@if (found)
{
    <p>
        <b>Upozornění</b>: Text přílohy byl získán strojově a nemusí přesně odpovídat originálu. Zejména u strojově nečitelných smluv, kde jsme použili OCR.
        <a href="@url" target="_blank">originál dokumentu stáhnete odsud</a>
    </p>
    <p><a href="https://www.hlidacstatu.cz/data/Detail/@Model.Dataset.Registration().datasetId/@Model.Data">Celý záznam @Model.Data najdete zde</a></p>

    <hr />
    <div class="row">
        <div class="col-xs-12">
            <pre style="overflow-x: auto;white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;">
                @Html.Raw(plainText)
            </pre>
        </div>

    </div>
}
else
{
    <div class="text-danger">Odkazovaný dokument nebyl nalezena</div>
    <p><a href="https://www.hlidacstatu.cz/data/Detail/@Model.Dataset.Registration().datasetId/@Model.Data">Zpět na celý záznam</a></p>
}




