@model CreateSimpleModel


@using HlidacStatu.Web.Models;

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Lib.Data.External.DataSets;
@using System.Text.RegularExpressions;
@{

    ViewBag.Title = "Import dat z CSV souboru";
    ViewBag.SubTitle = "Postup pro netechnické uživatele";

    ApiResponseStatus err = ViewBag.ApiResponseError;

    DataSet ds = DataSet.CachedDatasets.Get(Model.DatasetId);


}
@section scripts
{

}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Datové zdroje</a></li>
        <li><a href="@ds.DatasetUrl()">@ds.Registration().name</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@if (err != null)
{
    <h3 class="text-danger">Chyba při ukládání datasetu</h3>
    <p class="bg-danger">
        <b>Chyba</b>: @(err.error?.description)<br />
        Hodnota: @(err.value?.ToString())<br />
        ErrorNumber: @(err.error?.number)<br />
        ErrorDetail: @(err.error?.errorDetail)<br />
    </p>

}
@if (ViewBag.Mode == "notflat")
{<div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11">
            <h2>Problém!</h2>
            <p class="text-warning">
                Nahrání dat do datasetu je možný pouze v případech, kdy máte jednoduchou (plochou)s strukturu dat,
                neboli když se data dají zobrazit v Excelu ve formě jedné tabulky
                a tabulka má pro všechny řádky stejný počet sloupců.
            </p>
            <p class="text-warning">
                Tento dataset tuto podmínku nesplňuje a musíte pro nahrátí dat <a href="/api">použít API</a>.
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("manage",new { id = Model.Name })">Spravovat dataset</a>
                <a class="btn btn-default" href="/">Zpět na titulku</a>

            </p>
        </div>
    </div>
}
else if (ViewBag.Mode == "upload")
{
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-11">
            <h2>Jak na to?</h2>
            <p>
                Import dat do datasetu z CSV souboru je možný pouze v případech, kdy máte jednoduchou (plochou)s strukturu dat,
                neboli když se data dají zobrazit v Excelu ve formě jedné tabulky
                a tabulka má pro všechny řádky stejný počet sloupců.
            </p>
        </div>
        <h3>1. krok</h3>
        <div class="col-xs-12 col-sm-offset-1 col-sm-11">
            <p>
                Hlídač v tomto průvodci umí zpracovat data pouze <code>ve formátu CSV</code>, v prvním řádku s názvy sloupců a v UTF-8 kódování.
                Takový export je možný <a onclick="return trackOutLink(this,'Dataset_CreateSimple');" href="https://www.extendoffice.com/cs/documents/excel/613-excel-export-to-csv-file.html#active_sheet_to_csv_utf8" target="_blank">přímo z Excelu</a>.
                Pokud Vám Excel nevyhovuje nebo máte data v jiném formátu, můžete zkusit konverzi provést zdarma na některé z těchto anglických online služeb:
                <a href="https://www.zamzar.com" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">Zamzar</a>,
                <a href="https://convertio.co" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">Convertio</a>,
                <a href="https://www.aconvert.com" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">AConvert</a>,
                <a href="https://onlineconvertfree.com" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">OnlineConvertFree</a>
                a <a href="https://www.google.com/search?client=safari&rls=en&q=excel+to+csv&ie=UTF-8&oe=UTF-8" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">další</a>.
            </p>
            <p>
                <b>Souhrn požadavků</b><ul>
                    <li>Musí být v <a href="https://cs.wikipedia.org/wiki/CSV" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">CSV formátu</a>.</li>
                    <li>Musí mít v prvním řádku názvy sloupců</li>
                    <li>Musí být v <a href="https://cs.wikipedia.org/wiki/Unicode" target="_blank" onclick="return trackOutLink(this,'Dataset_CreateSimple');">Unicode UTF-8 kódování</a> </li>
                    <li>Musí obsahovat nějaká data.</li>
                </ul>
            </p>
            <form method="post" class="form-horizontal form-control-new--small" enctype="multipart/form-data">
                <div class="form-group">
                    @Html.Label("delimiter", "Oddělovač položek (sloupců) v CSV", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <select name="delimiter">
                            <option value="," selected="selected">, (čárka)</option>
                            <option value=";">; (středník)</option>
                            <option value="\t">tab (tabulátor)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("data", "CSV soubor v UTF-8 kódování", new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        <input type="file" name="file" />
                        <span class="help-block">Omezení: Soubor může být veliký maximálně 50MB.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-warning btn">Nahrát soubor a pokračovat na další krok</button>

                    </div>
                </div>

            </form>
        </div>
    </div>

}
else
{
    string delimiter = ViewBag.Delimiter;

    string[] properties = ds.GetPropertyNamesFromSchema();


    <div class="row">
        <div class="col-xs-12 ">
            <h2>Krok 2</h2>
            <p>
                Nahráli jste nám CSV soubor. Na první, rychlý pohled vypadá, že je v pořádku. Abychom mohli data nahrát do Hlídače,
                potřebujeme se od vás dozvědět, který sloupec nahraného souboru pasuje na který sloupec datasetu.
            </p>
        </div>

        <h3>Propojení sloupců</h3>
        <div class="col-xs-12">
            <form action="@Url.Action("importDataProcess",new {id = Model.DatasetId })" method="post" class="form-horizontal form-control-new--small">
                @Html.HiddenFor(m => m.Delimiter)
                @Html.HiddenFor(m => m.FileId)
                @Html.Hidden("sheaders", Model.Headers.Aggregate((f, s) => f + "|" + s))
                @Html.Hidden("sproperties", properties.Aggregate((f, s) => f + "|" + s))

                <script type="text/javascript">

                    function isMappingOK() {
                        var hasError = false;
                        $("select.form-control").each(
                            function () {
                                var selectedIdx = this.selectedIndex;
                                if (selectedIdx == 0) {
                                    $(this).parent().removeClass("has-success").addClass("has-error");
                                    hasError = true;
                                }
                                else {
                                    $(this).parent().addClass("has-success").removeClass("has-error");
                                }

                            }
                        );
                        if (hasError)
                            $("#mappingAlert").show()
                        else
                            $("#mappingAlert").hide()

                        if (!hasError) {
                            //alert('Import dat může trvat i několiv minut. Nenačítejte stránku znovu, buďte trpělivý/á');
                            $(this).attr("disabled", "disabled");
                            $(this).text("Importuji data, trpělivě čekejte!");
                        }
                        return !(hasError);
                    }

                </script>

                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>
                                Název sloupce v CSV
                            </th>
                            <th>
                                Jméno cílového sloupce v datasetu
                            </th>
                            <th>Transformace dat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int ip = 0; ip < properties.Length; ip++)
                        {
                            bool rowselected = false;
                            var normName = HlidacStatu.Web.Models.CreateSimpleModel.Column.Normalize(properties[ip]);

                            <tr>
                                <td style="font-size:1.3em;font-weight:bold">@(ip + 1)</td>
                                <td style="vertical-align: middle;">
                                    @properties[ip]
                                    @Html.Hidden("target_" + ip, properties[ip])
                                </td>
                                <td>
                                    <div class="form-group-sm">
                                        <select style="width:200px;font-size:1em;line-height:normal" class="form-control" name="source_@ip">
                                            <option value="--">(vyberte)</option>
                                            @if (properties[ip].ToLower() == "id")
                                            {
                                                <option style="height:18px;font-style:italic" value="-gen-">Generovat unikátní klíč</option>
                                            }
                                            @for (int ih = 0; ih < Model.Headers.Length; ih++)
                                            {
                                                bool selected = false;
                                                var normHead = HlidacStatu.Web.Models.CreateSimpleModel.Column.Normalize(Model.Headers[ih]);
                                                if (normName == normHead)
                                                {
                                                    selected = true;
                                                }
                                                else if (!rowselected && HlidacStatu.Lib.Validators.LevenshteinDistanceCompute(normName, normHead) < 3)
                                                {
                                                    selected = true;
                                                }
                                                <option @Util.IfExists(selected, " selected=\"selected\" ") value="@Model.Headers[ih]">@Model.Headers[ih]</option>

                                            }
                                            <option value="-skip-">Ignorovat</option>

                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="radio">
                                        @if (properties[ip].ToLower() == "id")
                                        {
                                            <text>
                                                <input checked="checked" type="radio" name="transform_@ip" value="normalize">Upravit na platné ID <br />
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <input checked="checked" type="radio" name="transform_@ip" value="copy">Zkopírovat bez úprav<br>
                                            </text>
                                        }
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="alert alert-danger" role="alert" id="mappingAlert" style="display:none">
                            Nepropojili jste všechny sloupce! Červeně označená pole je nutné vybrat.
                        </div>

                        <a href="createSimple" class="btn btn-default btn">Zpět</a>
                        <button type="submit" class="btn btn-warning btn" onclick="return isMappingOK();">Pokračovat na další krok</button>

                    </div>
                </div>

            </form>
        </div>
    </div>

}
