@model HlidacStatu.Web.Models.DatasetIndexStat[]

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    ViewBag.Title = "Hlídač státu";
    ViewBag.SubTitle = "Další databáze";

    var email = Request?.RequestContext?.HttpContext?.User?.Identity?.Name;
    bool showBeta = true;

    int count = 0;

    bool shownFirstBeta = false;
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/data">Další databáze</a></li>
        <li class="active">@ViewBag.SubTitle</li>
        <li class="active pull-right"><a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a></li>
    </ol>
}

<div class="bs-callout bs-callout-primary">
    <h4>Další databáze na Hlídači státu</h4>
    <div>
        Na této stránce je přehled databází, které na Hlídači státu zpracováváme sami, anebo s pomocí našich pomocníků a komunity kolem Hlídače.
    </div>
    <div>
        Data sem může zdarma nahrát každý registrovaný uživatel Hlídače státu, velmi snadno je propojit s ostatními databázemi Hlídače a zpřístupnit je tak všem.
        Data jsou na Hlídač státu nahrány pomocí <a href="/api">našeho API</a> nebo přímo z webu tlačítkem. <a href="/data/manage" class="btn btn-primary btn-sm" style="color:whitesmoke;text-decoration:none">Snadné přidání nového datasetu</a>
    </div>
    <div>
        Pokud máte tip na zajímavý zdroj dat, <a onclick="return trackOutLink(this,'data');" href="https://platforma.hlidacstatu.cz/t/datove-zdroje-vhodne-pro-zpracovani-tipy-a-napady/320" target="_blank">podělte se s ostatními</a>.
        Anebo se <a onclick="return trackOutLink(this,'data');" href="https://platforma.hlidacstatu.cz/t/datove-zdroje-vhodne-pro-zpracovani-tipy-a-napady/320" target="_blank">koukněte na nápady ostatních</a>.
    </div>
</div>

<div class="row">

    @RenderDatasets2(Model.Where(m => m.Ds.betaversion == false).OrderBy(r => r.Ds.name).ThenBy(r => r.Ds.id), email)
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Databáze v testovacím provozu</h3>
            </div>
            <div class="panel-body">
                Mohou být nefunkční, obsahovat zkušební, neúplná či testovací data.
            </div>
        </div>

    </div>
    <div style="padding-top:15px;"></div>
    @RenderDatasets2(Model.Where(m => m.Ds.betaversion == true).OrderBy(r => r.Ds.name).ThenBy(r => r.Ds.id), email)
</div>

@Html.Partial("_new")



@helper RenderDatasets2(IEnumerable<HlidacStatu.Web.Models.DatasetIndexStat> dss, string email)
{

    foreach (var ds in dss)
    {
        @RenderDataset2(ds, email, "default")
    }
}

@helper RenderDataset2(HlidacStatu.Web.Models.DatasetIndexStat dss, string email, string style)
{
    try
    {
        bool showEditBtn = (HlidacStatu.Lib.Data.External.DataSets.DataSet.Api.SuperUsers.Contains(email)
            || email == dss.Ds.createdBy
            );
        if (showEditBtn == false && dss.RecordNum < 5)
        {
            return; //don't show empty or near to empty datasets, which are not "my".
        }
        <div class="row  hover-background" style="border:0;border-bottom: 1px solid #ddd;padding: 15px 10px;">

            <div style="padding: 10px 0 30px 0">
                <div class="col-xs-12 col-sm-offset-1 col-sm-7" style="font-size:19px">
                    <a href="/data/Index/@dss.Ds.datasetId"><b>@dss.Ds.name</b></a>
                </div>
                <div class="clearfix" style="padding-bottom:10px;"></div>
                <div class="col-xs-12 col-sm-offset-1 col-sm-7">
                    @if (!string.IsNullOrEmpty(dss.Ds.description))
                    {
                        @(Devmasters.Core.TextUtil.ShortenText(dss.Ds.description.ToString(), 240, "..."))
                    }
                </div>
                <div class="col-xs-2 col-sm-2 text-muted">
                    <b>@Html.Raw(HlidacStatu.Util.RenderData.NiceNumber(dss.RecordNum, true))</b>&nbsp;záznamů
                    @Html.Raw(Devmasters.Core.Lang.Plural.GetWithZero((int)dss.RecordNumWeek, "", ", jeden&nbsp;nový", ", {0}&nbsp;nové", ", {0:### ### ###}&nbsp;nových"))
                </div>

                <div class="col-xs-12  col-sm-2">
                    @if (showEditBtn)
                    {
                        <a href="/data/Manage/@dss.Ds.datasetId" class="btn btn-info btn-sm" alt="Nastavení datasetu" title="Nastavení datasetu"><i class="far fa-cog"></i> Nastavení</a>
                    }
                </div>
            </div>
        </div>

    }
    catch (Exception e)
    {
        HlidacStatu.Util.Consts.Logger.Error("Render Dataset Index ", e);
    }

}
