@model HlidacStatu.Lib.Searching.DotaceSearchResult
@using HlidacStatu.Lib
@using Devmasters.Core
@using HlidacStatu.Web.Framework;
@using System.Linq;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Util;

<script>
    function changeOrder(sel) {
        var value = sel.value;
        window.location.href = '@Html.Raw(HlidacStatu.Lib.Searching.DotaceSearchResult.GetSearchUrl(
        this.Request.Url.Scheme + "://" + this.Request.Url.Host + this.Request.Url.AbsolutePath
        , Model.Q))&order=' + value;
    }
</script>

@if (Model?.ElasticResults?.IsValid == false || Model.ElasticResults == null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">Položený dotaz má špatnou syntaxi. Zkontrolujte, že je správně.</div>
            <div>
                Pokud si myslíte, že dotaz je v pořádku a chyba je na naší straně, @Util.FeedbackModal("napište nám prosím", "Chyba", "btn btn-link", null).
                Zkontrolujeme to.
            </div>
        </div>
    </div>
}
else
{
    @*if (Model.ShowWatchdog && Model.Q != null)
        {
            @Util.AddWatchDog(this.User, Model.Q, typeof(HlidacStatu.Lib.Data.Insolvence.Rizeni))
        }*@

    if (Model.ElasticResults == null)
    {
        <span></span>
    }
    else if (Model.ElasticResults.Total == 0)
    {
        <h2>Žádné dotace jsme nenalezli.</h2>
    }
    else if (Model.ElasticResults.Total > 0)
    {
        <hr />

        <script>
            function changeOrderDotace(sel) {
                var value = sel.value;
                window.location.href = '@Html.Raw(HlidacStatu.Lib.Searching.DotaceSearchResult.GetSearchUrl(
                                           this.Request.Url.Scheme + "://" + this.Request.Url.Host + this.Request.Url.AbsolutePath
                                           ,Model.Q))&order=' + value;
            }
        </script>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>
                    Nalezené dotace
                    <small>
                        @HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.ElasticResults.HitsMetadata.Total, false, HlidacStatu.Util.RenderData.CapitalizationStyle.FirstLetterUpperCap)
                    </small>
                </h3>
                @if (Model?.ElasticResults?.Aggregations != null && Model?.ElasticResults?.Aggregations?.ContainsKey("souhrn") == true)
                {
                    double? sum = ((Nest.ValueAggregate)Model?.ElasticResults?.Aggregations["souhrn"])?.Value;
                    <div>
                        V celkové hodnotě @HlidacStatu.Util.RenderData.NicePrice((decimal)sum). <sup>*)</sup>
                        <div class="alert alert-info" role="alert">
                            <b>*) Celková hodnota</b> je námi vypočítaná přibližná hodnota čerpaných dotací. U spousty zdrojů není tato informace správně uvedena a proto jsou v součtu vynechány.
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-6">
                <br />
                @Html.DropDownListFor(m => m.Order, Model.OrderList, new { @class = "form-control small pull-right", @id = "orderListVZ", @style = "width:60%;max-width:300px", @onchange = "changeOrderDotace(this);" })
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                @SearchResults.DotaceHead()
            </thead>
            <tbody>
                @foreach (var hit in Model.ElasticResults.Hits)
                {
                    @SearchResults.DotaceRow(User, Request, hit.Source, Model.Q)
                }
            </tbody>
        </table>


        <div class="text-center">
            <ul class="pagination pagination-lg">
                @{

                    int page = Model.Page;
                    string firstPageClass = "";
                    string lastPageClass = "";

                    if (page <= 1)
                    {
                        page = 1;
                    }
                    if (page == 1)
                    {
                        firstPageClass = "disabled";
                    }
                    if (Model.ElasticResults.Total < page * Model.DefaultPageSize())
                    {
                        lastPageClass = "disabled";
                    }
                    Model.Page = page;

                }
                @if (string.IsNullOrEmpty(firstPageClass)) //jde jit na predchozi stranku, neni to "disabled"
                {
                    <li class="@firstPageClass">
                        @Html.ActionLink("« Předchozí", "hledat", "dotace", Model.ToRouteValues(page - 1), null)
                    </li>
                }
                @if (string.IsNullOrEmpty(lastPageClass)) //jde jit na dalsi stranku, neni to "disabled"
                {
                    <li class="@lastPageClass">
                        @Html.ActionLink("Následující »", "hledat", "dotace", Model.ToRouteValues(page + 1), null)
                    </li>
                }
                <li>
                    @Util.ExportButton(this.User, "dotace", Model.Q, Model.Order)
                   )
                </li>
            </ul>
        </div>

        

    }
}

<div style="margin-bottom:50px;"></div>
