
@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    ViewBag.Title = "Hlídač politických financí";
    ViewBag.SubTitle = "Hlídáme je, protože si to zaslouží!";

    var ucty = HlidacStatu.Lib.Data.TransparentniUcty.BankovniUcty
               .GetAll().ToArray();
    //var typysubj = ucty.Select(m => m.TypSubjektu ?? "").Distinct().ToArray();
    var typySubjektu = ucty
                        .GroupBy(g => g.TypSubjektu, (s, bu) => new { typ = s, num = bu.Count() })
                        .OrderByDescending(m => m.num)
                        .ToArray();



}
@section scripts
{
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }

    <div class="bs-callout bs-callout-primary">
        <h4>Transparentní účty politických stran, hnutí a osobností</h4>
        <p>
            Zde budeme přehledně zobrazovat příjmy a výdaje z transparentních účtů politických stran, hnutí a osobností kandidujících ve volbách.
            Údaje budeme kontrolovat zejména ve vztahu k <a href="https://www.hlidacstatu.cz/texty/hlidac-volebnich-kampani/">volebnímu zákonu, který používání Transparentních účtu přikazuje</a>.
        </p>
        <p>
            Postupně přidáme analýzy příjmů, výdajů, sponzorujících osob a firem.
        </p>
    </div>



    <h3>Aktuálně: <a href="/ucty/prezidenti"><b>Nejvyšší dary, které dostali na bankovní účty prezidentští kandidáti.</b></a></h3>

    <div class="row">
        <div class="col-sm-4 col-xs-12" style="border-right: 1px #ddd solid;">
            <h3>Typy sledovaných subjektů</h3>


            @foreach (var item in typySubjektu)
            {
                switch (item.typ)
                {
                    case "Politická strana":
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/ucty/subjektyTypu?id=Politick%C3%A1+strana"><b>Politické strany</b></a> (@HlidacStatu.Util.PluralForm.Get(item.num, "{0} strana;{0} strany;{0} stran"))
                                    <ul>
                                        <li><a href="/ucty/ucty?id=ANO+2011">ANO 2011</a></li>
                                        <li><a href="/ucty/ucty?id=ČSSD">ČSSD</a></li>
                                        <li><a href="/ucty/ucty?id=KSČM">KSČM</a></li>
                                        <li><a href="/ucty/ucty?id=ODS">ODS</a></li>
                                        <li><a href="/ucty/ucty?id=TOP+09">TOP 09</a></li>
                                        <li><a href="/ucty/ucty?id=KDU-ČSL">KDU-ČSL</a></li>
                                        <li><a href="/ucty/ucty?id=Svoboda+a+př%C3%ADmá+demokracie">Svoboda a přímá demokracie</a></li>
                                        <li><a href="/ucty/ucty?id=Česká+pirátská+strana">Česká pirátská strana</a></li>
                                        <li><a href="/ucty/ucty?id=Starostové+a+nezávisl%C3%AD">Starostové a nezávislí</a></li>
                                        <li><a href="/ucty/subjektyTypu?id=Politick%C3%A1+strana">... @HlidacStatu.Util.PluralForm.Get(item.num - 9, "další strana;další {0} strany;dalších {0} stran")</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        break;
                    case "Prezidentský kandidát":
                        <div>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="/ucty/subjektyTypu?id=Prezidentský+kandidát"><b>Kandidáti na prezidenta</b></a> (@HlidacStatu.Util.PluralForm.Get(item.num, "{0} kandidát;{0} kandidáti;{0} kandidátů"))
                                    <ul>
                                        <li><a href="/ucty/ucty?id=Jiř%C3%AD+Drahoš">Jiří Drahoš</a></li>
                                        <li><a href="/ucty/ucty?id=Michal+Horáček">Michal Horáček</a></li>
                                        <li><a href="/ucty/ucty?id=Miloš+Zeman">Miloš Zeman</a></li>
                                        <li><a href="/ucty/ucty?id=Mirek+Topolánek">Mirek Topolánek</a></li>
                                        <li><a href="/ucty/subjektyTypu?id=Prezidentský+kandidát">... @HlidacStatu.Util.PluralForm.Get(item.num - 3, "další kandidát;další {0} kandidáti;dalších {0} kandidátů")</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        break;
                    default:
                        <span>
                            <a href="/ucty/subjektyTypu?id=@(System.Net.WebUtility.UrlEncode(item.typ))"><b>@item.typ</b></a> (@HlidacStatu.Util.PluralForm.Get(item.num, "{0} subjekt;{0} subjekty;{0} subjektů"))<br />
                        </span>
                        break;
                }
            }

        </div>
		<div class="col-sm-4 col-xs-12" style="border-right: 1px #ddd solid;">
			<h3>Největší sponzoři za poslední měsíc</h3>
			@{

				foreach (var sponzori in HlidacStatu.Web.Framework.Shared.Data.TopSponzoriOsoby.Get().GroupBy(s => s.Strana))
				{

					<h4><a href="/ucty/ucty?id=@System.Net.WebUtility.UrlEncode(sponzori.Key)">@sponzori.Key</a></h4>
					<div style="padding-left: 20px">

						@foreach (var sponzor in sponzori)
						{
						<div>
							<b>@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(sponzor.CastkaCelkem, html: true))</b>
							od
							<a href="@sponzor.Sponzor.GetUrl(true)">@sponzor.Sponzor.FullName()</a>
						</div>
						}
					</div>
				}
			}


		</div>
        <div class="col-sm-4 col-xs-12">
            <h3>Nejvyšší transakce za poslední měsíc</h3>
            @{
                var res = HlidacStatu.Lib.ES.Manager.GetESClient_BankovniPolozky()
                        .Search<HlidacStatu.Lib.Data.TransparentniUcty.BankovniPolozka>(a => a
                            .Size(25)
                            .From(0)
                            .Query(q => q
                                .DateRange(dr => dr.GreaterThan("now-1M/d").Field(f => f.Datum))
                                )
                            .Sort(s => s.Descending(ss => ss.Castka))
                            );

                foreach (var item in res.Hits)
                {
                    <div>
                        <b>@HlidacStatu.Util.RenderData.ShortNicePrice(item.Source.Castka)</b> (@item.Source.Datum.ToString("dd. MM. yy"))
                    </div>
                    <div style="padding-left:20px;">
                        pro @item.Source.BU.Subjekt
                        <a href='@item.Source.GetUrl(false)'><span style="font-weight:normal;" class='glyphicon glyphicon-info-sign' aria-hidden='true'></span></a>

                    </div>

                }

            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right"><a href="https://www.hlidacstatu.cz/api/v1/TransparentniUctyExport" target="_blank">Export účtů do JSON</a></div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="alert alert-warning" role="alert">Zkušební provoz, data bez záruky!</div>
