@model string
@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;

@{
    ViewBag.Title = "Transparetní účty - " + Model;

}
@section scripts
{
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/ucty">Hlídač financí</a></li>
        <li class="active">@Model</li>
    </ol>
    }
    <div class="row">
        <h2>@Model</h2>

        @{
            var subjekty = HlidacStatu.Lib.Data.TransparentniUcty.BankovniUcty
                        .GetAll()
                        .Where(m => m.TypSubjektu == Model)
                        .GroupBy(g => g.Subjekt, (s, bu) => new { subjekt = s, numUctu = bu.Count(), numTransakci = bu.Sum(b => b.NumOfTransactions()) })
                        .OrderBy(m => m.subjekt);


            if (subjekty.Count() > 15)
            {
                var casti = subjekty.Chunk((subjekty.Count() / 10) + 1);
                int columnCount = -1;
                string firstChar = "";
                string borderstyle = "";
                foreach (var cast in casti)
                {
                    columnCount++;
                    if (columnCount % 3 == 0)
                    {
                        <div class="clearfix"></div>
                        <hr />
                    }
                    if (columnCount % 3 == 0 || columnCount % 3 == 1)
                    {
                        borderstyle = "border-right: 1px #ddd solid;";
                    }
                    <div class="col-sm-4 col-xs-6" style="@borderstyle">
                        @foreach (var item in cast)
                        {
                            string ch1 = Devmasters.Core.TextUtil.RemoveDiacritics(item.subjekt.First().ToString()).ToUpper();
                            if (ch1 != firstChar)
                            {
                                firstChar = ch1;
                                <div style="font-size:150%;font-weight:bold">@ch1</div>
                            }
                            <div>
                                <a href="/ucty/ucty?id=@(System.Net.WebUtility.UrlEncode(item.subjekt))">@item.subjekt</a>
                                <div class="text-muted">
                                    (@HlidacStatu.Util.PluralForm.Get((int)item.numUctu, "{0} účet;{0} účty;{0} účtů");
                                    @HlidacStatu.Util.PluralForm.Get((int)item.numTransakci, "{0} transakce;{0} transakce;{0} transakcí"))
                                </div>
                            </div>
                        }

                    </div>

                }
                <div class="clearfix"></div>
            }
            else
            {
                <div class="col-sm-4 col-xs-6">
                    <h3>@Model</h3>

                    @foreach (var item in subjekty)
                    {
                        <div>
                            <a href="/ucty/ucty?id=@(System.Net.WebUtility.UrlEncode(item.subjekt))">@item.subjekt</a><br />
                            <div class="text-muted">
                                (@HlidacStatu.Util.PluralForm.Get((int)item.numUctu, "{0} účet;{0} účty;{0} účtů");
                                @HlidacStatu.Util.PluralForm.Get((int)item.numTransakci, "{0} transakce;{0} transakce;{0} transakcí"))
                            </div>
                        </div>
                    }

                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right"><a href="https://www.hlidacstatu.cz/api/v1/TransparentniUctyExport" target="_blank">Export účtů do JSON</a></div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="alert alert-warning" role="alert">Data bez záruky!</div>
