@using HlidacStatu.Lib;
@using System.Linq;
@using HlidacStatu.Web.Models;
@using G = HlidacStatu.Lib.Data

@model PeopleListViewModel

@{
	var tableId = $"people-list-{Model.Typ}";
}

<table class="table table-condensed table-striped" id="@tableId">
	<thead>
		<tr>
			<th>Jméno</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Osoby)
		{
			var hasIco = !string.IsNullOrEmpty(item.Osoba.ICO);

			<tr>
				<td>
					@Html.Raw(item.Osoba.ToHtml())
					@if (!string.IsNullOrEmpty(item.Osoba.ICO))
					{
						<div class="small text-info">
							@statisticsForIco(item.Osoba.ICO)
						</div>
					}
					@if (item.DisplayLinkToRizeni)
					{
						<div class="text-info" style="padding-top:10px; font-weight:bold; text-align:right">
							<a href="@Url.Action("Rizeni", "Insolvence", new { id = item.UrlId })">
								Insolvenční řízení @item.SpisovaZnacka <i class="glyphicon glyphicon-arrow-right"></i>
							</a>
						</div>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.ShowAsDataTable)
{
<script>
		$(document).ready(function () {
			$('#@tableId').DataTable({
				'language': {
					'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json'
				},
				'order': [],
				'lengthChange': false,
				'info': false,
			});
		});
</script>
}

@functions {

	HtmlString statisticsForIco(string ico)
	{
		var stat = HlidacStatu.Lib.Analysis.ACore.GetBasicStatisticForICO(ico);
		var pocetSmluv = HlidacStatu.Util.PluralForm.Get((int)stat.Summary.Pocet, "{0} smlouvu;{0} smlouvy;{0} smluv");
		var smlouvyText = $" - Nalezeli jsme {pocetSmluv} v Registru smluv o celkové hodnotě <strong>{HlidacStatu.Util.RenderData.NicePrice(stat.Summary.CelkemCena, mena: "Kč")}</strong>.";

		var sponzori = StaticData.SponzorujiciFirmy_Vsechny.Get().Where(s => s.ICO == ico).Select(s => s.Title);
		var sponzoriText = sponzori.Any() ? $"<br /> - {string.Join(". ", sponzori)}" : "";

		var vazby = new List<int>();
		StaticData.FirmySVazbamiNaPolitiky_vsechny_Cache.Get().SoukromeFirmy.TryGetValue(ico, out vazby);
		var politici = vazby == null ? new List<G.Osoba>() : StaticData.Politici.Get()?.Where(p => vazby.Contains(p.InternalId)) ?? new List<G.Osoba>();
		var maji = HlidacStatu.Util.PluralForm.Get(politici.Count(), "má;mají;mají");
		var provazaniPolitici = politici.Any() ? $"<br /> - {string.Join(", ", politici.Select(p => $"<a href='/osoba/{p.NameId}'>{p.FullName()}</a>"))} {maji} vazby na tuto firmu." : "";

		return new HtmlString($"{smlouvyText}{sponzoriText}{provazaniPolitici}");
	}

}