@using System.Linq;
@model HlidacStatu.Web.Models.DokumentyViewModel

@{
	ViewBag.Title = "Insolvenční řízení " + Model.SpisovaZnacka;
	ViewBag.SubTitle = "Dokumenty";
}

@section breadcrumb
{
<ol class="breadcrumb">
	<li><a href="/">Hlídač Státu</a></li>
	<li><a href="@Url.Action("Index", "Insolvence")">Hlídač Insolvencí</a></li>
	<li><a href="@Url.Action("Rizeni", "Insolvence", new { id = Model.UrlId })">Insolvence @Model.SpisovaZnacka</a></li>
	<li class="active">Dokumenty</li>
</ol>
}
@Html.Partial("_SearchForm", new HlidacStatu.Lib.ES.InsolvenceSearchResult())


<h2>
	Dokumenty k řízení @Model.SpisovaZnacka
</h2>

@if (!HlidacStatu.Web.Framework.LimitedAccess.IsAuthenticatedOrSearchCrawler(this.Request))
{
	<h3>Omezený přístup pouze pro registrované uživatele.</h3>
	<p>
		Podrobné informace o insolvencích jsou dostupné pouze registrovaným uživatelům Hlídače Státu.
		<b>Registrace je zdarma a je velmi jednoduchá</b>. Stačí vám pouze platný email.
	</p>
	<p>Pokud jste již zaregistrováni, <a href="/account/Login?returnUrl=@(this.Url.Action())" class="btn btn-default">zalogujte se</a>. </p>
	<p>
		<a href="/account/Register?returnUrl=@(this.Url.Action())" class="btn btn-primary">Zaregistrovat se</a>
	</p>
	<script>
		$(function () {
			$("#VZInfoAnon").modal('show');
		});
	</script>
}
else
{
	<h3>Oddíl A - Řízení do úpadku</h3>
	@Html.Partial("_OddilDokumenty", Model.Dokumenty.Where(d => d.Oddil != null && d.Oddil.StartsWith("A")).ToArray())

	<h3>Oddíl B - Řízení po úpadku	</h3>
	@Html.Partial("_OddilDokumenty", Model.Dokumenty.Where(d => d.Oddil != null && d.Oddil.StartsWith("B")).ToArray())

	<h3>Oddíl C - Incidenční spory</h3>
	@Html.Partial("_OddilDokumenty", Model.Dokumenty.Where(d => d.Oddil != null && d.Oddil.StartsWith("C")).ToArray())

	<h3>Oddíl D - Ostatní</h3>
	@Html.Partial("_OddilDokumenty", Model.Dokumenty.Where(d => d.Oddil == null || d.Oddil != null && d.Oddil.StartsWith("D")).ToArray())

	<h3>Oddíl P - Přihlášky</h3>
	@Html.Partial("_OddilDokumenty", Model.Dokumenty.Where(d => d.Oddil != null && d.Oddil.StartsWith("P")).ToArray())
}
