@using Nest;
@using HlidacStatu.Lib;
@using HlidacStatu.Util;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Web.Models;
@using HlidacStatu.Lib.Data.Insolvence;
@using HlidacStatu.Lib.Render;

@model HlidacStatu.Web.Models.InsolvenceIndexViewModel


@{
    Layout = null;



}


<div class="row">
    <div class="col-xs-12">

        <div class="cross-stats">
            <div class="cross-stats__list">
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats">
                        <div class="box-stats__inner">
                            <div class="box-stats__content">
                                @{
                                    AggregationContainerDescriptor<HlidacStatu.Lib.Data.Insolvence.Rizeni> aggs =
                                    new AggregationContainerDescriptor<HlidacStatu.Lib.Data.Insolvence.Rizeni>()
                                        .DateHistogram("x-agg", h => h
                                            .Field(f => f.DatumZalozeni)
                                            .CalendarInterval(Nest.DateInterval.Month)
                                            .Format("yyyy-MM-dd")
                                        );
                                    DateTime minDate = new DateTime(DateTime.Now.Year - 1, DateTime.Now.Month, 1);
                                    DateTime thisMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                                    DateTime nextMonth = thisMonth.AddMonths(1);
                                    string query = "-stav:\"MYLNÝ ZÁP.\" OR -stav:\"ZRUŠENO VS\"";
                                    var res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:[" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO " + HlidacStatu.Util.RenderData.ToElasticDate(nextMonth) + "}",
                                        1, 0, 0, limitedView: false, anyAggregation: aggs);

                                    IEnumerable<ReportDataTimeValue> data = ((BucketAggregate)res.Result.Aggregations["x-agg"]).Items
                                        .Cast<Nest.DateHistogramBucket>()
                                        .Select(m => new ReportDataTimeValue()
                                        {
                                            Date = m.Date,
                                            Value = m.DocCount ?? 0
                                        });
                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(data.Sum(m => m.Value))</strong><br>
                                    Podaných insolvencí za rok
                                </p>
                                <p class="box-stats__progress">
                                    + @HlidacStatu.Util.RenderData.NiceNumber(data.Where(m => m.Date == thisMonth).FirstOrDefault()?.Value ?? 0) <br>
                                    <span class="box-stats__progress-unit">tento měsíc</span>
                                    <span class="box-stats__progress-icon">
                                        <i class="far fa-arrow-up"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="box-stats__media">
                                @UtilChart.RenderSimpleTimeChart(data.Where(m => m.Date < thisMonth), 230, 135, "Počet nových insolvencí", true)

                                @*<img src="/Content/temp/stats-graph.png" width height alt class="box-stats__image">*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats">
                        <div class="box-stats__inner">
                            <div class="box-stats__content">
                                @{
                                    int[] vals = new int[] { 174, 175 };

                                    aggs = new AggregationContainerDescriptor<HlidacStatu.Lib.Data.Insolvence.Rizeni>()
                                        .Filter("typ", fi => fi
                                             .Filter(fii => fii.Terms(fiit => fiit.Field("dokumenty.typUdalosti").Terms(vals)))
                                             .Aggregations(agg2 => agg2
                                                 .DateHistogram("x-agg", h => h
                                                     .Field("dokumenty.datumVlozeni")
                                                     .CalendarInterval(Nest.DateInterval.Month)
                                                     .Format("yyyy-MM-dd")
                                                )
                                            )
                                        );

                                    query = "(dokumenty.typUdalosti:174 OR dokumenty.typUdalosti:175)";
                                    res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:[" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO " + HlidacStatu.Util.RenderData.ToElasticDate(nextMonth) + "}",
                                        1, 0, 0, limitedView: false, anyAggregation: aggs);
                                    var typ = ((SingleBucketAggregate)res.Result.Aggregations["typ"])
                                        .First().Value;
                                    data = ((BucketAggregate)typ).Items
                                        .Cast<Nest.DateHistogramBucket>()
                                        .Select(m => new ReportDataTimeValue()
                                        {
                                            Date = m.Date,
                                            Value = m.DocCount ?? 0
                                        });
                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(data.Sum(m => m.Value))</strong><br>
                                    Počet schválených oddlužení za rok
                                </p>
                                <p class="box-stats__progress">
                                    + @HlidacStatu.Util.RenderData.NiceNumber(data.Where(m => m.Date == thisMonth).FirstOrDefault()?.Value ?? 0) <br>
                                    <span class="box-stats__progress-unit">tento měsíc</span>
                                    <span class="box-stats__progress-icon">
                                        <i class="far fa-arrow-up"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="box-stats__media">
                                @UtilChart.RenderSimpleTimeChart(data, 230, 135, "Počet schválených oddlužení", true)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats box-stats--middle">
                        <div class="box-stats__inner">
                            <div class="box-stats__icon">
                                <i class="far fa-users"></i>
                            </div>
                            <div class="box-stats__content">
                                @{
                                    minDate = DateTime.Now.Date.AddDays(-29);
                                    query = "dluznici.typ:\"F\" AND (-stav:\"MYLNÝ ZÁP.\" OR -stav:\"ZRUŠENO VS\")";
                                    res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:[" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO " + HlidacStatu.Util.RenderData.ToElasticDate(nextMonth) + "}",
                                        1, 0, 0, limitedView: false);
                                    decimal lastM = res.Total;

                                    var maxDate = minDate;
                                    minDate = maxDate.AddDays(-28);
                                    query = "dluznici.typ:\"F\" AND (-stav:\"MYLNÝ ZÁP.\" OR -stav:\"ZRUŠENO VS\")";
                                    res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:{" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO " + HlidacStatu.Util.RenderData.ToElasticDate(maxDate) + "}",
                                        1, 0, 0, limitedView: false);

                                    decimal prevM = res.Total;
                                    decimal rozdil = prevM == 0 ? 1 : (lastM - prevM) / prevM;
                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(lastM)</strong><br>
                                    Počet osob v insolvenci za poslední měsíc
                                </p>
                            </div>
                            <div class="box-stats__side">
                                <p class="box-stats__progress box-stats__progress--icon-right">
                                    @(rozdil.ToString("P1"))
                                    <span class="box-stats__progress-icon">
                                        <i class="far fa-arrow-@(rozdil<0 ? "down" : "up")"></i>
                                    </span>
                                    <br />
                                    <span class="box-stats__progress-unit">oproti předchozímu</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats box-stats--middle">
                        <div class="box-stats__inner">
                            <div class="box-stats__icon">
                                <i class="far fa-file-alt"></i>
                            </div>
                            <div class="box-stats__content">
                                @{
                                    minDate = DateTime.Now.Date.AddDays(-29);
                                    query = "dluznici.typ:\"P\" AND (-stav:\"MYLNÝ ZÁP.\" OR -stav:\"ZRUŠENO VS\")";
                                    res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:{" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO *}",
                                        1, 0, 0, limitedView: false);
                                    lastM = res.Total;

                                    maxDate = minDate;
                                    minDate = maxDate.AddDays(-28);
                                    query = "dluznici.typ:\"PF\" AND (-stav:\"MYLNÝ ZÁP.\" OR -stav:\"ZRUŠENO VS\")";
                                    res = HlidacStatu.Lib.Data.Insolvence.Insolvence.SimpleSearch(
                                        "( " + query + " ) AND datumZalozeni:{" + HlidacStatu.Util.RenderData.ToElasticDate(minDate) + " TO " + HlidacStatu.Util.RenderData.ToElasticDate(maxDate) + "}",
                                        1, 0, 0, limitedView: false);

                                    prevM = res.Total;
                                    rozdil = prevM == 0 ? 1 : (lastM - prevM) / prevM;
                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(lastM)</strong><br>
                                    Počet firem v insolvenci za poslední měsíc
                                </p>
                            </div>
                            <div class="box-stats__side">
                                <p class="box-stats__progress box-stats__progress--icon-right">
                                    @(rozdil.ToString("P1"))
                                    <span class="box-stats__progress-icon">
                                        <i class="far fa-arrow-@(rozdil<0 ? "down" : "up")"></i>
                                    </span>
                                    <br />
                                    <span class="box-stats__progress-unit">oproti předchozímu</span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- politici -->
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats box-stats--middle">
                        <div class="box-stats__inner">
                            <div class="box-stats__content">
                                @{
                                    var sql = @"select r.spisovaznacka, r.stav, r.datumZalozeni, r. posledniZmena, o.nameid from insolvence..Dluznici d
                                                                            inner join Osoba o
                                                                                on d.OsobaId collate Czech_CI_AS = o.NameId and o.Status=3
                                                                            inner join insolvence..rizeni r
                                                                                on d.rizeniId = r.spisovaznacka and (stav != 'MYLNÝ ZÁP.' OR stav!='ZRUŠENO VS')
                                                                        where osobaid is not null and OsobaId != ''
                                                                        and d.Typ='F'";

                                    var politici = HlidacStatu.Lib.DirectDB
                                                    .GetList<string, string, DateTime, DateTime, string>(sql)
                                                    .GroupBy(k => k.Item5, v => new Tuple<string, string, DateTime, DateTime>
                                                                   (v.Item1, v.Item2, v.Item3, v.Item4));
                                    var sb = new System.Text.StringBuilder();

                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(politici.Count())</strong><br>
                                    @Devmasters.Core.Lang.Plural.Get(politici.Count(), "Politik", "Politici", "Politiků") v insolvenci
                                </p>
                            </div>
                            <div class="box-stats__media">
                                <div style="display:block">
                                    @foreach (var p in politici)
                                    {
                                        var o = HlidacStatu.Lib.Data.Osoby.GetByNameId.Get(p.Key);
                                        sb.AppendLine($"<b>{o.FullNameWithYear()}</b><br/>");
                                        sb.AppendLine($"<div class='text-muted small-link' style='padding-left:2em;'>");

                                        sb.AppendLine(p.OrderBy(oo => oo.Item4).Select(m => $"<a href='{Rizeni.GetUrlFromId(m.Item1)}'>{m.Item1}</a> /z {m.Item4.ToString("yyyy")}/").Aggregate((f, s) => f + "<br/>" + s));
                                        sb.AppendLine("</div>");
                                    }
                                    @Util.LowBox(80, sb.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cross-stats__item cross-stats__item--half-md">
                    <div class="box-stats box-stats--middle">
                        <div class="box-stats__inner">
                            <div class="box-stats__content">
                                @{
                                    var insolvenceFiremPolitiku = HlidacStatu.Lib.StaticData.Insolvence_firem_politiku_Cache.Get()
                                                        .OrderByDescending(o=>o.Item1.ToBasicData().CelkemCena);

                                    var firmyPolitikuVInsolvenci = HlidacStatu.Lib.StaticData.Insolvence_firem_politiku_Cache.Get()
                                                        .Select(m => m.Item2.Select(d => d.VybraniDluznici))
                                                        .SelectMany(m => m)
                                                        .Distinct();
                                    sb.Clear();
                                }
                                <p class="box-stats__title">
                                    <strong>@HlidacStatu.Util.RenderData.NiceNumber(firmyPolitikuVInsolvenci.Count())</strong><br>
                                    @Devmasters.Core.Lang.Plural.Get(firmyPolitikuVInsolvenci.Count(),"Firma","Firmy","Firem") s vazbou na politiky<sup>*)</sup> v insolvenci
                                    <br/> <span class="text-muted small">(vypisujeme náhodný výběr)</span>
                                </p>
                            </div>
                            <div class="box-stats__media">
                                <div style="display:block">
                                    @foreach (var p in insolvenceFiremPolitiku.Take(20).Shuffle())
                                        {
                                            var pd = new Devmasters.Core.Lang.PluralDef() { Values = new string[] { " a ještě jedna", "{0} další","{0} dalších" } };
                                            var o = p.Item1.Osoba();
                                            sb.AppendLine($"<b>{o.FullNameWithYear()}</b><br/>");
                                            sb.AppendLine($"<div class='text-muted small-link' style='padding-left:2em;'>");

                                            sb.AppendLine(
                                                RenderData.LimitedList(
                                                    2,
                                                    p.Item2.OrderByDescending(oo => oo.Zahajeni)
                                                        .Select(m => $"<a href='{Rizeni.GetUrlFromId(m.SpisovaZnacka)}'>"
                                                            + $"{Devmasters.Core.TextUtil.ShortenText(HlidacStatu.Lib.Data.Firmy.Get(m.VybraniDluznici.First()).Jmeno,20)}</a>"
                                                            + $" /z {m.Zahajeni.ToString("yyyy")}/"),
                                                    "{0}","<br/>",
                                                    moreTextPrefix:"<br/>a ",
                                                    morePluralForm: pd)
                                            );
                                        sb.AppendLine("</div>");
                                    }
                                    @Util.LowBox(80, sb.ToString())
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@Html.Partial("_SearchForm", new HlidacStatu.Lib.Searching.InsolvenceSearchResult())










