@model ZabHost

@using Nest;
@using HlidacStatu.Lib;
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Lib.Data.External.Zabbix;

@{
    ViewBag.Title = "Hlídač " + Model.publicname;
    ViewBag.SubTitle = "Týdenní dostupnost pro " + Model.publicname;

    int hoursBack = 48;
    DateTime backHours = DateTime.Now.AddHours(-1 * hoursBack);

    ZabHostAvailability web = null;
    ZabHostSslStatus webssl = null;
    try
    {
        web = ZabTools.GetHostAvailabilityLong(Model);
        webssl = ZabTools.SslStatusForHostId(web.Host.hostid);
    }
    catch (Exception)
    {
    }



}
@section scripts
{
    <script src="/scripts/highcharts-6/highcharts.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/data.js"></script>
    <script src="/scripts/highcharts-6/modules/boost-canvas.js"></script>
    <script src="/scripts/highcharts-6/modules/boost.js"></script>
    @UtilWebyChart.ChartSharedJavascript()

    <style>
        .avail_OK {
            color: @(ZabAvailability.GetStatusChartColor(Statuses.OK));
        }
        .avail_Pomale {
            color: @(ZabAvailability.GetStatusChartColor(Statuses.Pomalé));
        }
        .avail_Nedostupne {
            color: @(ZabAvailability.GetStatusChartColor(Statuses.Nedostupné));
        }
    </style>

}



@if (web == null)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Chyba!</h3>
        </div>
        <div class="panel-body">
            Data dostupnosti webů nejsou v tuto chvíli k dispozici. Omlouváme se, zkuste to znovu za 5 minut.
        </div>
    </div>
}
else
{
    @section breadcrumb
{
        <ol class="breadcrumb">
            <li><a href="/">Hlídač Státu</a></li>
            <li><a href="@Url.Action("Index", "Weby")">Hlídač Webů</a></li>
            <li class="active">@ViewBag.SubTitle</li>
        </ol>
        }


        <h2>
            @(web.Host.publicname)
            <br /><small><a href="@web.Host.url" target="_blank" onclick="return trackOutLink(this,'statniweby/info');">@web.Host.url</a></small>
        </h2>
        <p class="lead">
            @web.Host.urad. @Html.Raw(web.Host.popis)
        </p>
        <hr />
        if (webssl != null && webssl.Status().HasValue)
        {

        <h3>Zabezpečení komunikace</h3>
        <div class="row">
            <div class="col-xs-3 col-sm-2 text-center">
                @Html.Raw(ZabTools.StatusHtml(webssl.Status(), 80))
                <div class="text-muted small text-center">
                    @webssl.Time.ToString("dd.MM.yyyy")
                </div>
                <div class="text-muted small text-center">
                    <a href="https://www.ssllabs.com" onclick="return trackOutLink(this,'statniweby/info');">&copy; Qualys, Inc</a>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10">
                <div class="bs-callout bs-callout-@(ZabTools.StatusStyleColor(webssl.Status()))" style="margin:0;">
                    <h4>Výsledek analýzy HTTPS na @web.Host.UriHost()</h4>
                    @if (webssl.Status() == SSLLabsGrades.X)
                    {
                        <p>
                            Tato služba zabezpečenou komunikaci nepodporuje.
                        </p>
                    }
                    else if (webssl.Status().HasValue)
                    {
                        <p>
                            @ZabTools.StatusDescription(webssl.Status().Value, true)
                        </p>
                        <p>
                            <a target="_blank" href="https://www.ssllabs.com/ssltest/analyze.html?d=@(webssl.Host.UriHost())" onclick="return trackOutLink(this,'statniweby/info');">Podrobná zpráva o ratingu zabezpečení</a> (anglicky) z SSL Labs (&copy; Qualys, Inc)
                        </p>
                    }
                </div>
            </div>
        </div>
        <hr />
        }

        <h3>Dostupnost za poslední týden</h3>
        <p>
            V období od @web.Statistics().MinDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")
            do @web.Statistics().MaxDate.ToLocalTime().ToString("dd.MM.yyyy HH:mm")

            běžela služba <span class="avail_OK">v pořádku po @web.Statistics().PercentOfTime.OK.ToString("P2")</span> doby.
            @if (web.Statistics().PercentOfTime.Pomale > 0)
            {
                <text>
                    <span class="avail_Pomale">
                        Pomalu běžela
                        @web.Statistics().PercentOfTime.Pomale.ToString("P2")
                    </span>
                    (tj. celkem @HlidacStatu.Lib.RenderTools.FormatAvailability(web.Statistics().DurationTotal.Pomale, RenderTools.DateTimePart.Hour)).
                </text>
            }
            @if (web.Statistics().PercentOfTime.Nedostupne > 0)
            {
                <text>
                <p>
                    <span class="avail_Nedostupne">
                        Nedostupná byla
                        @web.Statistics().PercentOfTime.Nedostupne.ToString("P2")
                    </span>
                    (tj. celkem @HlidacStatu.Lib.RenderTools.FormatAvailability(web.Statistics().DurationTotal.Nedostupne, RenderTools.DateTimePart.Hour)).
                    Nejdelší výpadek trval @HlidacStatu.Lib.RenderTools.FormatAvailability(web.Statistics().LongestDuration.Nedostupne, RenderTools.DateTimePart.Hour).
                </p>
                </text>
            }
            else
            {
                <text>
                    Služba v tomto období neměla žádný výpadek.
                </text>

            }
            @if (web.Statistics().PercentOfTime.Unknown > 0.1m)
            {
                <p>
                    V @web.Statistics().PercentOfTime.Unknown.ToString("P2") času se nám nepodařilo odezvu serveru změřit z důvodu neschopnosti připojit se k serveru či z důvodů chybového návratového kódu serveru.

                </p>
            }
            </p>
            <hr />

            <h2>
                Graf dostupnosti <small>
                    Dostupnost
                    Období od @web.Statistics().MinDate.ToString("dd.MM.yyyy HH:mm")
                    do @web.Statistics().MaxDate.ToString("dd.MM.yyyy HH:mm")
                </small>
            </h2>
            <div class="row">
                <div class="col-xs-12">
                    @UtilWebyChart.Chart("w" + web.Host.hostid, 7 * 24, 190, true, web.Host.hash)
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="text-right">
                        <a href="@Url.Action("data", "weby",new { Id=Model.hostid, h = Model.hash })">Stahnout dostupnost v JSON (Open Data)</a>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>

            @UtilWebyChart.TableNextGroups("")



            <div class="bs-callout bs-callout-primary">
                <h4>Hlídání dostupnosti státní webů. Co to vlastně děláme?</h4>
                <p>
                    Měříme každou minutu, zda důležité weby státu vůbec běží, a pokud ano, tak jak rychle odpovídají. A tomu odpovídají i zobrazené barvy.
                    Pokud služba odpovídá rychle, dáváme <b style="color:@(ZabAvailability.GetStatusChartColor(Statuses.OK))">zelenou - v pořádku</b>.
                    Pokud odpovídá déle, dáváme <b style="color:@(ZabAvailability.GetStatusChartColor(Statuses.Pomalé))">oranžovou - pomalá odpověď.</b>.
                    Pokud neodpoví nebo odpoví za dlouhou dobu, použijeme <b style="color:@(ZabAvailability.GetStatusChartColor(Statuses.Nedostupné))">červenou za nedostupnost</b>.
                </p>
                <p>
                    Systém hodnocení HTTPS je jednoduchý: A+ je nejlepší známka, F nejhorší, M znamená špatné jméno serveru v certifikátu, T znamená špatný certifikát, X že zabezpečený přenos není vůbec podporován.
                </p>
                <p>
                    <a href="@Url.Action("JakMerime", "Weby")">Podrobný popis měření a hodnocení</a>.
                </p>
            </div>



            <p class="text-muted">Údaje na této stránce mohou být až 20 minut staré.</p>




    }
    @section footerscripts{
    }

