@model object
@{
}


<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("EditSmlouva", "Manage", FormMethod.Post, new { @id="jsonForm", @class = "form-inline", role = "form" }))
        {
            @Html.Hidden("oldJson", Newtonsoft.Json.JsonConvert.SerializeObject(Model))
            @Html.Hidden("id", (string)ViewBag.objectId)
            @Html.Hidden("type", (string)ViewBag.objectType)
            <h3>Editor smlouvy</h3>

            <div id="alertPlace" class="bg-danger"></div>
             <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#homeTab" aria-controls="homeTab" role="tab" data-toggle="tab">Editor</a></li>
                <li role="presentation"><a href="#jsonTab" aria-controls="jsonTab" role="tab" data-toggle="tab">JSON</a></li>
            </ul>

          <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="homeTab">
                    <div id="jsonEditor" class="json-editor"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="jsonTab">
                    <textarea id="jsonRaw" name="jsonRaw" style="max-width:none;width:100%;max-height:680px;height:680px;box-sizing: border-box;min-height: 31px;overflow-x: hidden;"></textarea>
                </div>
            </div>

            <button type="button" onclick="SaveForm();" class="btn btn-info">Uložit</button>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

<link rel="stylesheet" href="/content/jsoneditor.css" />
<script src="/scripts/jquery.jsoneditor.js"></script>
<script src="/scripts/jquery.textarea_autosize.min.js"></script>


    <script>
        var jsonObj = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        var jsonEditorOpt = { 
            change: printJSON,
            //propertyclick: function(path) { /* called when a property is clicked with the JS path to that property */ }
        };
        function printJSON(data) {
            $('#jsonRaw').val(JSON.stringify(data,null,2));

        }
        function showAlert(s)
        {
            if (s) {
                $("#alertPlace").text(s);
                //$("#alertPlace").show();
            }
            else {
                $("#alertPlace").text('');
                //$("#alertPlace").hide();
            }
        }

        function SaveForm()
        {
            if ($("#alertPlace").text())
            {
                alert("Json neni validni");
                return;
            }
            $("#jsonForm").submit();
        }

        $(document).ready(function () {
            $('#jsonRaw').textareaAutoSize();
            $("textarea").trigger('keypress');


            $('#jsonRaw').change(function () {
                var val = $('#jsonRaw').val();

                if (val) {
                    try {
                        jsonObj = JSON.parse(val);
                        showAlert(null);
                    }
                    catch (e) {
                        showAlert('JSON neni validni!');
                    }
                } else {
                    jsonObj = {};
                }

                $('#jsonEditor').jsonEditor(jsonObj, { change: printJSON });
            });

            $('#expander').click(function () {
                var editor = $('#jsonEditor');
                editor.toggleClass('expanded');
                $(this).text(editor.hasClass('expanded') ? 'Collapse' : 'Expand all');
            });

            printJSON(jsonObj);
            $('#jsonEditor').jsonEditor(jsonObj, jsonEditorOpt);
        });




    </script>
}