@model IEnumerable<HlidacStatu.Lib.Data.Osoba>
@using Devmasters.Core
@{
    ViewBag.Title = "FindPerson";
}

<h2>FindPerson</h2>
<div class="row">
    <div class="col-xs-12">
        <form asp-action="FindPerson" method="get" class="form-inline">
            <div class="form-group">
                <label for="jmeno">Jmeno</label>
                <input type="text" class="form-control" id="jmeno" name="jmeno" placeholder="Jmeno">
            </div>
            <div class="form-group">
                <label for="prijmeni">Prijmeni</label>
                <input type="text" class="form-control" id="prijmeni" name="prijmeni" placeholder="Prijmeni">
            </div>
            <div class="form-group">
                <label for="narozeni">Datum narození</label>
                <input type="date" class="form-control" id="narozeni" name="narozeni" placeholder="Datum narozeni">
            </div>
            <button type="submit" class="btn btn-default">Hledej</button>

        </form>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "CreatePerson")
</p>

@if (Model == null)
{
    <p>Vyhledejte svoji osobu.</p>
}
else
{
    <ul class="list-group">
        @foreach (var osoba in Model)
        {
            <li class="list-group-item d-flex flex-row">

                <div class="col-sm-4 col-md-3">
                    <div class="person-profile-thumb person-profile-thumb--small">
                        <div class="photo">
                            <a href="@osoba.GetUrl(false)">
                                <div class="profile-picture" style="background-image: url('@osoba.GetPhotoUrl(true)')"></div>
                            </a>
                            <br />
                            @if (osoba.HasPhoto())
                            {
                                var zdroj = osoba.GetPhotoSource() ?? "";
                                <a class="btn btn-default btn-sm" href="/manage/changePhoto/@osoba.NameId" role="button">Změnit fotku</a>
                                <a title="@zdroj" href="@zdroj" style="font-size:75%;text-decoration:none"><span class="text-muted">@(zdroj != "" ? "zdroj" : "")</span></a>
                            }
                            else
                            {
                                <a class="btn btn-default btn-sm" href="/manage/changePhoto/@osoba.NameId" role="button">Přidat fotku</a>
                            }

                        </div>
                        <div>
                            @Html.ActionLink(@osoba.FullName(), "PersonDetail", new { id = osoba.InternalId }, new { @class="section-title link--blue" })
                            <div class="new-p new-p--gray new-p--small">
                                @osoba.NarozeniYear()
                            </div>
                            <div class="new-p new-p--gray new-p--small">
                                @osoba.StatusOsoby().ToNiceDisplayName()
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    var funkceOsoba = osoba.Description(true,
                           m => m.Type != (int)HlidacStatu.Lib.Data.FirmaEvent.Types.Sponzor
                                && m.Type != (int)HlidacStatu.Lib.Data.FirmaEvent.Types.SponzorZuctu,
                           20);

                }
                <div class="row col-sm-8 col-md-9">
                    @if (osoba.Events().Count() > 0)
                    {
                        <div class="col">
                            <div class="search-result-label">
                                Události
                            </div>
                            <div class="new-p text-wrap">
                                @Util.LowBox(80, osoba.Description(true, m => true))
                            </div>
                        </div>
                    }
                </div>
            </li>
        }
    </ul>
}
