@model IEnumerable<HlidacStatu.Lib.Data.Osoba>
@using Devmasters;
@using System.Linq;
@using Devmasters.Enums;


@{ ViewBag.Title = "Správa účtu " + User.Identity.Name; }


<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-xs-12">
        <form action="/manage/hledejosoby" method="get" class="form-inline">
            <div class="form-group">
                <label for="jmeno">Jmeno</label>
                <input type="text" class="form-control" id="jmeno" name="jmeno" placeholder="Jmeno">
            </div>
            <div class="form-group">
                <label for="prijmeni">Prijmeni</label>
                <input type="text" class="form-control" id="prijmeni" name="prijmeni" placeholder="Prijmeni">
            </div>
            <div class="form-group">
                <label for="narozeni">Jmeno</label>
                <input type="date" class="form-control" id="narozeni" name="narozeni" placeholder="Datum narozeni">
            </div>
            <button type="submit" class="btn btn-default">Hledej</button>

        </form>
    </div>
</div>

<h3>Nalezeno</h3>
<div class="row">
    @foreach (var o in Model.Take(100))
    {
        var vazby = HlidacStatu.Lib.Data.Graph.VsechnyDcerineVazby(o);
        if (string.IsNullOrEmpty(o.NameId))
        {
            o.NameId = o.GetUniqueNamedId();
            o.Save();
        }
<div class="col-xs-4">
    @o.TitulPred <a href="/manage/editosoba?id=@o.InternalId">@o.FullName()</a> @o.TitulPo
</div>
                <div class="col-xs-1">@(o.Narozeni?.ToString("* dd.MM.yyyy")) @(o.Umrti?.ToString("✞ dd.MM.yyyy") ?? "")</div>
                                <div class="col-xs-1">@o.StatusOsoby().ToNiceDisplayName()</div>
                                                <div class="col-xs-1">
                                                    @o.NameId
                                                </div>
                                                                <div class="col-xs-4">
                                                                    @foreach (var v in vazby)
                                                                    {
                                                    @WebUtil.RenderVazba(v)
                                                                        <br />}
                                                                </div>
                                                                                <div class="col-xs-1">
                                                                                    <a href="/osoba/@o.NameId">vice</a>
                                                                                </div>
                                                                                                <div class="clearfix"></div>}
</div>
