@model HlidacStatu.Lib.Data.Firma
@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Data
@using System.Text

@{
    ViewBag.Title = "Nastavení hlídače pro " + Model.Jmeno;
    ViewBag.SubTitle = "ICO: " + @Model.ICO;


    HlidacStatu.Lib.Data.Relation.AktualnostType aktualnost = (HlidacStatu.Lib.Data.Relation.AktualnostType)ViewBag.Aktualnost;
    var periodList = Devmasters.Enums.EnumTools
                  .EnumToEnumerable(typeof(HlidacStatu.Lib.Data.WatchDog.PeriodTime))
                  //.Select(m => new System.Web.Mvc.SelectListItem() { Value = m.Value, Text = m.Key, Disabled = (m.Value == "0" || m.Value == "1")})
                  .ToList();

    var vazby = Model.AktualniVazby(aktualnost);

}


@section scripts
{
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/scripts/jquery-ui.min.css" />

    <script src="/Scripts/jquery.tree/jquery.tree.min.js"></script>
    <link href="/Scripts/jquery.tree/jquery.tree.min.css" media="all" rel="stylesheet" />

    <style>
        #nestedlist, #nestedlist ul {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            list-style-type: none;
            margin-left: 0;
            padding-left: 30px;
            /* text-indent: -4px; Not used due to class .connect below */
        }

        /* UL Layer 1 Rules */
        #nestedlist {
            font-weight: bold;
        }

            /* UL Layer 2 Rules */
            #nestedlist ul {
                font-size: 12px;
                font-weight: normal;
                margin-top: 3px;
            }

                /* UL Layer 3 Rules */
                #nestedlist ul ul {
                }

                    /* UL 4 Rules */
                    #nestedlist ul ul ul {
                    }

            #nestedlist li {
                margin-bottom: 0px;
                padding-bottom: 3px;
                padding-left: 0px;
            }

                #nestedlist li a {
                    text-decoration: none;
                    font-weight: bold;
                    border-left: 1px solid #000;
                    border-radius: 0 0 0 10px;
                    background: rgba(8,8,8,1);
                    background: -moz-linear-gradient(left, rgba(8,8,8,1) 0%, rgba(8,8,8,0.96) 2%, rgba(9,9,9,0.02) 52%, rgba(10,10,10,0.02) 100%);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,8,8,1)), color-stop(2%, rgba(8,8,8,0.96)), color-stop(52%, rgba(9,9,9,0.02)), color-stop(100%, rgba(10,10,10,0.02)));
                    background: -webkit-linear-gradient(left, rgba(8,8,8,1) 0%, rgba(8,8,8,0.96) 2%, rgba(9,9,9,0.02) 52%, rgba(10,10,10,0.02) 100%);
                    background: -o-linear-gradient(left, rgba(8,8,8,1) 0%, rgba(8,8,8,0.96) 2%, rgba(9,9,9,0.02) 52%, rgba(10,10,10,0.02) 100%);
                    background: -ms-linear-gradient(left, rgba(8,8,8,1) 0%, rgba(8,8,8,0.96) 2%, rgba(9,9,9,0.02) 52%, rgba(10,10,10,0.02) 100%);
                    background: linear-gradient(to right, rgba(8,8,8,1) 0%, rgba(8,8,8,0.96) 2%, rgba(9,9,9,0.02) 52%, rgba(10,10,10,0.02) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080808', endColorstr='#0a0a0a', GradientType=1 );
                    background-position: bottom left;
                    background-size: 100px 1px;
                    background-repeat: no-repeat;
                    padding-bottom: 2px;
                }

                #nestedlist li.aktualnost0, #nestedlist li.aktualnost0 a {
                    color: #999;
                }

                #nestedlist li.aktualnost1, #nestedlist li.aktualnost1 a {
                    color: #777;
                }

                #nestedlist li.aktualnost2, #nestedlist li.aktualnost2 a {
                    color: #000;
                }

            #nestedlist .connect {
                border-left: 1px solid black;
            }

            #nestedlist li a:before {
                content: '...';
                color: transparent;
            }
    </style>

}

<div class="alert alert-success" role="alert">
    Zde můžete nastavit parametry hlídače smluv a které všechny subjekty budou sledovány.
</div>
<div id="treechkbox" style="border:none">
    <form method="post" class="small">
        <div class="col-xs-12">
            <label for="txt" class="control-label">Pojmenování hlídače</label>
            <div style="width:100%">
                <input type="text" class="form-control" name="wdname" id="wdname" placeholder="Pojmenování hlídače pro přehlednost" value="@Devmasters.Core.TextUtil.ShortenText("Hlídač " + Model.Jmeno + " a vlastněných subjektů",50)">
            </div>
        </div>
        <div class="col-xs-12">
            <label for="period" class="control-label">Jak často máme kontrolovat nové smlouvy?</label>
            <div>
                <select class="form-control" name="period" id="period">
                    @foreach (var kv in periodList)
                    {
                        if (kv.Value == "2")
                        {
                            <option value="@kv.Value" selected="selected">@kv.Key</option>
                        }
                        else //if (user?.IsInRole("betatester") == true || user?.IsInRole("canEditData") == true)
                        {
                            <option value="@kv.Value" >@kv.Key</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-xs-12">
            <label for="period" class="control-label">Typ upozornění</label>
            <div>
                <select class="form-control" name="focus" id="focus">
                    <option value="0">Zašlete mi přehled o nových smlouvách v Registru smluv</option>
                    <option value="1">Upozorněte mě na problémy v nových smlouvách</option>
                </select>
            </div>
        </div>

        <input type="hidden" name="subjekt" value="@Model.ICO" />
        <input type="hidden" name="wd_id" value="" />
        @if (vazby != null && vazby.Length > 13)
        {
            <div class="col-xs-12" style="padding:20px">
                <button type="submit" class="btn btn-danger">Uložit a aktivovat hlídače níže zaškrtnutých subjektů</button>
            </div>
        }
        <div class="col-xs-12">
            <h3>Subjekt a jím (spolu)vlastněné subjekty</h3>
            <ul>
                <li class="connect @("aktualnost" + ((int)aktualnost).ToString())">
                    <input type="checkbox" /> <span><b>@Model.ICO</b> @Model.Jmeno</span>
                    <ul>
                       @Html.Raw(
                            HlidacStatu.Lib.Data.Relation.TiskVazeb(
                                Model.Jmeno,
                                Model.AktualniVazby(aktualnost),
                                HlidacStatu.Lib.Data.Relation.TiskEnum.Checkbox
                            )
                        )

                    @*@RenderTree(null, 0, vazby)*@
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-xs-12" style="padding:20px">
            <button type="submit" class="btn btn-danger">Uložit a aktivovat hlídače níže zaškrtnutých subjektů</button>
        </div>
    </form>
</div>


@section footerscripts
{
    <script>
            @*var hier_config = {
                chart: {
                    container: "#hierarchy",
                    rootOrientation: "WEST",
                    type: "bCurve",
                },
                nodeStructure: @Html.Raw(nodeStructure)
            };
            new Treant( hier_config );*@

        $(document).ready(function () {
            $('#treechkbox').tree({
                selectable: false,

            });
    });
    </script>

}
