@model HlidacStatu.Lib.Searching.OsobaSearchResult
@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Data
@using HlidacStatu.Lib.Analysis
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;

@{
    ViewBag.Title = "Politici, osoby s vazbou na politiku, nebo sponzoři";
    ViewBag.MoreHtml = "<p><b>Tady najdete <a href='/Report/5'>smlouvy soukromých firem s vazbou na politiky</a></b></p>";



}


@section scripts
{
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="row">
    <div class="col-xs-12">
        <h3>
            Nalezené osoby
            <small>
                @HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Results.Count(), HlidacStatu.Util.RenderData.CapitalizationStyle.FirstLetterUpperCap)
            </small>
        </h3>

    </div>
</div>

@SearchResults.OsobaTableResult(this.User, this.Request, Model.PageSize, Model)



@SearchResults.Pagination(Url.RequestContext.HttpContext.Request, Model, "Hledat", "Osoby", new string[] { "nameOfView", "routeData" }, null)



@Util.FeedbackModal("Poslat opravu či připomínku")

@Html.Partial("~/Views/Home/_PolitikDisclaimer.cshtml", this.ViewData)


