@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Analysis
@using System.Linq;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Web.Models;

@{
    ViewBag.Title = "Politici a osoby s vazbou na politiku";
    ViewBag.MoreHtml = "<p><b>Tady najdete <a href='/Report/5'>smlouvy soukromých firem s vazbou na politiky</a></b></p>";


}


@section scripts
{
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
    <div class="row">
        <div class="col-xs-12">
            <div class="form-search">
                <label class="sr-only" for="I">Hledat politiky a sponzory politických stran</label>

                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                        <h4>Hledat politiky a sponzory politických stran</h4>
                        <form method="get" action="/osoby/Hledat" class="form-search__input-wrapper" role="form">
                            <input class="form-search__input" id="Q" name="Q" placeholder="Jméno osoby" style="max-width: none;" type="text">

                            <button class="form-search__btn" type="submit">Hledat politika či sponzora</button>
                        </form>
                    </div>
                    <div class="col-sm-2 col-sm-offset-9 col-xs-12 ">
                        <p>
                            <a class="form-search__hint pull-right" href="/napoveda">
                                Jak vyhledávat?
                            </a>
                        </p>
                    </div>
                </div>

                <div class="clearfix" style="padding-bottom:20px;"></div>
            </div>
        </div>
    </div>
}

@Util.FeedbackModal("Poslat opravu či připomínku")

@Html.Partial("~/Views/Home/_PolitikDisclaimer.cshtml", this.ViewData)


@helper RenderVazba(HlidacStatu.Lib.Data.Graph.Edge v)
{

    var fname = v.To.PrintName();
    if (string.IsNullOrEmpty(fname))
    {
        fname = HlidacStatu.Lib.Data.External.FirmyDB.NameFromIco(v.To.Id, true);
    }
    @fname @Html.Raw("-") @(v.Descr)@Html.Raw("&nbsp;")

    if (v.RelFrom.HasValue && v.RelTo.HasValue)
    {
        @(string.Format("({0} - {1})", v.RelFrom.Value.ToShortDateString(), v.RelTo.Value.ToShortDateString()))

    }
    else if (v.RelTo.HasValue)
    {
        @(string.Format("(do {0})", v.RelTo.Value.ToShortDateString()))

    }
    else if (v.RelFrom.HasValue)
    {
        @(string.Format("(od {0})", v.RelFrom.Value.ToShortDateString()))

    }

    <br />

}
