@using System.Linq

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @{
        int PocetReportu = 24;

        /*
         ViewBag.Title = Title
         ViewBag.SubTitle = SubTitle
         ViewBag.HideTitle = true/false
         ViewBag.Query =
         ViewBag.ShowBookmarkUrl = true/false
         */

        try
        {
            if (string.IsNullOrEmpty(ViewBag.Query)
                && Request.QueryString["Q"] != null
            )
            {
                ViewBag.Query = Request.QueryString["Q"];
            }
        }
        catch (System.Web.HttpRequestValidationException)
        {
            if (ViewData.ContainsKey("InvokeErrorAction") == false)
            {
                throw;
            }
        }

        string title = ViewBag.Title;
        if (string.IsNullOrEmpty(title))
        {
            title = "Hlídač státu. Hlídame je, protože si to zaslouží.";
        }
        else
        {
            title = title + " - " + "Hlídač státu.";
        }
        string description = "Hlídač státu - veřejná kontrola státních a veřejných institucí. Veřejnoprospěšný projekt. Hlídač smluv a registr smluv. Hlídač Webů.";
        if (!string.IsNullOrEmpty(ViewBag.Description))
        {
            description = ViewBag.Description + " Hlídač státu.";
        }

        bool ShowEmailConfirmation = false;
        if (Request.IsAuthenticated)
        {
            if (!string.IsNullOrEmpty(this.User?.Identity?.Name))
            {
                var email = this.User?.Identity?.Name;
                using (HlidacStatu.Lib.Data.DbEntities db = new HlidacStatu.Lib.Data.DbEntities())
                {
                    var user = db.AspNetUsers.Where(m => m.Email == email && m.EmailConfirmed == false).FirstOrDefault();
                    ShowEmailConfirmation = user != null;
                }
            }

        }

    }
    <title>@title</title>

    <link rel="canonical" href="https://www.hlidacstatu.cz@(Request.Url.PathAndQuery)" />
    <meta name="description" content="@description" />
    <meta name="author" content="Michal Bláha" />
    <meta name="keywords" content="e-gov, e-government, efektivita státu, efektivní stát, Registr smluv, Hlídač státu, HlidacStatu, HlidacSmluv, Hlídač smluv, politici, smlouvy státu">

    @{
        string urlfirst = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
        string defaultSocialImg = urlfirst + "/content/icons/largetile.png";
        string url = ViewBag.SocialShareUrl ?? this.Request.Url.AbsoluteUri;
        string text = ViewBag.SocialShareText ?? description;
        string type = ViewBag.SocialShareType ?? "website";
        string socialTitle = ViewBag.SocialShareTitle ?? title;


        //additional, HlidacStatu specific
        string socialhtml = ViewBag.SocialShareHtml ?? "";
        string socialfooter = ViewBag.SocialShareHtmlFooter ?? "";
        string socialsubfooter = ViewBag.SocialShareHtmlSubFooter ?? "";
        string socialfooterimg = ViewBag.SocialShareHtmlFooterImg ?? defaultSocialImg;

        string img = ViewBag.SocialImage ?? defaultSocialImg;

        if (img == defaultSocialImg && string.IsNullOrEmpty(socialhtml) == false)
        {
            img = urlfirst + "/socialbanner/page?v=" + System.Net.WebUtility.UrlEncode(this.Request.Url.AbsoluteUri);
        }

    }

    <link rel="shortcut icon" href="/content/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="/content/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/content/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/content/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/content/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/content/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/content/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/content/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/content/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/content/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/content/icons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/content/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/content/icons/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="/content/icons/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/content/icons/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="/content/icons/widetile.png" />
    <meta name="msapplication-square310x310logo" content="/content/icons/largetile.png" />


    <meta name="twitter:site" content="HlidacStatu" />
    <meta property="fb:app_id" content="803455203348459" />
    <meta property="og:title" content="@socialTitle" />
    <meta property="og:url" content="@url" />
    <meta property="og:site_name" content="Hlídač Státu" />
    <meta property="og:type" content="@type" />
    <meta property="og:description" content="@text" />
    <meta property="og:image" content="@Html.Raw(img.Trim())" />
    <meta name="twitter:image" content="@Html.Raw(img.Trim())" />
    @if (img != defaultSocialImg)
    {
        <meta name="twitter:card" content="summary_large_image" />
    }
    @if (ViewBag.OpenGraphMore != null)
    {
        @Html.Raw(ViewBag.OpenGraphMore)
    }
    <meta property="og:hlidac_html" content="@socialhtml" />
    <meta property="og:hlidac_footer" content="@socialfooter" />
    <meta property="og:hlidac_subfooter" content="@socialsubfooter" />
    <meta property="og:hlidac_footerimg" content="@socialfooterimg" />

    @RenderSection("metatags", required: false)


    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-vlOMx0hKjUCl4WzuhIhSNZSm2yQCaf0mOU1hEDK/iztH3gU4v5NMmJln9273A6Jz" crossorigin="anonymous">




    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        var _showFAD = true;
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-154075-22', 'auto');
        ga('send', 'pageview');

        //@WebUtil.RenderSmartLookTrackingCode(false)

    </script>
    @RenderSection("scripts", required: false)
    <script type='text/javascript'>
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
            var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;)r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: '7b640525-5d24-4ad7-87e1-0f2c24cc1945'
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();


    </script>

    <link href="/scripts/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/scripts/select2-bootstrap.min.css">
    <script src="/scripts/select2.full.min.js"></script>
    <link rel="stylesheet" href="/Content/select2-search-over.css">



</head>
<body class="new-body">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    @if (ShowEmailConfirmation)
    {
        <div class="alert alert-danger" role="alert" id="msgConfirmationEmailInfo">
            Nepotvrdil(a) jste nám email použitý při registraci. Bez potvrzení není účet aktivní.
            <a class="btn btn-default" href="#" role="button" onclick="javascript:ResendConfirmationMail(this)">Odeslat potvrzovací link emailem</a>

        </div>

    }

    @if (IsSectionDefined("toplinemsg"))
    {
        @RenderSection("toplinemsg", required: false)
    }
    else
    {
        if (DateTime.Now < new DateTime(2020, 11, 29, 12, 0, 0))
        {
            <div class="alert alert-warning toplinemsg" role="alert" style="">
                <div class="text-center center-block toplinemsgtxt " style="">
                    Udělejte radost originálním dárkem a současně podpořte Hlídače státu
                    <a class="btn btn-default btn-sm" href="https://www.donio.cz/hlidacstatu/?utm_source=hlidacstatu&utm_medium=header&utm_campaign=volby2020a" role="button">Přímo zde</a>
                </div>
            </div>
        }

    }

    <div class="header__navbar hidden-print">
        <a href="/" class="logo">
            <svg width="46" height="46" viewBox="0 0 46 46">
                <use xlink:href="/content/defs.svg#logo"></use>
            </svg>
            Hlídač <strong>Státu</strong>
        </a>
        <nav class="navbar__level1">
            <a href="#" class="hamburger"></a>

            <ul>
                <li class="navbar__watchers">
                    <a href="/smlouvy">Smlouvy</a>
                    <a href="/VerejneZakazky">Veřejné zakázky</a>
                    <a href="/Dotace">Dotace</a>
                    <a href="/Insolvence">Insolvence</a>
                    <a href="/sponzori">Sponzoři</a>
                    <a href="/StatniWeby">Weby státu<sup style="top:0;text-decoration:none;color:#777;">@(HlidacStatu.Lib.Data.External.Zabbix.ZabTools.Weby()?.Count().ToString() ?? "")</sup></a>
                </li>

                <li class="hidden-sm hidden-xs">
                    @if (Request.IsAuthenticated)
                    {
                        <a href="/manage/Watchdogs"
                           alt="Všichni uložení hlídači" title="Všichni uložení hlídači"
                           onclick="ga('send', 'event', 'btnWatchDog', 'List', 'authenticated');" role="button"
                           class="btn btn-warning btn-sm" style="padding-left: 5px;padding-right: 5px;display:block">
                            <i style="color:black;" class="fas fa-eye"></i>
                        </a>

                        <a style="display:block;color:#c9302c;" title="Všechny uložené záložky" alt="Všechny uložené záložky" href="/manage/zalozky" class="bookmark bookmarkOn"></a>
                        <a style="display:block;" href="/manage/" title="Nastavení účtu" alt="Nastavení účtu"><i class="fas fa-user"></i></a>
                        <a href="/Account/LogOff?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                    }
                    else
                    {
                        string nextUrl = this.Request.Url.PathAndQuery;
                        if (nextUrl.ToLower().StartsWith("/account/"))
                        {
                            nextUrl = "";
                        }
                        nextUrl = System.Net.WebUtility.UrlEncode(nextUrl);

                        <a onclick="ga('send', 'event', 'loginBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/account/Login?returnUrl=@(nextUrl)" id="loginLink">
                            <img src="/Content/img/icon-user.svg" style="padding-right: 8px;">
                            Přihlášení
                        </a>
                        <a onclick="ga('send', 'event', 'registerBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/account/Register?nextUrl=@(nextUrl)" id="regLink">Registrace</a>
                    }
                </li>

                <!-- mobile menu items below -->
                <li class="level2"><a href="/data">Další databáze<sup style="top:0;text-decoration:none;color:#777;">@(HlidacStatu.Lib.Data.External.DataSets.DataSetDB.AllDataSets.Get()?.Count().ToString() ?? "")</sup></a></li>
                <li class="level2"><a href="/reporty">Analýzy a reporty<sup style="top:0;text-decoration:none;color:#777;">@(PocetReportu)</sup></a></li>
                <li class="level2"><a @WebUtil.GAClick("ZjistiliJsmeMobile") href="/texty"><b>Zjistili jsme</b></a></li>
                <li class="level2"><a href="https://www.hlidacstatu.cz/texty/series/tipy/" onclick="return trackOutLink(this,'headermobile');">Tipy „Jak používat Hlídače“</a></li>

                <li class="level2">
                    <a href="https://www.darujme.cz/projekt/1200384" onclick="return trackOutLink(this,'headermobile');">Podpořte nás</a>
                    <a href="/PridatSe">Přidejte se k nám</a>
                </li>


                <li class="level2">
                    @if (Request.IsAuthenticated)
                    {
                        <a onclick="ga('send', 'event', 'bookmarksBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" title="Všechny uložené záložky" alt="Všechny uložené záložky" href="/manage/zalozky"><span style="color:#c9302c;" class="bookmark bookmarkOn"></span>Záložky</a>
                        <a onclick="ga('send', 'event', 'manageBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/manage/" title="Nastavení účtu" alt="Nastavení účtu"><span style="font-family: 'Glyphicons Halflings'" class="glyphicon glyphicon-user"></span>Účet</a>
                        <a onclick="ga('send', 'event', 'logoffBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/Account/LogOff?rnd=@Guid.NewGuid().ToString("N")">Odhlásit</a>
                    }
                    else
                    {
                        <a onclick="ga('send', 'event', 'loginBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/Account/Login">Přihlášení</a>
                        <a onclick="ga('send', 'event', 'registerBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)'); return true;" href="/account/Register">Registrace</a>
                    }
                </li>
            </ul>
        </nav>
    </div>

    @if (IsSectionDefined("title"))
    {
        <div class="hidden-print">
            @RenderSection("title", required: false)
        </div>
    }
    else
    {
        <div class="header__content header__content--compact  hidden-print">
            <!-- desktop menu items only -->
            <div class="navbar__level2">
                <ul>
                    <li class=""><a href="/data">Další databáze<sup style="top:0;text-decoration:none;color:yellow;">@(HlidacStatu.Lib.Data.External.DataSets.DataSetDB.AllDataSets.Get()?.Count().ToString() ?? "")</sup></a></li>
                    <li class=""><a href="/reporty">Analýzy a reporty<sup style="top:0;text-decoration:none;color:yellow;">@(PocetReportu)</sup></a></li>
                    <li class=""><a @WebUtil.GAClick("ZjistiliJsme") href="/texty"><b>Zjistili jsme</b></a></li>
                    <li class=""><a href="https://www.hlidacstatu.cz/texty/series/tipy/" onclick="return trackOutLink(this,'header');">Tipy „Jak používat Hlídače“</a></li>
                </ul>
                <ul>
                    <li>
                        <a href="/pridatse">Přidat se</a>
                        @*<a href="https://github.com/HlidacStatu/Web/issues" target="_blank" style="color:orange"><span class="glyphicon glyphicon-alert"></span>&nbsp;Nahlásit chybu</a>*@
                        <a href="https://www.darujme.cz/projekt/1200384" target="_blank" onclick="return trackOutLink(this,'header');">Podpořte nás</a>
                    </li>
                </ul>
            </div>
            <!-- desktop menu items only -->

            <div class="header__search">
                <form class="header__search__input-wrapper old-search-input" method="get">
                    <input value="@ViewBag.Query" id="Q" name="Q" type="text" class="header__search__input" placeholder="Smluvní strana, Název instituce, Jméno osoby, IČO, téma smlouvy …">
                    @if (ViewBag.AdditionalForm != null && false)
                    {
                        HlidacStatu.Web.Framework.DoubleForm dform = (HlidacStatu.Web.Framework.DoubleForm)ViewBag.AdditionalForm;
                        <button class="form-search__btn" style="max-width: 200px; white-space:normal; word-break: break-word; line-height: 1.2em;" formaction="@dform.SecondaryAction">@dform.SecondaryActionLabel</button>
                        <button class="header__search__btn" formaction="@dform.PrimaryAction">@dform.PrimaryActionLabel</button>

                    }
                    else
                    {
                        <button class="header__search__btn" formaction="/hledat">Hledat</button>
                    }
                </form>

                <form id="new-search-input" class="new-search-input" action="/hledat" method="get">
                    <div class="select2-wrapper">
                        <div class="input-group input-group-lg">
                            <select class="form-control input-lg select2-multiple" id="autocomsearch" multiple="multiple">
                                @if (!string.IsNullOrWhiteSpace(ViewBag.Query))
                                {
                                    foreach (string option in ViewBag.Query.ToString().Split(' '))
                                    {
                                        <option value="@option" selected="selected">@option</option>
                                    }
                                }
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" data-select2-open="autocomsearch" style="left:-7px"> hledat</button>
                            </span>
                            <input id="search-result-query-data" name="q" type="hidden" />
                        </div>
                    </div>
                </form>

                <div>
                <button class="header__search__hint btn btn-link new-search-input" style="margin-right: 5px; text-decoration: none; padding-top: 2px; font-size: 15px;color:#FFBF66">
                    <i class="fas fa-blind"></i> Přepnout na původní hledání
                </button>
                <button class="header__search__hint btn btn-link old-search-input" style="margin-right: 5px; text-decoration: none; padding-top: 2px; font-size: 15px;color:#FFBF66">
                    <i class="fas fa-baby"></i> Přepnout na nové hledání
                </button>
                    <a class="header__search__hint" style="padding-top:2px;font-size:15px;text-decoration:none;padding-top:2px;font-size:15px;text-decoration:none;" href="/napoveda">
                        <i class="far fa-question-square" style=""></i> Nápověda jak vyhledávat
                    </a>
                    <a class="header__search__hint pull-right" style="" href="/snadnehledani">
                        Snadné hledání
                    </a>
                </div>
            </div>

        </div>
    }


    <div class="container">

        @if (IsSectionDefined("breadcrumb"))
        {
            @RenderSection("breadcrumb", required: false)
        }


        @if (
            !(ViewBag.HideTitle == true)
            &&
            !string.IsNullOrEmpty((string)ViewBag.Title)
            )
        {
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="new-title text-left">
                        @if (Model as HlidacStatu.Lib.Data.Bookmark.IBookmarkable == null) //ViewBag.ShowBookmarkUrl == true)
                        {
                            @WebUtil.AddBookmarkUrl(this.User, ViewBag.Title + " " + ViewBag.SubTitle, Request.Url.AbsoluteUri, "font-size:24px;vertical-align:top;")
                        }
                        else
                        {
                            @WebUtil.AddBookmark(this.User, Model)
                        }
                        @ViewBag.Title

                        @if (!string.IsNullOrEmpty((string)ViewBag.SubTitle))
                        {
                            <small>
                                @ViewBag.SubTitle
                            </small>
                        }

                    </h1>
                </div>
            </div>
        }
        @RenderBody()
    </div>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
    <div style="height: 32px"></div>


    @Html.Partial("_Footer")

    @RenderSection("footerscripts", required: false)

    @* back to top fn *@
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 800) {
                    $('#back-to-top').fadeIn();
                } else {
                    $('#back-to-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            $('#back-to-top').click(function () {
                $('#back-to-top').tooltip('hide');
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });

            $('#back-to-top').tooltip('show');

        });
    </script>

    <div id="dar-footer-msg">
        @*<div id="ad2" style="display:none;">
                <div class="fund-list" style="display: block;">
                    <div class="container">
                        <p>Už více než rok kontrolujeme politiky a úředníky zda s našimi penězi zacházejí správně.</p>
                        <p>Chceme-li dál měnit prostředí v ČR, potřebujeme vaši pomoc.</p>

                        <a class="fund-daruj" id="fund-daruj-btn" target="_blank" href="https://www.darujme.cz/projekt/1200384">Podpořte nás ještě dnes</a>
                        <div class="fund-zavri">
                            <a id="fund-info-btn" target="_blank" href="https://www.darujme.cz/projekt/1200384">více info</a>
                            <a id="fund-zavri-btn" style="margin-left:20px;" href="#">zavřít</a>
                        </div>
                    </div>

                </div>
            </div>*@
        <div id="ad1">
            <div class="fund-list grey" style="display: block;">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-xs-12">
                            <p class="small">
                                Pokud vás zaujme nějaký dokument, profil firmy, výsledek hledání či prakticky jakýkoliv údaj na Hlídači,
                                <b>nemusíte si ho pamatovat</b>. Stačí si ho uložit do záložek a my si to zapamatujeme za vás.
                            </p>
                            <p class="small">
                                Uložení záložky je snadné, stačí kliknout na ikonu  <a style="font-size:120%" href="#" class="bookmark bookmarkOff" onclick="javascript:return false;"></a>.
                                Pokud už je konkrétní záložka vytvořená, pak je vybarvena červeně <a style="font-size:120%" href="#" class="bookmark bookmarkOn" onclick="javascript:return false;"></a>.
                            </p>
                        </div>
                        <div class="col-sm-2 col-xs-12">
                            <a style="margin-top:15px;" class="fund-daruj-btn pull-right text-right" onclick="ga('send', 'event', 'darujAdFooter', 'daruj-btn', '1'); return false;" id="fund-daruj-btn" target="_blank" href="#">Chápu, díky!</a>
                        </div>
                        <div class="fund-zavri">
                            <a id="fund-info-btn" onclick="ga('send', 'event', 'darujAdFooter', 'viceinfo', '1');" target="_blank" href="https://www.hlidacstatu.cz/texty/zalozky-si-za-vas-zapamatuji-vse-co-potrebujete/">Více informací</a>
                            <a id="fund-zavri-btn" onclick="ga('send', 'event', 'darujAdFooter', 'zavri', '1');" style="margin-left:30px;color:#ff5900" href="#"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <noscript>
            <style>
                #dar-footer-msg {
                    display: none;
                }
            </style>
        </noscript>
    </div>


    @if (!(this.User?.Identity?.IsAuthenticated == true))
    {
        <div id="bookmarkInfoAnon" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Záložky</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Pokud vás zaujme nějaký dokument, profil firmy, výsledek hledání či prakticky jakýkoliv údaj na Hlídači,
                            <b>nemusíte si ho pamatovat</b>. Stačí si ho uložit do záložek a my si to zapamatujeme za vás.
                        </p>
                        <p>
                            Uložení záložky je snadné, stačí kliknout na ikonu  <a style="font-size:120%" href="#" class="bookmark bookmarkOff" onclick="javascript:return false;"></a>.
                            Pokud už je konkrétní záložka vytvořená, pak je vybarvena červeně <a style="font-size:120%" href="#" class="bookmark bookmarkOn" onclick="javascript:return false;"></a>.
                        </p>
                        <p>Abychom ale vědeli, komu jaké záložky patří, <a href="/account/login" class="btn btn-default">musíte se zalogovat</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        string anontitle = "Veřejné zakázky";
        string anonbody = "Podrobné informace o veřejných zakázkách jsou z licenčních důvodů dostupné pouze registrovaným uživatelům Hlídače Státu. Registrace je zdarma a je velmi jednoduchá.";
        if (Request.Url.AbsolutePath.ToLower().Contains("insolvence"))
        {
            anontitle = "Insolvence";
            anonbody = "Podrobné informace o insolvencích jsou dostupné pouze registrovaným uživatelům Hlídače Státu. Registrace je zdarma a je velmi jednoduchá. "
                + "<br/><br/><b>Novináři a datový analytici</b> mají přístup ke všem datům, ostatní pouze k insolvencím, které mají vztah ke kontrole státu a firem a osob s ním obchodujícím.";
        }

        <div id="VZInfoAnon" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">@anontitle</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            @Html.Raw(anonbody)
                        </p>
                        <p>Pokud jste již zaregistrováni, <a id="VZInfoAnonLogin" href="/account/login?returnUrl=" class="btn btn-default">zalogujte se</a>. </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                        <a id="VZInfoAnonRegister" onclick="ga('send', 'event', 'registerBtn', 'click','@this.Request.Url.GetComponents(UriComponents.Path, UriFormat.Unescaped)#VZPristupOmezen'); return true;" href="/account/Register?returnUrl=" class="btn btn-primary">Zaregistrovat se</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    }
    @{
        IgnoreSection("onlyembed");
    }

</body>
</html>

@functions
{
    void IgnoreSection(string name)
    {
        if (IsSectionDefined(name))
        {
            WriteTo(TextWriter.Null, RenderSection(name));
        }
    }

    void IgnoreBody()
    {
        WriteTo(TextWriter.Null, RenderBody());
    }

}
