@model HlidacStatu.Lib.ES.SmlouvaSearchResult
@using HlidacStatu.Web
@using HlidacStatu.Lib
@using Devmasters.Core
@using HlidacStatu.Web.Framework;

@{
    if (Model.Result == null)
    {
        return;
    }

}

<script>
    function CollapseAll() {
        $('.issueCol').collapse('toggle');
    }

    function changeOrder(sel) {
        var value = sel.value;
        window.location.href = '@Html.Raw(HlidacStatu.Lib.ES.SmlouvaSearchResult.GetSearchUrl(
        this.Request.Url.Scheme + "://" + this.Request.Url.Host + this.Request.Url.AbsolutePath
        , Model.Q, chyby: Model.Chyby))&order=' + value;
    }

    function changeChyby(sel) {
        var value = sel.value;
        window.location.href = '@Html.Raw(HlidacStatu.Lib.ES.SmlouvaSearchResult.GetSearchUrl(
this.Request.Url.Scheme + "://" + this.Request.Url.Host + this.Request.Url.AbsolutePath
, Model.Q, (HlidacStatu.Lib.ES.SearchTools.OrderResult)(Convert.ToInt32(Model.Order))))&chyby=' + value;
    }

</script>
@if (Model?.Result?.IsValid == false || Model.Result == null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">Položený dotaz má špatnou syntaxi. Zkontrolujte, že je správně.</div>
            <div>
                Pokud si myslíte, že dotaz je v pořádku a chyba je na naší strane, @Util.FeedbackModal("napište nám prosím", "Chyba", "btn btn-link", null).
                Zkontrolujeme to.
            </div>
        </div>
    </div>
    return;
}
@if (Model.ShowWatchdog && Model.Q != null)
{

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            @Util.AddWatchDog(this.User, Model.Q, typeof(HlidacStatu.Lib.Data.Smlouva))

        </div>
        <div class="col-sm-push-1 col-xs-12 col-sm-5">
            <div class="section-title">
                Sdílet
            </div>
            <div style="margin: 14px 0 16px">
                @Util.ShareButtons(Request.Url.AbsoluteUri,
              $"Hledání {Model.Q}: {Model.Total} ",
              "", "<br />")
            </div>
        </div>
    </div>

}
<hr />

@if (Model.Chyby)
{
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-info" role="button" data-toggle="collapse" href="#" onclick="javascript:CollapseAll();return false;" aria-expanded="false" aria-controls="collapseExample">
                Ukázat nedostatky u všech smluv
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h4>@HlidacStatu.Util.RenderData.Vysledky.NasliJsmeVysledky(Model.Result.HitsMetadata.Total, HlidacStatu.Util.RenderData.CapitalizationStyle.FirstLetterUpperCap) na výraz <span class="emphasized">@Model.Q</span></h4>
        @if (Model?.Result?.Aggregations != null && Model?.Result?.Aggregations?.ContainsKey("sumKc") == true)
        {
            double? sum = ((Nest.ValueAggregate)Model?.Result?.Aggregations["sumKc"])?.Value;
            <h4>
                Celková cena nalezených smluv @Html.Raw(HlidacStatu.Lib.Data.Smlouva.ShortNicePrice(Convert.ToDecimal(sum.Value), html: true))
            </h4>
        }
    </div>
    <div class="col-xs-12 col-sm-6">
        @if (Model.Chyby)
        {
            @Html.CheckBoxFor(m => m.Chyby, new { @onchange = "changeChyby(this);" }) @Html.LabelFor(m => m.Chyby, "Ukázat chyby")
        }
        @Html.DropDownListFor(m => m.Order, Model.OrderList, new { @class = "form-control small pull-right", @id = "orderList", @onchange = "changeOrder(this);" })
    </div>
</div>
<div style="height:32px;"></div>
<table class="table table-hover">
    <thead>
        @SearchResults.SmlouvyHead(this.User)
    </thead>
    <tbody>
        @foreach (var item in Model?.Result.Hits)
        {
            var rec = item.Source;

            @SearchResults.SmlouvyRow(this.User, rec, Model)

            if (Model.Chyby)
            {
                @SearchResults.SmlouvyRowChyby(rec)
            }
            if (Model.AdditionalRender != null)
            {
                @Html.Raw(Model.AdditionalRender(rec))
            }
        }
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination pagination-lg">
        @{
            string qid = Url.RequestContext.HttpContext.Request.QueryString["Page"] as string;
            int page = 0;
            string firstPageClass = "";
            string lastPageClass = "";

            if (!Devmasters.Core.TextUtil.IsNumeric(qid))
            {
                firstPageClass = "disabled";
                page = 1;
            }
            else
            {
                page = HlidacStatu.Util.ParseTools.ToInt(qid) ?? 1;
                if (page <= 1)
                {
                    page = 1;
                }
            }
            if (page == 1)
            {
                firstPageClass = "disabled";
            }
            if (Model.Result.Total < page * Model.PageSize
                || page * Model.PageSize >= Model.MaxResultWindow()
                )
            {
                lastPageClass = "disabled";
            }
            Model.Page = page;

        }
        @if (string.IsNullOrEmpty(firstPageClass)) //jde jit na predchozi stranku, neni to "disabled"
        {
            <li class="@firstPageClass">
                @Html.CurrentLink("« Předchozí", Model.ToRouteValues(page - 1), new string[] { "nameOfView" })
            </li>
        }
        @if (string.IsNullOrEmpty(lastPageClass)) //jde jit na dalsi stranku, neni to "disabled"
        {
            <li class="@lastPageClass">
                @Html.CurrentLink("Následující »", Model.ToRouteValues(page + 1), new string[] { "nameOfView", "routeData" })
            </li>
        }

        @if (ViewBag.HideExportButton == "")
        {
            @Html.Raw("")
        }
        else
        {
            if (
                !(string.IsNullOrEmpty(Model.Q) || Model.Q == "*")
                )
            {
            <li>
                @Util.ExportButton(this.User, "smlouvy", Model.Q, Model.Order)
            </li>
            }
        }
    </ul>
</div>
