@model HlidacStatu.Lib.Data.Smlouva
@using Devmasters
@using HlidacStatu.Lib
@using HlidacStatu.Web.Framework
@using Devmasters.Enums;

@{ ViewBag.Title = Devmasters.TextUtil.ShortenText(Model.predmet ?? "", 70);
    ViewBag.SubTitle = "Smlouva číslo " + Model.Id;

    ViewBag.SocialShareTitle = $"Smlouva {Model.Id}. {Model.predmet}";
    ViewBag.SocialShareText = HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.InfoFacts(), 4, true, true, ", ");
    ViewBag.SocialShareType = "article";
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/smlouva?d={DateTime.Now.ToString("yyMMdd")}&v=" + Model.Id;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                + "<meta property=\"og:image:height\" content=\"1080\" />"
                + "<meta property=\"og:image:type\" content=\"image/png\" />";




                string bookmarkId = HlidacStatu.Lib.Data.Bookmark.GetBookmarkId(Model);
                bool bookmarked = HlidacStatu.Lib.Data.Bookmark.IsItemBookmarked(Model, User?.Identity?.Name);

                bool znepristupnena = Model.znepristupnenaSmlouva();

                IReadOnlyDictionary<string, IReadOnlyCollection<string>> highlightingData = ViewBag.Highlighting as IReadOnlyDictionary<string, IReadOnlyCollection<string>>; }
@section scripts
{

    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Smlouvy", "Home")">Hlídač Smluv</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}



@if (User.IsInRole("BetaTester") && Model?.Classification?.Types?.Count() > 0)
{
<table class="table table-new table-new--dotted table-hover" id="invalidItemWarn">
    <tbody>
        <tr>
            <td>
                Nová klasifikace smluv
                <br /><b>BETA</b>
            </td>
            <td>
                @foreach (var cl in Model.Classification.Types)
                {
<div>@(cl.ClassifTypeName()) - @(cl.ClassifProbability)</div>}
            </td>
        </tr>
    </tbody>
</table>}
@if (this.User?.IsInRole("canEditData") == true)
{
<table class="table table-new table-new--dotted table-hover" id="invalidItemWarn">
    <tbody>

        <tr>
            <td colspan="2">
                <br /><a href="/manage/zmenasmluvnichstran/@Model.Id" class="btn btn-warning btn-sm" target="_blank">Změnit smluvni strany</a>

            </td>
        </tr>
    </tbody>
</table>}





<td class="dontembed">

    <h3>
        @WebUtil.AddBookmark(this.User, Model)
        @ViewBag.Title
    </h3>
    <table class="table table-new table-new--dotted table-hover" id="invalidItemWarn">
        <tbody>
            <tr>
                <td>
                    Základní informace
                </td>
                <td>
                    @if (Model.platnyZaznam == false)
                    {
                        if (Model.OtherVersions().Length == 0)
                        {
        <div class="alert alert-danger">
            <table style="padding:0;margin:0;width:100%">
                <tr>
                    <td style="width:70%;padding:0;margin:0;line-height:13px;">
                        Upozornění: Tato verze smlouvy byla zneplatněna vkladatelem smlouvy. Nenašli jsme v registru smluv platnou verzi této smlouvy, tato smlouva byla nejspíše odstraněna bez náhrady.
                    </td>
                    <td style="width:30%;padding:0;margin:0;line-height:13px;text-align:right">
                        @WebUtil.DynamicModal("/api/v1/ModalZneplatnenaSmlouva/" + Model.Id, "(Má být smlouva označena jako platná?).", "btn btn-link", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0")
                    </td>
                </tr>
            </table>

        </div> }
                        else
                        {
        <div class="alert alert-warning">
            <table style="padding:0;margin:0;width:100%">
                <tr>
                    <td style="width:70%;padding:0;margin:0;line-height:13px;">
                        Upozornění: Tato verze smlouvy byla zneplatněna vkladatelem smlouvy.
                    </td>
                    <td style="width:30%;padding:0;margin:0;line-height:13px;text-align:right">
                        @WebUtil.DynamicModal("/api/v1/ModalZneplatnenaSmlouva/" + Model.Id, "(Má být smlouva označena jako platná?).", "btn btn-link", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0")
                    </td>
                </tr>
            </table>
        </div> if (Model.OtherVersions().Any(m => m.platnyZaznam))
                            {
        <div class="alert alert-info"><a href="/Detail/@(Model.OtherVersions().Where(m => m.platnyZaznam).First().Id)">Ukázat platnou verzi této smlouvy</a></div> }

                        }
                    } @*else if (Model.spadaPodRS == false || Model.PravniRamec == HlidacStatu.Lib.Data.Smlouva.PravniRamce.MimoRS)
            {
                <div class="alert alert-info">Tato smlouva nespadá pod zákon o registru smluv a byla zveřejněna dobrovolně.</div>
            }*@ else
                                {
                                    if (Model.Issues.Any(m => m.Importance == HlidacStatu.Lib.Issues.ImportanceLevel.Fatal))
                                    {
                    <div class="alert alert-danger">
                        <table style="padding:0;margin:0;width:100%">
                            <tr>
                                <td style="width:70%;padding:0;margin:0;line-height:13px;">
                                    Tato smlouva je formálně v registru smluv platná, ale <b>
                                        obsahuje tak závažné
                                        nedostatky v rozporu se zákonem
                                    </b>, že ve skutečnosti platná velmi pravděpodobně není!
                                </td>
                                <td style="width:30%;padding:0;margin:0;line-height:13px;text-align:right">
                                    @WebUtil.DynamicModal("/api/v1/ModalZneplatnenaSmlouva/" + Model.Id, "(Má být smlouva označena jako neplatná?).", "btn btn-link", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0")
                                </td>
                            </tr>
                        </table>

                    </div> }
                                    else
                                    {
                    <div class="alert alert-success">
                        <table style="padding:0;margin:0;width:100%">
                            <tr>
                                <td style="width:50%;padding:0;margin:0;line-height:13px;">Toto je platná smlouva</td>
                                <td style="width:50%;padding:0;margin:0;line-height:13px;text-align:right">
                                    @WebUtil.DynamicModal("/api/v1/ModalZneplatnenaSmlouva/" + Model.Id, "(Má být smlouva označena jako neplatná?).", "btn btn-link", loadingText: "Ověřuji platnost smlouvy v registru smluv", style: "padding:0;margin:0")
                                </td>
                            </tr>
                        </table>
                    </div>}

                                }
                    <div>Zveřejněna <b>@Model.casZverejneni.ToShortDateString() @(Model.casZverejneni.ToLongTimeString())</b></div>
                    <div>
                        ID smlouvy @(Model.identifikator.idSmlouvy)
                    </div>
                    <div>ID Verze: @(Model.identifikator.idVerze)</div>
                    <div>
                        Uzavřena @Model.datumUzavreni.ToShortDateString(), číslo smlouvy @Model.cisloSmlouvy
                        @WebUtil.IfExists(Model.navazanyZaznam, string.Format(", existuje <a href='/Hledatsmlouvy?Q=idSmlouvy:{0}'>související smlouva</a>", Model.navazanyZaznam))
                        @WebUtil.IfExists(Model.schvalil, string.Format("<div>Smlouvu schválil <a href='/Hledatsmlouvy?Q=schvalil:\"{0}\"'>{1}</a></div>", System.Net.WebUtility.UrlEncode(Model.schvalil), Model.schvalil))
                    </div>
                </td>
            </tr>


            <tr>
                <td>
                    <h4>Publikující strana do Rejstříku smluv</h4>
                </td>
                <td>
                    @RenderSubjekt(Model.VkladatelDoRejstriku, 3)
                </td>
            </tr>
            <tr>
                <td><h4>Plátce/Objednatel</h4></td>
                <td>
                    @RenderSubjekt(Model.Platce, 1)
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Dodavatelé</h4>
                </td>
                <td>
                    @for (int i = 0; i < Model.Prijemce.Length; i++)
                    {
        @RenderSubjekt(Model.Prijemce[i], 2) if (i < Model.Prijemce.Length - 1)
                        {
        @Html.Raw("<hr/>")}

                    }
                </td>

            </tr>
            <tr>
                <td>
                    Oblast@((Model.GetRelevantClassification().Count() > 1) ? "i" : "") smlouvy
                </td>
                <td>
                    <div class="row">
                        @if (this.User?.IsInRole("canEditData") == true)
                        {
                            <div class="col-xs-1">
                                <a href="/manage/EditClassification/@Model.Id" style="font-size:2em">
                                    <i class="far fa-axe"></i>
                                </a>
                            </div>
                        }
                        <div class="col-xs-11">
                            @if (Model.GetRelevantClassification().Count() == 0)
                            {
                <div>Nepodařilo se nám správně zatřídit do kategorií tuto smlouvu.</div>}
                            @foreach (var classif in Model.GetRelevantClassification())
                            {
                <div>
                    @(classif.ClassifTypeName()) <span class="text-muted">(<a class="text-muted" href="/HledatSmlouvy?Q=oblast:@(classif.ClassifSearchQuery())">najít smlouvy ze stejného oboru</a>)</span>
                </div>}
                            <div>
                                @if (Model.GetRelevantClassification().Count() == 0)
                                {
                    @WebUtil.DynamicModal("/api/v1/modalclassification/" + Model.Id, " Pomozte nám se správnou klasifikací, prosím.", "btn btn-link") }
                                else
                                {
                    @WebUtil.DynamicModal("/api/v1/modalclassification/" + Model.Id, " Jsou oblasti špatně? Dejte nám vědět, prosím.", "btn btn-link")}
                                <br />
                                <span class="small">
                                    Zatřídění do oblastí dělá stroj a někdy se může splést. Každá vaše oprava našeho robota zpřesní. Díky.
                                </span>
                            </div>
                        </div>

                    </div>
                </td>
            </tr>

            <tr>
                <td>Hodnota smlouvy</td>
                <td>

                    @WebUtil.IfExists(Model.hodnotaBezDph.HasValue, "<p>Cena bez DPH: <b>" + HlidacStatu.Lib.Data.Smlouva.NicePrice(Model.hodnotaBezDph, html: true) + "</b></p>")
                    @WebUtil.IfExists(Model.hodnotaVcetneDph.HasValue, "<p>Cena s DPH: <b>" + HlidacStatu.Lib.Data.Smlouva.NicePrice(Model.hodnotaVcetneDph, html: true) + "</b></p>")
                    @if (Model.ciziMena != null && Model.ciziMena.mena != null)
                    {
        @WebUtil.IfExists(Model.ciziMena.hodnota > 0
                                     && Model.ciziMena.mena != "CZK",
                                "<p>Cena v cizí měně: <b>" + HlidacStatu.Lib.Data.Smlouva.NicePrice(Model.ciziMena.hodnota, Model.ciziMena.mena, html: true) + "</b></p>")}

                </td>





            </tr>
            <tr>
                <td>Přílohy</td>
                <td>
                    @if (Model.Prilohy != null && Model.Prilohy.Count() > 0)
                    {
        <ol>
            @foreach (var priloha in Model.Prilohy)
            {

                bool weHaveCopy = false;
                if (System.IO.File.Exists(Init.PrilohaLocalCopy.GetFullPath(Model, priloha)))
                {
                    weHaveCopy = true;
                }
<li>
    @if (znepristupnena)
    {
<div>
    @priloha.nazevSouboru
    @if (weHaveCopy)
    {
        if (this.User?.IsInRole("novinar") == true)
        {
<a href="@Url.Action("KopiePrilohy", new { id = @Model.Id, hash = priloha.hash.Value, secret = priloha.LimitedAccessSecret(this.User.Identity.Name) })" data-link="kopie">(naše kopie)</a> <b>!Pozor, tato smlouva byla zneplatněna a tato příloha není veřejně dostupná!</b> }
                            else
                            { @*<a href="@Url.Action("KopiePrilohy", new { id = @Model.Id, hash = priloha.hash.Value})" data-link="kopie">(naše kopie)</a>*@
                                                            @WebUtil.FeedbackPriloha("Zpřístupnění přílohy", "", Model.Id, priloha.odkaz)}
                                                                                    }
</div> }
                    else
                    {

<div>
    @priloha.nazevSouboru :
    <a href="@priloha.odkaz" target="_blank">Originál</a>
    @if (weHaveCopy)
    {
@Html.Raw(";&nbsp;")
                            <a href="@Url.Action("KopiePrilohy", new { id = @Model.Id, hash = priloha.hash.Value })" data-link="kopie">(naše kopie)</a>}
    @if (priloha.WordCount > 10)
    {
@Html.Raw(";&nbsp;")
                            <a href="@Url.Action("TextSmlouvy", new { id = @Model.Id, hash = priloha.hash?.Value, q = Request.QueryString["Q"] })">zobrazit čistý text přílohy</a>
                                                        <span>(@priloha.WordCount slov)</span>}

    @WebUtil.HighlightContent(highlightingData, "prilohy.plainTextContent", priloha.PlainTextContent,
             prefix: "<blockquote class='small'>", postfix: "</blockquote>")
    &nbsp;
</div>}
</li>}
        </ol> }
                    else
                    {
        <span class="text-danger">Žádné smlouvy publikující strana nezveřejnila!</span>}
                </td>

            </tr>
            @Html.Action("CachedAction_Child_2H", new { model = Model, NameOfView = "Detail_Child_vazby", auth = this.User.Identity.IsAuthenticated, key = Model.Id })
            @if (Model.IsPartOfRegistrSmluv() && Model.znepristupnenaSmlouva() == false && Model.Issues != null && Model.Issues.Where(m => m.Public).Count() > 0)
            {
<tr>
    <td>
        Nedostatky ve smlouvách
    </td>
    <td>
        <ul class="list-group">

            @foreach (var iss in Model.Issues.Where(m => m.Public).OrderByDescending(m => m.Importance))
            {
                if (znepristupnena && iss.IssueTypeId == -1) //vypis pouze info o znepristupneni
                {
<li title="@(((HlidacStatu.Lib.Issues.ImportanceLevel)iss.Importance).ToNiceDisplayName())" class="list-group-item list-group-item@(HlidacStatu.Lib.Issues.Importance.GetCssClass(iss.Importance, true))">
    <b>@iss.Title</b> : @iss.TextDescription
</li> }
                    else if (!znepristupnena && iss.Public && iss.Importance != HlidacStatu.Lib.Issues.ImportanceLevel.NeedHumanReview)
                    {
<li title="@(((HlidacStatu.Lib.Issues.ImportanceLevel)iss.Importance).ToNiceDisplayName())" class="list-group-item list-group-item@(HlidacStatu.Lib.Issues.Importance.GetCssClass(iss.Importance, true))">
    <b>@iss.Title</b> : @iss.TextDescription
</li>}
                }
        </ul>


    </td>
</tr>            }


            @if (Model.platnyZaznam)
            {
<tr>
    <td>
        Právní rámec smlouvy vzhledem <a href="/texty/O-Registru">k platnosti registru smluv</a>
    </td>
    <td>
        @switch (Model.PravniRamec)
        {
            case HlidacStatu.Lib.Data.Smlouva.PravniRamce.MimoRS:
<span>Smlouva <b>nespadá</b> pod zákon o registru smluv</span> break;
                    case HlidacStatu.Lib.Data.Smlouva.PravniRamce.Do072017:
<span>
    Smlouva <b>nepodléhá</b> možné sankci neplatnosti smlouvy <a class="small" href="https://www.hlidacstatu.cz/texty/O-Registru#zmena01072017"><span style="font-weight:normal;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Vysvětlení co to znamená zde</a>
</span> break;
                    case HlidacStatu.Lib.Data.Smlouva.PravniRamce.Od072017:
<span>
    Smlouva <b>podléhá</b> možné sankci neplatnosti smlouvy <a class="small" href="https://www.hlidacstatu.cz/texty/O-Registru#zmena01072017"><span style="font-weight:normal;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Vysvětlení co to znamená zde</a>
</span>break;
                    default:
                        break;
                }

    </td>
</tr>            }

            <tr>
                <td>
                    Stálé URL tohoto záznamu na tomto serveru:
                </td>
                <td>
                    <a href="@Url.Action("Detail", new { id = Model.Id })" target="_blank">https://www.hlidacstatu.cz@(Url.Action("Detail", new { id = Model.Id }))</a>
                </td>
            </tr>
            <tr>
                <td>
                    @WebUtil.IfExists(Model.IsPartOfRegistrSmluv(), "Tento záznam na Registru smluv:", "Zdroj dat:")
                </td>
                <td>
                    <a href="@Model.odkaz" target="_blank">@Model.odkaz</a>
                    @if (Model.IsPartOfRegistrSmluv() == false)
                    {
        <div class="text-danger">
            Smlouva není součástí Registru smluv a nevztahují se na ni pravidla zákona o Registru smluv. Smlouva byla získána z uvedeného zdroje.
        </div>}
                    @if (znepristupnena)
                    {
        <div>Smlouva byla znepřístupněna, originální záznam už nemusí být dostupný.</div>}
                </td>
            </tr>
            <tr>
                <td>
                    Tento záznam jako JSON:
                </td>
                <td>
                    <a href="/api/v1/Detail/@(Model.Id)?nice=1" target="_blank">https://www.hlidacstatu.cz/api/v1/Detail/@(Model.Id)?nice=1</a>
                    <br />
                    <small class="text-muted">Popis JSON <a href="@Url.Action("Index", "ApiV1")">zde</a></small>
                    <small class="text-muted">Chcete všechna data najednou? Koukněte <a href="@Url.Action("Index", "ApiV1")">sem</a>.</small>
                </td>
            </tr>
            <tr>
                <td>Sdílení</td>
                <td>
                    <div class="ssk-group"
                         data-url=""
                         data-text="@Model.predmet">
                        @WebUtil.ShareFacebook(Model.GetUrl(false))
                        @WebUtil.ShareTwitter(Model.GetUrl(false), Model.predmet)
                        @WebUtil.ShareWidget(Model.GetUrl(false))
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
    @WebUtil.FeedbackModal("Poslat opravu či připomínku")




    @Html.Partial("_Symbols", Model)

    </div>

    @*@Html.Action("Detail_child", new { Id = Model.Id, model = Model, NameOfView = "Detail_Child" })*@



    @section onlyembed
{
        @Html.Action("CachedAction_Child_2H", new { model = Model, NameOfView = "Detail_Child_embed", auth = this.User.Identity.IsAuthenticated, key = Model.Id })
        @*@Html.Action("Detail_child", new { Id = Model.Id, model = Model, NameOfView = "Detail_Child_embed" })*@

    }

    @section footerscripts
{
        <style>
            /* Popover */
            /* Popover Header */
            .popover-title {
                background-color: #fcf8e3;
            }
            /* Popover Body */
            .popover-content {
                font-size: 80%;
            }
        </style>

        <script type="text/javascript">
        SocialShareKit.init({
            url: 'https://www.hlidacstatu.cz@(Url.Action("Detail", new { id = Model.Id }))',
            twitter: {
                via: 'HlidacSmluv'
            }
        }
        );
        $(document).ready(function () {
            $("a[data-link='kopie']").popover({
                placement: 'top',
                trigger: "hover",
                title: "Upozornění",
                content: "Jedná se o naši kopii zveřejněné smlouvy. Nemusí se jednat o stejný, správný či úplný dokument."
            });
        });
        </script>
    }



    @helper RenderSubjekt(HlidacStatu.Lib.Data.Smlouva.Subjekt subjekt, int typSubjektu)
    {HlidacStatu.Lib.Data.Firma firma = HlidacStatu.Lib.Data.Firmy.Get(subjekt.ico);
        <p>
            @Html.KIndexLabelLink(subjekt.ico)<a href="/subjekt/@subjekt.ico">
                <b>@subjekt.nazev</b>
            </a>&nbsp;&nbsp;&nbsp;@WebUtil.FirmaMoreInfoLinks(subjekt.ico)

            <br />
            @WebUtil.IfExists(subjekt.utvar, subjekt.utvar + "<br />")

            @subjekt.adresa<br />
            @if (!string.IsNullOrEmpty(subjekt.ico))
            {
<text>
    ICO <a href="/subjekt/@subjekt.ico">@subjekt.ico</a>
</text>}
            @if (!string.IsNullOrEmpty(subjekt.datovaSchranka))
            {
<text>
    &nbsp;dat.schránka @subjekt.datovaSchranka
</text>}


            @if (typSubjektu == 1)
            {
<text>
    <br />Plátce peněz
</text> }
else if (typSubjektu == 2)
{
<text>
    <br />Příjemce peněz
    <div>@WebUtil.RenderSearchLinkBetweenSubjects(Model.Platce?.ico, subjekt.ico)</div>
</text> }
else if (typSubjektu == 3) //vkladatel do rejstriku
{
<text>
</text>}
            @if (firma != null && firma.IsNespolehlivyPlatceDPH())
            {
<div><span class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>Nespolehlivý plátce DPH</span> (<a href="@firma.GetUrl(false)">více</a>)</div>}


            @if (!string.IsNullOrEmpty(subjekt.ico))
            {
<br />}
        </p>
    }

