@model HlidacStatu.Lib.Data.Search.GeneralResult<HlidacStatu.Lib.Data.Firma>
@using System.Linq;
@using HlidacStatu.Web
@using HlidacStatu.Lib
@using Devmasters
@using HlidacStatu.Web.Framework;
@{
    ViewBag.Title = "Hledání subjektů";
    ViewBag.ShowBookmarkUrl = true;
    string subTitle = "";
    if (!string.IsNullOrEmpty(Request.QueryString["subtitle"]))
    {
        subTitle = Request.QueryString["subtitle"];
    }

}
@section scripts
{
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Hledání subjektů</li>
        <li class="active">@Model.Query</li>
    </ol>
}

@if (Model.HasResult == false)
{

    <div class="searching container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-1">
                <img style="margin-top:20px; height:30px;width:auto" src="/Content/img/icon-not-found.svg">

            </div>
            <div class="col-xs-11">
                <div class="new-p--big">
                    Pro hledaný výraz <span title="@Model.Query" class="emphasized">@Devmasters.TextUtil.ShortenText(Model.Query, 80, "...")</span> jsme bohužel nic nenašli
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="row" id="firmy">
    <div class="col-xs-12">
        <div class="searching__watcher">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Nalezené subjekty
                </h2>
                <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Total)</span>
            </div>
        </div>
    </div>
</div>

<h4>@(subTitle)</h4>
<div class="row" style="">
    <table class="table table-hover">
        @SearchResults.FirmyHead(false)
        <tbody>

            @foreach (var item in Model.Result)
            {
                if (item.Valid)
                {
                    @SearchResults.FirmyRow(this.User, item, false)
                }
            }
        </tbody>
    </table>
</div>

@SearchResults.Pagination(Url.RequestContext.HttpContext.Request,Model, "HledatFirmy","Home", new string[] { "nameOfView", "routeData" }, null)

