@model HlidacStatu.Lib.Data.Search.GeneralResult<HlidacStatu.Lib.Data.Firma>
@using System.Linq;
@using HlidacStatu.Web
@using HlidacStatu.Lib
@using Devmasters.Core
@using HlidacStatu.Web.Framework;
@{
    ViewBag.Title = "Hledání firem";
    ViewBag.ShowBookmarkUrl = true;

}
@section scripts
{
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Hledání firem</li>
        <li class="active">@Model.Query</li>
    </ol>
}

@if (Model.HasResult == false)
{

    <div class="searching container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-1">
                <img style="margin-top:20px; height:30px;width:auto" src="/Content/img/icon-not-found.svg">

            </div>
            <div class="col-xs-11">
                <div class="new-p--big">
                    Pro hledaný výraz <span title="@Model.Query" class="emphasized">@Devmasters.Core.TextUtil.ShortenText(Model.Query, 80, "...")</span> jsme bohužel nic nenašli
                </div>
            </div>
        </div>
    </div>
    return;
}

<div class="row" id="firmy">
    <div class="col-xs-12">
        <div class="searching__watcher">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Nalezené firmy
                </h2>
                <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Total)</span>
            </div>
        </div>
    </div>
</div>

<h4>Nejvíce relevantní nalezené firmy</h4>
<div class="row" style="">
    <table class="table table-hover">
        @SearchResults.FirmyHead(false)
        <tbody>

            @foreach (var item in Model.Result)
            {
                if (item.Valid)
                {
                    @SearchResults.FirmyRow(this.User, item, false)
                }
            }
        </tbody>
    </table>
</div>


<div class="text-center">
    <ul class="pagination pagination-lg">
        @{
            string qid = Url.RequestContext.HttpContext.Request.QueryString["Page"] as string;
            int page = 0;
            string firstPageClass = "";
            string lastPageClass = "";

            if (!Devmasters.Core.TextUtil.IsNumeric(qid))
            {
                firstPageClass = "disabled";
                page = 1;
            }
            else
            {
                page = HlidacStatu.Util.ParseTools.ToInt(qid) ?? 1;
                if (page <= 1)
                {
                    page = 1;
                }
            }
            if (page == 1)
            {
                firstPageClass = "disabled";
            }
            if (Model.Total < page * Model.PageSize
                || page * Model.PageSize >= HlidacStatu.Lib.Searching.Tools.MaxResultWindow
                )
            {
                lastPageClass = "disabled";
            }

        }
        @if (string.IsNullOrEmpty(firstPageClass)) //jde jit na predchozi stranku, neni to "disabled"
        {
            <li class="@firstPageClass">
                @Html.CurrentLink("« Předchozí", "HledatFirmy", "Home", Model.ToRouteValues(page - 1), null, new string[] { "nameOfView" })
            </li>
        }
        @if (string.IsNullOrEmpty(lastPageClass)) //jde jit na dalsi stranku, neni to "disabled"
        {
            <li class="@lastPageClass">
                @Html.CurrentLink("Následující »", "HledatFirmy", "Home", Model.ToRouteValues(page + 1), null, new string[] { "nameOfView", "routeData" })
            </li>
        }

    </ul>
</div>
