@model HlidacStatu.Lib.Data.Search.MultiResult
@using System.Linq;
@using Devmasters.Core;
@using HlidacStatu.Web.Framework;

@{
    int numOfSmluv = 10;
    int numOfOsob = 8;
    int numOfUctu = 5;
    int numOfDotaci = 7;
    int numOfFirem = 12;
    int numOfVZ = 5;
    int numOfInsolvenci = 5;
    int countRendered = 0;
    ViewBag.ShowBookmarkUrl = true;

    ViewBag.Title = "Výsledky hledání";
    //ViewBag.SubTitle = Model?.Query;

    bool hasPreview = Model.HasOsoby;

    Dictionary<string, System.TimeSpan> viewRenderTimes = new Dictionary<string, TimeSpan>();
}
@section scripts
    {
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Smlouvy","Home")">Hledání</a></li>
        <li title="@Model.Query">@(Devmasters.Core.TextUtil.ShortenText(Model.Query, 60, "..."))</li>
    </ol>
}

@if (string.IsNullOrEmpty(Model.Query))
{

    <div class="searching container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-1">
                <img style="margin-top:20px; height:30px;width:auto" src="/Content/img/icon-not-found.svg">

            </div>
            <div class="col-xs-11">
                <div class="new-p--big">
                    Nevíme, co máme hledat, žádný dotaz jsme od vás nedostali.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8  col-md-6">
            </div>
        </div>

        <!-- otazky? -->
        <div class="row">
            <div class="col-sm-6">
                <div class="searching__questions">
                    <div>
                        <div>
                            <a class="link--blue" href="/napoveda">
                                Jak vyhledávat?
                            </a>
                            <br>
                            Pokud si stále nevíte rady, neváhejte se nás na cokoliv
                            <a class="link--blue" href="/texty/kontakt">
                                zeptat.
                            </a>
                        </div>
                    </div>
                    <img class="searching__questions__icon" src="/Content/img/icon-questions.svg">
                </div>
            </div>
        </div>

    </div>
    return;

}
else if (Model.HasResults == false)
{

    <div class="searching container">
        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-1">
                <img style="margin-top:20px; height:30px;width:auto" src="/Content/img/icon-not-found.svg">

            </div>
            <div class="col-xs-11">
                <div class="new-p--big">
                    Pro hledaný výraz <span title="@Model.Query" class="emphasized">@Devmasters.Core.TextUtil.ShortenText(Model.Query, 80, "...")</span> jsme bohužel nic nenašli
                </div>
            </div>
        </div>
        @if (Model.IsValid == false)
        {
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="alert alert-danger" role="alert">
                        Hledaný výraz není správně naformulován a my mu nerozumíme.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-11">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tipy pro kontrolu dotazu</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li><b>Uvozovky</b> - Zkontrolujte si, zda jste nezapomněli uzavřít uvozovky na konci</li>
                                <li><b>Závorky</b> - Zkontrolujte si, zda jste nezapomněli uzavřít závorky na konci výrazu</li>
                                <li><b>Syntaxe</b> - Zkontrolujte si i detaily syntaxe, <a href="/napoveda">nejlépe přímo s nápovědou</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- otazky? -->
        <div class="row">
            <div class="col-sm-6">
                <div class="searching__questions">
                    <div>
                        <div class="new-title new-title--smaller">
                            Nenašli jste, co jste hledali?
                        </div>
                        <div>
                            Zkuste zadat hledaný výraz jiným způsobem.
                            <a class="link--blue" href="/napoveda">
                                Jak vyhledávat?
                            </a>
                            <br>
                            Pokud si stále nevíte rady, neváhejte se nás na cokoliv
                            <a class="link--blue" href="/texty/kontakt">
                                zeptat.
                            </a>
                        </div>
                    </div>
                    <img class="searching__questions__icon" src="/Content/img/icon-questions.svg">
                </div>
            </div>
        </div>

    </div>
    return;
}

<div class="row">
    <div class="col-xs-12">
        <div class="new-p new-p--big" style="margin-top: 10px;">
            Pro hledaný výraz <span class="emphasized">@(Devmasters.Core.TextUtil.ShortenText(Model.Query, 60, "..."))</span> @HlidacStatu.Util.RenderData.Vysledky.NalezenoPocetVysledku(Model.Total).
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="searching__counters">
            @if (Model.HasSmlouvy)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#smlouvy">Smlouvy <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Smlouvy.Result.HitsMetadata.Total)</span></a></div>
            }
            @if (Model.HasVZ)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#verejnezakazky">Veřejné zakázky <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.VZ.Result.HitsMetadata.Total)</span></a></div>
            }
            @if (Model.Insolvence.HasResult)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#insolvence">Insolvence <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Insolvence.Result.HitsMetadata.Total)</span></a></div>
            }
            @if (Model.HasOsoby)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#osoby">Politici <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Osoby.Total)</span></a></div>
            }
            @if (Model.HasFirmy)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#firmy">Firmy <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Firmy.Total)</span></a></div>
            }
            @if (Model.HasDotace)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#dotace">Dotace <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Dotace.Total)</span></a></div>
            }
            @if (Model.Datasets.HasResult)
            {
                <div class="searching__counter"><a class="link--blue link--big" href="#databaze">Další databáze <span class="new-p new-p--gray">@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Datasets.Total)</span></a></div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Util.AddWatchDog(this.User, Model.Query, null, $"Hlídat všechny novinky o '{Devmasters.Core.TextUtil.ShortenText(Model.Query, 60, "...")}' ve všech databázích", btnCss: "btn btn-warning btn-sm", prefillWDname: "Novinky o " + Devmasters.Core.TextUtil.ShortenText(Model.Query, 60, "..."))
    </div>
</div>

@if (Model.HasSmlouvy)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();
    <div id="smlouvy" class="row">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-contracts.svg">
                    <h2 class="new-title">
                        Nalezené smlouvy
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Smlouvy.Result.Total)</span>
                </div>
                <div class="table-new searching__watcher__table">
                    @if (Model.Smlouvy.Result.Aggregations != null && Model.Smlouvy.Result.Aggregations.ContainsKey("sumKc"))
                    {
                        double? sum = ((Nest.ValueAggregate)Model.Smlouvy.Result.Aggregations["sumKc"]).Value;
                        <h4>
                            Celková cena nalezených smluv @Html.Raw(HlidacStatu.Lib.Data.Smlouva.ShortNicePrice(Convert.ToDecimal(sum.Value), html: true))
                        </h4>
                    }

                    @if (Model.Smlouvy.Total > numOfSmluv)
                    {
                        <h4>Zobrazujeme @(Devmasters.Core.Lang.Plural.Get((int)numOfSmluv, "první smlouvu", "první {0} smlouvy", "prvních {0} smluv"))</h4>
                    }

                    <table class="table table-hover">
                        <thead>
                            @SearchResults.SmlouvyHead(this.User, true)
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Smlouvy.Result.Hits
                                    .Take(numOfSmluv)
                                    )
                            {
                                countRendered++;
                                var rec = item.Source;

                                @SearchResults.SmlouvyRow(this.User, rec, Model.Smlouvy, true)

                                if (Model.Smlouvy.Chyby)
                                {
                                    @SearchResults.SmlouvyRowChyby(rec)
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    if (Model.Smlouvy.Total > numOfSmluv)
    {
        <div style="height: 32px"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">

                    <a class="btn btn-default btn-default-new" href="@Url.Action("HledatSmlouvy", Model.Smlouvy.ToRouteValues(1))">zobrazit všechny nalezené smlouvy (<b>@Model.Smlouvy.Total</b>)</a>
                    @Util.AddWatchDogSmall(this.User, Model.Query, typeof(HlidacStatu.Lib.Data.Smlouva))
                </div>
            </div>
        </div>
    }

    sw.Stop();
    viewRenderTimes.Add("smlouvy", sw.Elapsed);

}


@if (Model.HasVZ)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();
    @RenderVZBox(numOfVZ)
    sw.Stop();
    viewRenderTimes.Add("VZ", sw.Elapsed);
}


@if (Model.HasInsolvence)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();
    <div class="row" id="insolvence">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Nalezené insolvence
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Insolvence.Result.Total)</span>
                </div>
                <div class="table-new searching__watcher__table">

                    @if (Model.Insolvence.Total > numOfInsolvenci)
                    {
                        <h4>Zobrazujeme @(Devmasters.Core.Lang.Plural.Get((int)numOfInsolvenci, "první insolvenci", "první {0} insolvence", "prvních {0} insolvencí"))</h4>
                    }

                    <table class="table table-hover">
                        <thead>
                            @SearchResults.InsolvenceHead()
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Insolvence.Result.Hits.Take(numOfInsolvenci))
                            {
                                countRendered++;
                                var rec = item.Source;
                                @SearchResults.InsolvenceRow(User, Request, rec, Model.Query)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    if (Model.Insolvence.Total > numOfInsolvenci)
    {
        <div style="height: 32px"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a class="btn btn-default btn-default-new" href="/Insolvence/Hledat?Q=@Url.Encode(Model.Query)">zobrazit všechny nalezené insolvence (<b>@Model.Insolvence.Total</b>)</a>
                    @Util.AddWatchDogSmall(this.User, Model.Query, typeof(HlidacStatu.Lib.Data.Insolvence.Rizeni))

                </div>
            </div>
        </div>
    }

    sw.Stop();
    viewRenderTimes.Add("Insolvence", sw.Elapsed);

}

@*Dotace*@

@if (Model.HasDotace)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();
    <div class="row" id="dotace">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Nalezené dotace
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Dotace.Total)</span>
                </div>
                <div class="table-new searching__watcher__table">

                    @if (Model.Dotace.Total > numOfDotaci)
                    {
                        <h4>Zobrazujeme @(Devmasters.Core.Lang.Plural.Get((int)numOfDotaci, "první dotaci", "první {0} dotace", "prvních {0} dotací"))</h4>
                    }

                    <table class="table table-hover">
                        <thead>
                            @SearchResults.DotaceHead()
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Dotace.Result.Hits.Take(numOfDotaci))
                            {
                                countRendered++;
                                var dotace = item.Source;
                                @SearchResults.DotaceRow(User, Request, dotace, Model.Query)
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    if (Model.Dotace.Total > numOfDotaci)
    {
        <div style="height: 32px"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a class="btn btn-default btn-default-new" href="/Dotace/Hledat?Q=@Url.Encode(Model.Query)">zobrazit všechny nalezené dotace (<b>@Model.Dotace.Total</b>)</a>
                    @*@Util.AddWatchDogSmall(this.User, Model.Query, typeof(HlidacStatu.Lib.Data.Insolvence.Rizeni))*@

                </div>
            </div>
        </div>
    }

    sw.Stop();
    viewRenderTimes.Add("Dotace", sw.Elapsed);

}

@if (Model.HasOsoby)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();

    @RenderOsobyBox(numOfOsob)
    sw.Stop();
    viewRenderTimes.Add("Osoby", sw.Elapsed);

}


@if (Model.HasFirmy)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();

    <div class="row" id="firmy">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Nalezené firmy
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Firmy.Total)</span>
                </div>
            </div>
        </div>
    </div>

    <h4>Nejvíce relevantní nalezené firmy</h4>
    <div class="row" style="">
        <table class="table table-hover">
            @SearchResults.FirmyHead(false)
            <tbody>

                @foreach (var item in Model.Firmy.Result.Take(numOfFirem))
                {
                    var f = HlidacStatu.Lib.Data.Firmy.Get(item);
                    if (f.Valid)
                    {
                        @SearchResults.FirmyRow(this.User, f, false)
                    }
                }
            </tbody>
        </table>
    </div>
    @*if (Model.Transakce.Total > numOfUctu)
        {
            <div style="height: 32px"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <a class="btn btn-default btn-default-new" href="/Ucty/Hledat?Q=@Url.Encode(Model.Query)">zobrazit všechny nalezené transakce</a>
                    </div>
                </div>
            </div>

        }*@
    sw.Stop();
    viewRenderTimes.Add("Firmy", sw.Elapsed);

}

@if (Model.HasDatasets)
{
    Devmasters.Core.StopWatchEx sw = new StopWatchEx();
    sw.Start();

    <div id="databaze" class="row">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Údaje jsme našli i v dalších databázích
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Datasets.Total)</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @{
            var tabs = Model.Datasets.Results.Where(m => m.Total > 0).OrderByDescending(m => m.Total)
                    .Select(m => $"{m.DataSet.Registration().name}&nbsp;({HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(m.Total)})");
            List<string> results = new List<string>();

            foreach (var rds in Model.Datasets.Results
               .Where(m => m.Total > 0)
               .OrderByDescending(m => m.Total))
            {
                results.Add(rds.RenderResultsInHtml(Model.Query));
            }
        }
        @Util.VerticalTabs(tabs, results)
    </div>
    sw.Stop();
    viewRenderTimes.Add("Datasets", sw.Elapsed);

}



<!--
    searchtimes: @Html.Raw(string.Join("\n", Model.SearchTimes().Select(kv=>kv.Key + ": " + kv.Value.TotalMilliseconds + "ms")))
-->
<!--
    viewrendertimes: @Html.Raw(string.Join("\n", viewRenderTimes.Select(kv=>kv.Key + ": " + kv.Value.TotalMilliseconds + "ms")))
-->
@{
    var t = Elastic.Apm.Agent.Tracer.StartTransaction("/hledej", "render");
    foreach (var vrt in viewRenderTimes)
    {
        var sp = t.StartSpan(vrt.Key, "render");
        sp.Duration = vrt.Value.TotalMilliseconds;
        sp.End();
    }
    t.End();
}

@helper RenderOsobyBox(int numOfOsob)
{
    string osobaStatDescription = "";
    HlidacStatu.Lib.Data.Osoba osoba1 = Model.Osoby.Result.First();

    var alldata = osoba1.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny);

    var data = osoba1.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny)
                    .Where(v => !string.IsNullOrEmpty(v.To.Id))
                    .GroupBy(f => f.To.Id, v => v, (ico, v) => new
                    {
                        ICO = ico,
            //FirmaName = v.First().To?.PrintName(),//HlidacStatu.Lib.Data.External.FirmyDB.NameFromIco(ico, true),
            //VazbyPerIco = osoba.VazbyProICO(ico),
            stat = HlidacStatu.Lib.Analysis.ACore.GetBasicStatisticForICO(ico)
                    })
                    .OrderByDescending(m => m.stat.Summary.CelkemCena).ThenBy(m => m.ICO)
                    .ToArray();

    var osobaStatDescTotalKc = HlidacStatu.Lib.Data.Smlouva.NicePrice(data.Sum(d => d.stat.Summary.CelkemCena), html: true, shortFormat: true);
    osobaStatDescription = string.Format("{0}{1}",
        Devmasters.Core.Lang.Plural.GetWithZero((int)alldata.Count(), "Žádná vazba na firmy", "Celkem vazba na <b>{0} firmu</b>", "Celkem vazba na <b>{0} firmy</b>", "Celkem vazba na <b>{0} firem</b>"),
        Devmasters.Core.Lang.Plural.GetWithZero((int)data.Sum(d => d.stat.Summary.Pocet), "."
            , ", <b>{0} smlouva</b> v registru smluv za <b>" + osobaStatDescTotalKc + "</b>"
            , ";, <b>{0} smlouvy</b> v registru smluv za <b>" + osobaStatDescTotalKc + "</b>"
            , ";, <b>{0} smluv</b> v registru smluv za <b>" + osobaStatDescTotalKc) + "</b>"
    );
    var funkceOsoba = osoba1.Description(true,
                   m => m.Type != (int)HlidacStatu.Lib.Data.FirmaEvent.Types.Sponzor
                        && m.Type != (int)HlidacStatu.Lib.Data.FirmaEvent.Types.SponzorZuctu,
                   5);

    <div class="row" id="osoby">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Nalezené osoby
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.Osoby.Total)</span>
                </div>
            </div>
        </div>
    </div>

    <!-- big result -->

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="person-profile-thumb">
                <a href="@osoba1.GetUrl(true)">
                    <div class="profile-picture" style="background-image: url('@osoba1.GetPhotoUrl(true)')">
                    </div>
                </a>
                <div>
                    <a class="section-title link--blue" href="@osoba1.GetUrl(true)">
                        @osoba1.FullName()
                    </a>
                    <div class="new-p new-p--gray new-p--small">
                        @osoba1.NarozeniYear()
                    </div>
                    <div class="new-p new-p--gray new-p--small">
                        @osoba1.StatusOsoby().ToNiceDisplayName()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">

            @if (!string.IsNullOrWhiteSpace(funkceOsoba))
            {
                <div class="search-result-label">
                    Funkce
                </div>
                <div class="new-p">
                    @Html.Raw(funkceOsoba)
                </div>
            }
            @if (osoba1.Sponzoring().Count() > 0)
            {
                <div class="search-result-label">
                    Podpora politických stran
                </div>
                <div class="new-p">
                    @Html.Raw(osoba1.Description(true,
                       m => m.Type == (int)HlidacStatu.Lib.Data.FirmaEvent.Types.Sponzor,
                       5))
                </div>

            }
            <div class="search-result-label">
                Angažovanost
            </div>
            <div class="new-p">
                @Html.Raw(osobaStatDescription)
            </div>
            @if (osoba1.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Count > 0)
            {
                <div class="search-result-label">
                    Vazby
                </div>
                <div class="new-p table-new table-new--dotted">
                    <table>
                        <tbody>
                            @foreach (var v in osoba1.Statistic(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).SoukromeFirmy.Take(3))
                            {
                                <tr>
                                    <td><a href="/subjekt/@v.Value.Subject().ICO">@(v.Value.Subject().Jmeno)</a></td>
                                    <td class="cell-gray">@Html.Raw(v.Value.BasicStatPerYear.Summary.ToNiceString(v.Value.Subject(), true))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <div class="pull-right new-p"><a class="link" href="@osoba1.GetUrl(true)">další vazby @osoba1.FullName()</a></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            }
        </div>
    </div>
    if (Model.Osoby.Total > 1)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="search-result-label">
                    Další nalezené osoby
                </div>
                <div class="new-p">
                    @foreach (var osobaX in Model.Osoby.Result.Skip(1).Take(numOfOsob - 1))
                    {
                        <div class="person-profile-thumb person-profile-thumb--small" style="display:inline-block;padding-right:10px;">
                            <a href="@osobaX.GetUrl(true)">
                                <div class="profile-picture" style="background-image: url('@osobaX.GetPhotoUrl(true)')">
                                </div>
                            </a>
                            <div>
                                <a class="section-title link--blue" href="@osobaX.GetUrl(true)">
                                    @osobaX.FullName()
                                </a>
                                <div class="new-p new-p--gray new-p--small">
                                    @Html.Raw(osobaX.NarozeniYear(true))
                                </div>
                                <div class="new-p new-p--gray new-p--small">
                                    @osobaX.StatusOsoby().ToNiceDisplayName()
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        if (Model.Osoby.Total > numOfOsob)
        {
            <div style="height: 32px"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <a class="btn btn-default btn-default-new" href="/Osoby?Q=@Url.Encode(Model.Query)&ftx=@Model.OsobaFtx.ToString()">zobrazit všechny nalezené osoby</a>
                    </div>
                </div>
            </div>
        }
    }
    <!-- end big result -->
}

@helper RenderVZBox(int numOfVZ)
{
    var zakazkyTop = Model.VZ.Result.Hits
    .Select(m => m.Source)
    .Where(m => !string.IsNullOrEmpty(m.NazevZakazky?.Trim())
                && !string.IsNullOrEmpty(m.PopisZakazky?.Trim())
            )
    .Take(numOfVZ);
    if (zakazkyTop.Count() < numOfVZ)
    {
        zakazkyTop = zakazkyTop.Union(
            Model.VZ.Result.Hits.Select(m => m.Source)
            )
            .Take(numOfVZ);
    }


    <div class="row" id="verejnezakazky">
        <div class="col-xs-12">
            <div class="searching__watcher">
                <div class="watcher__title">
                    <img src="/Content/img/icon-person-watcher.svg">
                    <h2 class="new-title">
                        Nalezené veřejné zakázky
                    </h2>
                    <span>@HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.VZ.Total)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="">

        <div class="table-new searching__watcher__table">
            @if (Model.VZ.Total > numOfVZ)
            {
                <h4>Zobrazujeme @(Devmasters.Core.Lang.Plural.Get((int)numOfVZ, "první zakázku", "první {0} zakázky", "prvních {0} zakázek"))</h4>
            }

            <table class="table table-hover">
                <thead>
                    @SearchResults.VZHeader()
                </thead>
                <tbody>

                    @foreach (var item in zakazkyTop.Take(numOfVZ))
                    {
                        @SearchResults.VZRow(this.User, this.Request, item)
                    }
                </tbody>
            </table>
        </div>
    </div>
    if (Model.VZ.Total > numOfVZ)
    {

        <div style="height: 32px"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a class="btn btn-default btn-default-new" href="@Url.Action("Hledat", "VZ", Model.VZ.ToRouteValues(1))">zobrazit všechny nalezené veřejné zakázky (<b>@Model.VZ.Total</b>)</a>
                    @Util.AddWatchDogSmall(this.User, Model.Query, typeof(HlidacStatu.Lib.Data.VZ.VerejnaZakazka))
                </div>
            </div>
        </div>
    }


}
