@model HlidacStatu.Web.Controllers.HomeController.ImageBannerCoreData

@{
    Layout = "";
    string width = "1920px";
    string height = "1080px";

    string accentColor = "#F6C074";
    string textColor = "#FFFFFF";
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/textFit.min.js"></script>
    @*<link rel='stylesheet' href='~/Content/bootstrap.css?r=@(HlidacStatu.Util.Consts.Rnd.Next())' type='text/css' />*@
    <link rel='stylesheet' href='~/Content/socialBanner.css?r=@(HlidacStatu.Util.Consts.Rnd.Next())' type='text/css' />

    <style>

        body, p, div, span {
            font-family: 'Cabin', sans-serif;
        }

        h1, h2, h3, h4 {
            margin: 0;
            padding: 0;
            white-space: nowrap
        }

        .text-info {
        }

        .text-warning {
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 10px;
        }

        p {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }

        li {
            margin-bottom: 10px;
        }

            li:before {
                content: "●";
                display: inline-block;
                margin-left: 0;
                width: 1.3em;
                color: @textColor;
            }


        .mytxt {
            margin: 0;
            padding: 0;
            color: @textColor;
        }

            .mytxt ul {
                position: relative;
                list-style: none;
                margin-left: 0;
                padding-left: 1.2em;
            }

                .mytxt ul li:before {
                    content: "●";
                    position: absolute;
                    left: 0;
                }

            .mytxt b {
                font-weight: 700;
                color: @accentColor;
            }

            .mytxt strong {
                font-style: normal;
                font-weight: 700;
            }

            .mytxt i {
                font-style: italic;
            }

            .mytxt hr.title {
            border:2px solid @textColor; padding:0;margin:15px 0 20px 0;

            }
        .picture {
            width: 110px;
            height: 110px;
            background-size: cover;
            background-position: center center;
            border-radius: 60px;
            position: absolute;
        }
    </style>

</head>
<body style="width:@width;height:@height;background:url(/Content/Img/social-banner-16x9.png) no-repeat;">
    @if (!string.IsNullOrEmpty(Model.img))
    {
    <span class="picture" style="position:absolute;top:130px;left:120px;background-image: url('@Model.img')"></span>
    }

    @if (string.IsNullOrEmpty(Model.title))
    {
        <div class="jtextfill" style="position: absolute;top: 120px;left:250px;width: 1310px;height: 800px;
/*background-color:rgba(222,222,222,0.7);*/
">

            <span class="mytxt">
                @Html.Raw(Model.body)
            </span>

        </div>

    }
    else
    {

        <div class="jtextfill" style="position:absolute;top:120px;left:250px;width: 1310px;height: 120px;
/*background-color:rgba(222,222,222,0.7);*/
">
            <span class="mytxt" style="font-weight:700">
                @Html.Raw(Model.title)
            </span>
        </div>
        <div class="jtextfill" style="position: absolute;top: 260px;left:250px;width: 1310px;height: 50px;
/*background-color:rgba(222,222,222,0.7) ;*/
">
            <span class="mytxt" style="font-weight:100">
                @Html.Raw(Model.subtitle)
            </span>
        </div>
        <div class="jtextfill" style="position: absolute;top: 350px;left:250px;width: 1310px;height: 550px;
/*background-color:rgba(222,222,222,0.7) ;*/
">

            <span class="mytxt">
                @Html.Raw(Model.body)
            </span>

        </div>
    }

    <div class="jtextfill" style="position:absolute;top:950px;left:250px;width:1300px;height: 50px;
/*background-color:rgba(222,222,222,0.7) ;*/
         ">

        <span class="mytxt">
            @Html.Raw(Model.footer)
        </span>


    </div>





    <script>
        textFit(document.getElementsByClassName('jtextfill'), {
            multiLine: true, detectMultiLine: true, minFontSize: 20, maxFontSize: 400, alignVert: false, alignHoriz: false
        });

    </script>
</body>
</html>

