@model HlidacStatu.Web.Controllers.HomeController.ImageBannerCoreData

@{
    Layout = "";
    string width = "1920px";
    string height = "1080px";

    string defaultColor = "blue-dark";
    string[] colors = new string[] { "blue-dark", "blue-light", "green", "orange", "orange-invert", "orange-light", "red-dark" };
    if (!colors.Contains(Model.color))
    {
        Model.color = defaultColor;
    }
    string accentColor = "#F6C074";
    string textColor = "#FFFFFF";


    switch (Model.color)
    {
        case "blue-dark":
        case "green":
        case "red-dark":
        case "blue-light":
            accentColor = "#F6C074";
            textColor = "#FFFFFF";

            break;
        case "orange-invert":
            accentColor = "#000000";
            textColor = "#FFFFFF";
            break;
        case "orange":
            accentColor = "#FFFFFF";
            textColor = "#000000";
            break;
        case "orange-light":
            accentColor = "#003688";
            textColor = "#000000";

            break;

        default:
            break;
    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,700&amp;subset=latin-ext" rel="stylesheet">
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/textFit.min.js"></script>
    <style>

        body, p, div, span {
            font-family: 'Cabin', sans-serif;
        }

        h1, h2, h3, h4 {
            margin: 0;
            padding: 0;
            white-space: nowrap
        }

        .text-info {
        }

        .text-warning {
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 10px;
        }

        p {
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
        }

        li {
            margin-bottom: 10px;
        }

            li:before {
                content: "●";
                display: inline-block;
                margin-left: 0;
                width: 1.3em;
                color: @textColor;
            }


        .mytxt {
            margin: 0;
            padding: 0;
            color: @textColor;
        }

            .mytxt ul {
                position: relative;
                list-style: none;
                margin-left: 0;
                padding-left: 1.2em;
            }

                .mytxt ul li:before {
                    content: "●";
                    position: absolute;
                    left: 0;
                }

            .mytxt b {
                font-weight: 700;
                color: @accentColor;
            }

            .mytxt strong {
                font-style: normal;
                font-weight: 700;
            }

            .mytxt i {
                font-style: italic;
            }

            .mytxt hr.title {
            border:2px solid @textColor; padding:0;margin:15px 0 20px 0;

            }
        .picture {
            width: 110px;
            height: 110px;
            background-size: cover;
            background-position: center center;
            border-radius: 60px;
            position: absolute;
        }
    </style>
</head>
<body style="width:@width;height:@height;background:url(/Content/Img/bublina-banner-16x9-@(Model.color).png) no-repeat;">

    @if (!string.IsNullOrEmpty(Model.title))
    {
        <div class="jtextfill" style="position: absolute;top: 125px;left:160px;width: 1600px;height: 105px;
/*background-color:rgba(222,222,222,0.7);*/
">
            <span class="mytxt">
                    <h2>@Html.Raw(Model.title)</h2>
                    <hr class="title" />
            </span>
        </div>
        <div class="jtextfill" style="position: absolute;top: 245px;left:160px;width: 1600px;height: 500px;
/*background-color:rgba(0,222,222,0.7);*/
">

            <span class="mytxt">
                @Html.Raw(Model.body)
            </span>

        </div>

    }
    else
    {


        <div class="jtextfill" style="position: absolute;top: 125px;left:170px;width: 1570px;height: 600px;
/*background-color:rgba(222,222,222,0.7);*/
">

            <span class="mytxt">
                @if (!string.IsNullOrEmpty(Model.title))
                {
                    <h2>@Html.Raw(Model.title)</h2>
                    <hr class="title" />
                }
                @Html.Raw(Model.body)
            </span>

        </div>
    }

    @{
        int footer_left = 290;
        int footer_width = 1050;
    }
    @if (!string.IsNullOrEmpty(Model.img))
    {
        footer_left = 330;
        footer_width = 1000;
        <span class="picture" style="position:absolute;top:850px;left:360px;background-image: url('@Model.img');width:100px;height:100px;"></span>
    }
    <div class="jtextfill" style="position:absolute;top: 850px;left:490px;width:1000px;height:100px;
/*background-color:rgba(222,222,222,0.7);*/
         ">
        <span class="mytxt">
            @Html.Raw(Model.footer)
        </span>
    </div>

    <div class="jtextfill" style="position:absolute;top: 960px;left:490px;width:1000px;height: 50px;
/*background-color:rgba(222,222,222,0.7);*/
         ">
        <span class="mytxt">
            @Html.Raw(Model.subtitle)
        </span>
    </div>




    <script>
        textFit(document.getElementsByClassName('jtextfill'), {
            multiLine: true, detectMultiLine: true, minFontSize: 20, maxFontSize: 400, alignVert: false, alignHoriz: false
        });

    </script>
</body>
</html>

