@using HlidacStatu.Lib.Data;
@using HlidacStatu.Lib.Data.External.Zabbix;
@using Devmasters.Core;
@using HlidacStatu.Util;
@using HlidacStatu.Web.Framework.Report;


@{
    int PocetReportu = 24;

    ViewBag.Title = "Hlídač státu";
    ViewBag.SubTitle = "Hlídáme je, protože si to zaslouží!";
    ViewBag.HideTitle = true;
    ViewBag.HideAd = true;


    double platnych = HlidacStatu.Lib.StaticData.BasicStatisticData.Get()[0];
    double neplatnych = HlidacStatu.Lib.StaticData.BasicStatisticData.Get()[1];
    double celkemKc = HlidacStatu.Lib.StaticData.BasicStatisticData.Get()[2];

    var data = covid_pomoc.VsechnaPomoc();

    string sprima = "Přímá podpora";
    string sneprima = "Nepřímá podpora";
    string szaruka = "Záruka za úvěr";

    DateTime keDni = data.OrderByDescending(m => m.udaj_ke_dni).First().udaj_ke_dni;

    decimal vypl_prima = data.Where(m => m.typ_pomoci == sprima).Sum(m => m.vyplacena);
    decimal vypl_neprima = data.Where(m => m.typ_pomoci == sneprima).Sum(m => m.vyplacena);
    decimal vypl_zaruka = data.Where(m => m.typ_pomoci == szaruka).Sum(m => m.vyplacena);

}
@section scripts
{
    <script>
        _showFAD = false;
    </script>

    <script type="text/javascript">
        window.smartlook || (function (d) {
            var o = smartlook = function () { o.api.push(arguments) }, h = d.getElementsByTagName('head')[0];
            var c = d.createElement('script'); o.api = new Array(); c.async = true; c.type = 'text/javascript';
            c.charset = 'utf-8'; c.src = 'https://rec.smartlook.com/recorder.js'; h.appendChild(c);
        })(document);
        smartlook('init', '344e291cbee0b3c87748a78b80faf81d6e8628b1');
    </script>

    @Util.SetAutofocusOnId("Q")
}

@section title
{
    <div class="header__content ">
        <!-- desktop menu items only -->
        <div class="navbar__level2">
            <ul>
                <li class=""><a href="/data">Další databáze<sup style="top:0;text-decoration:none;color:yellow;">@(HlidacStatu.Lib.Data.External.DataSets.DataSetDB.AllDataSets.Get()?.Count().ToString() ?? "")</sup></a></li>
                <li class=""><a href="/reporty">Analýzy a reporty<sup style="top:0;text-decoration:none;color:yellow;">@(PocetReportu)</sup></a></li>
                <li class=""><a @Util.GAClick("ZjistiliJsme") style="font-weight:bold;color:yellow;" href="/texty">Zjistili jsme</a></li>
                <li class=""><a href="https://www.hlidacstatu.cz/texty/series/tipy/">Tipy „Jak používat Hlídače“</a></li>
            </ul>
            <ul>
                <li>
                    <a href="/pridatse">Přidat se</a>
                    @*<a href="https://github.com/HlidacStatu/Web/issues" target="_blank" style="color:orange"><span class="glyphicon glyphicon-alert"></span>&nbsp;Nahlásit chybu</a>*@
                    <a  onclick="return trackOutLink(this,'Index.title');" href="https://www.darujme.cz/projekt/1200384">Podpořit nás</a>
                </li>
            </ul>
        </div>
        <div class="header__title">
            <h1>Hlídač státu</h1>
            <span>Hlídáme je, protože si to zaslouží!</span>
        </div>
        <!-- desktop menu items only -->

        <div class="header__search">
            <label class="label" for="Q">Prohledat všechny Hlídače státu:</label>
            <form class="header__search__input-wrapper" action="/hledat" method="get">
                <input value="" id="Q" name="Q" type="text" class="header__search__input" placeholder="Smluvní strana, Název instituce, Jméno osoby, IČO, téma smlouvy …">
                <button class="header__search__btn">Hledat</button>
            </form>
            <div>
                <a class="header__search__hint" style="font-size:15px;text-decoration:none" href="/napoveda">
                    <i class="far fa-question-square" style=""></i> Nápověda jak vyhledávat
                </a>
                <a class="header__search__hint pull-right" style="padding-top:2px;" href="/snadnehledani">
                    Snadné hledání
                </a>
            </div>
        </div>

    </div>
}

<div class="watcher-blocks">

    <div class="watcher-blocks__wrapper">

        <!-- block Nezhasinat -->

        <div class="watcher-block" >
            <div class="watcher__title" style="padding:10px 10px 20px 10px;/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fde54c+0,fde54c+59,ffffff+100 */
background: #fde54c; /* Old browsers */
background: -moz-linear-gradient(top,  #fde54c 0%, #fde54c 59%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fde54c 0%,#fde54c 59%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fde54c 0%,#fde54c 59%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde54c', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
">
                <a target="_blank"  onclick="return trackOutLink(this,'Index');" href="https://www.rekonstrukcestatu.cz/cs/nezhasinat/"><img src="/Content/img/icon-person-watcher.svg"></a>
                <h2 class="new-title">
                    <a  onclick="return trackOutLink(this,'index');" target="_blank" href="https://www.rekonstrukcestatu.cz/cs/nezhasinat/" style="color:black">Nezhasínat!</a>
                    <img src="/content/img/rekonstrukce-statu.svg" style="height:25px;width:auto;" /><img src="/content/img/Hlidac-statu-ctverec-notext.svg" style="height:30px;width:auto;" />
                </h2>
            </div>
            <div class="block-col">
                <div>
                    Ve spolupráci s Rekonstrukcí státu hlídáme, kolik stát <b>skutečně</b> vyplatil na podpoře podnikatelům.
                </div>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Slíbená podpora ekonomice
                </div>
                <div class="block-table">
                    <table class="table-row">
                        <tr>
                            <td class="table-col" style="margin-right:20px;line-height:40px;width:100%;">

                            <span id="covid-counter" style="font-size:30px;font-weight:bold;color:#ff525b">1&nbsp;190 miliard Kč</span>
                                <sup>(<a href="/report/27">zdroj</a>}</sup>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="block-subtitle">
                    Skutečně vyplaceno (k @(keDni.ToString("d.M.yyyy")))
                </div>
                <table>
                    <tr>
                        <td style="width:150px;line-height:40px;text-align:right;"><span style="font-size:25px;font-weight:bold">@Html.Raw(HlidacStatu.Util.RenderData.ShortNiceNumber(vypl_prima, true, showDecimal: RenderData.ShowDecimalVal.Show)) mld. Kč</span></td>
                        <td style="padding-left:20px;">Přímá nevratná podpora (Pětadvacítka, ANTIVIRUS, Ošetřovné pro OSVČ apod.)</td>
                    </tr>
                    <tr >
                        <td class="" style="width:auto;line-height:40px;text-align:right;"><span style="font-size:25px;font-weight:bold">@Html.Raw(HlidacStatu.Util.RenderData.ShortNiceNumber(vypl_neprima, true, showDecimal: RenderData.ShowDecimalVal.Show)) mld. Kč</span></td>
                        <td class="" style="padding-left:20px;">Nepřímá podpora (Snížení daní, liberační balíček)</td>
                    </tr>
                    <tr  style="border-bottom:#ff525b 2px double ">
                        <td class="" style="width:auto;line-height:40px;text-align:right;"><span style="font-size:25px;font-weight:bold">@Html.Raw(HlidacStatu.Util.RenderData.ShortNiceNumber(vypl_zaruka, true, showDecimal: RenderData.ShowDecimalVal.Show)) mld. Kč</span></td>
                        <td class="" style="padding-left:20px;">Záruka za půjčku/úvěr (ČMZRB COVID I-II-III-Praha, EGAP)</td>
                    </tr>
                    <tr >
                        <td class="" style="width:auto;line-height:40px;"><span style="font-size:25px;font-weight:bold;color:#ff525b">@Html.Raw(HlidacStatu.Util.RenderData.ShortNiceNumber(vypl_prima + vypl_neprima + vypl_zaruka, true, showDecimal: RenderData.ShowDecimalVal.Show)) mld. Kč</span></td>
                        <td class="" style="padding-left:20px;line-height:40px;"><span style="font-size:25px;font-weight:bold;color:#ff525b">skutečně vyplaceno</span></td>
                    </tr>
                </table>
                <div class="block-button-wrapper">
                    <a onclick="return trackOutLink(this,'Index');" href="/report/27" class="btn btn-default btn-default-new">Podrobnosti o podporách</a>
                </div>
            </div>
        </div>



        <!-- block 1 -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Další databáze
                </h2>
            </div>
            <div class="block-col ">
                <p>
                    Na Hlídači máme mnoho databází od nás i od komunity.
                </p>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Nejzajímavější databáze
                </div>
                <div class="block-tags">

                    <a href="/data/Index/veklep" class="tag">
                        Elektronická knihovna legislativního procesu
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("veklep")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/vyjadreni-politiku" class="tag">
                        Vyjádření politiků na <i class="fab fa-facebook-square"></i> a <i class="fab fa-twitter-square"></i>
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("vyjadreni-politiku")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/jednani-vlady" class="tag newbadge top-right">
                        Jednání vlády od 2007
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("jednani-vlady")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/stenozaznamy-psp" class="tag">
                        Proslovy poslanců v Poslanecké sněmovně od 2008
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("stenozaznamy-psp")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/ministry-invoices" class="tag">
                        Faktury ministerstev za poslední roky
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("ministry-invoices")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/rozhodnuti-uohs" class="tag">
                        Rozhodnutí ÚOHS
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("rozhodnuti-uohs")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/rejstrik-trestu-pravnickych-osob" class="tag">
                        Rejstřík trestů právnických osob
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("rejstrik-trestu-pravnickych-osob")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/stav-mostu" class="tag">
                        Stav Mostů v ČR
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("stav-mostu")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/Index/narodni-investicni-plan" class="tag">
                        Národní investiční plán 2019
                        (@HlidacStatu.Util.RenderData.NiceNumber(HlidacStatu.Lib.Data.External.DataSets.DataSet.CachedDatasets.Get("narodni-investicni-plan")?.NumberOfRecords() ?? 0))
                    </a>
                    <a href="/data/" class="tag">
                        a další databáze
                    </a>

                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/data" class="btn btn-default btn-default-new">Ukázat další databáze</a>
            </div>
        </div>

        <!-- block 1 -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-contracts.svg">
                <h2 class="new-title">
                    Hlídač kauz
                </h2>
            </div>
            <div class="block-tags">

                @foreach (var wp in HlidacStatu.Lib.StaticData.LastBlogPosts
                    .Get()
                    .Where(m => m.Date > new DateTime(2020, 1, 25) && m.Categories.Contains(246) == false) //not tipy
                    .OrderByDescending(m => m.Date)
                    .Take(5)
                    )
                {
                    <span class="tag">
                        <a href="@wp.Link">
                            @Devmasters.Core.TextUtil.ShortenText(wp.Title.Rendered, 55)
                        </a>
                    </span>

                }
            </div>
            <div class="block-col block-part">
                <div class="block-subtitle" style="font-weight:bold;color:red;">
                    Předražená zakázka na elektronické dálniční známky
                </div>
                <div class="block-tags">

                    <span class="tag">
                        <a href="https://www.hlidacstatu.cz/texty/neobvykle-obvykla-cena-is-pro-dalnicni-znamky-podle-znalce-je-zisk-643-milionu-ze-zakazky-za-98-milionu-obvykly/">
                            Neobvykle obvyklá cena IS pro dálniční známky.
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </span>

                    <span class="tag">
                        <a href="https://www.hlidacstatu.cz/texty/elektronicke-dalnicni-znamky-jsou-drazsi-nez-papirove/">
                            Elektronické dálniční známky vyjdou dráž než papírové
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </span>
                    <span class="tag">
                        <a href="https://www.facebook.com/HlidacStatu/photos/a.633591106840230/1224880554377946/">
                            Lžou premiérovi anebo premiér nám? Je to mediální hra?
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </span>
                    <span class="tag">
                        <a href="https://www.facebook.com/HlidacStatu/photos/a.633591106840230/1224879147711420/">
                            Kdo všechno o zakázce věděl?
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </span>
                    <span class="tag">
                        <a href="https://www.hlidacstatu.cz/texty/system-elektronicke-dalnicni-znamky-za-401-milionu-se-zatim-nesmi-realizovat-zrusi-se/">
                            Systém za 401 miliónu se zatím nesmí realizovat. Zruší se?
                            <span class="glyphicon glyphicon-share"></span>
                        </a>
                    </span>
                </div>
            </div>


            <div class="block-col block-part">
                <div class="block-subtitle">
                    Další sledované kauzy
                </div>
                <div class="block-tags">
                    <span class="tag">
                        <a href="/Hledat?Q=%22elektronické%20mýto%22">
                            Elektronické mýto
                        </a>
                    </span>
                    <span class="tag">
                        <a href="/Hledat?Q=icoPlatce:65993390%20AND%20(%20%22stavebn%C3%AD%20práce%20v%20užš%C3%ADm%20ř%C3%ADzen%C3%AD%22%20OR%20%22jednac%C3%AD%20ř%C3%ADzen%C3%AD%20bez%20uveřejněn%C3%AD%22)">
                            Smlouvy ŘSD s omezenou soutěží
                        </a>
                    </span>
                    <span class="tag">
                        <a href="/Subjekt/03211223">
                            ITS - prázdná schránka obchodující s ŘSD
                        </a>
                        <a href="https://domaci.ihned.cz/c7-66389160-ofaba-b8b64364b636a5b" target="_blank"><span class="glyphicon glyphicon-share"></span></a>
                    </span>
                </div>
            </div>

        </div>

        <!-- block 2 -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-person-watcher.svg">
                <h2 class="new-title">
                    Hlídač osob
                </h2>
            </div>

            <div class="block-col ">
                <p>
                    Informace o politicích, sponzorech a osobách spjatých s politiky
                    <br>
                    <strong>@RenderData.NiceNumber(HlidacStatu.Lib.StaticData.PolitickyAktivni.Get().Count)</strong> osob v databázi
                </p>
            </div>

            <div class="block-row block-part">
                <div class="block-col block-col--50">
                    <div class="block-subtitle">
                        TOP politici
                    </div>
                    <ul class="block-list">
                        @{
                            string[] topPolitici = new string[] { "andrej-babis", "pavel-belobradek",
                                                                    "richard-brabec", "milan-feranec", "martin-pecina", "ivo-valenta", "jiri-mihola" };
                        }
                        @foreach (var oid in topPolitici)
                        {
                            var o = HlidacStatu.Lib.Data.Osoby.GetByNameId.Get(oid);
                            <li>
                                <a href="@o.GetUrl(true)" class="">@o.FullName()</a>@Html.Raw(o.NarozeniYear(true))
                            </li>
                        }
                    </ul>
                    <a href="/osoby" class="link">Další politici</a>
                </div>
                <!-- right col -->
                <div class="block-col block-col--50">
                    <div class="block-subtitle">
                        Sponzoři s nej vazbou na stát
                    </div>
                    <ul class="block-list">
                        @{
                            string[] topSponzori = new string[] { "jan-bauer", "stanislav-juranek", "jana-cernochova", "martin-baxa", "jaromir-fischer-2", "jaroslav-dolecek", "richard-mrazek" };
                        }
                        @foreach (var oid in topSponzori)
                        {
                            var o = HlidacStatu.Lib.Data.Osoby.GetByNameId.Get(oid);
                            <li>
                                <a href="@o.GetUrl(true)" class="">@o.FullName()</a>@Html.Raw(o.NarozeniYear(true))
                            </li>
                        }
                    </ul>
                    <a href="/osoby" class="link">Další sponzoři</a>
                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/osoby" class="btn btn-default btn-default-new">zobrazit Více v Hlídači osob</a>
            </div>
        </div>

        <!-- block Verejne zakazky -->
        <div class="watcher-block">
            <div class="watcher__title watcher__title--nowrap">
                <img src="/Content/img/icon-government.svg">
                <h2 class="new-title">
                    Hlídač veřejných zakázek
                </h2>
            </div>
            <div class="block-col ">
                <p>
                    Informace o veřejných zakázkách, plánovaných i ukončených
                    <br>

                    Celkem <strong>
                        @RenderData.NiceNumber(HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.CachedSimpleSearch(TimeSpan.FromHours(6),
                              new HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData() { Q = "*", Page = 0, PageSize = 0, ExactNumOfResults = true }).Total
                        )
                    </strong> zakázek,
                    <strong>
                        @RenderData.NiceNumber(HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.CachedSimpleSearch(TimeSpan.FromHours(6),
                                          new HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData() { Q = "zverejneno:[" + DateTime.Now.Date.Year + "-01-01 TO *]", Page = 0, PageSize = 0, ExactNumOfResults = true }).Total)
                    </strong> letos.
                </p>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Nejvíce veřejných zakázek za 3 měsíce z
                </div>
                @{
                    List<Tuple<string, string, long>> topVZ = new List<Tuple<string, string, long>>();
                    foreach (var obl in Devmasters.Core.Enums.EnumToEnumerable(typeof(HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.CPVSkupiny)))
                    {
                        var num3M = HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.CachedSimpleSearch(TimeSpan.FromHours(6),
                            new HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData()
                            {
                                Q = "zverejneno:[" + DateTime.Now.Date.AddMonths(-3).ToString("yyyy-MM-dd") + " TO *]",
                                Oblast = obl.Value,
                                Page = 0,
                                PageSize = 0,
                                ExactNumOfResults = true
                            }).Total;
                        topVZ.Add(
                            new Tuple<string, string, long>(
                                $"/verejnezakazky/hledat?q=*&oblast={HlidacStatu.Lib.Data.VZ.VerejnaZakazka.Searching.NormalizeOblastValue(obl.Value)}&order=1",
                                $"{obl.Key} ({RenderData.NiceNumber(num3M)})",
                                num3M
                            )
                        );
                    }
                    topVZ = topVZ.OrderByDescending(o => o.Item3).Take(6).ToList();
                }
                <div class="block-tags">
                    @foreach (var item in topVZ)
                    {
                        <a href="@item.Item1" class="tag">@item.Item2</a>
                    }
                </div>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Nejvyhledávanější výrazy
                </div>
                <div class="block-tags">
                    <a href="/verejnezakazky/hledat?Q=zverejneno%3A%5B@(DateTime.Now.Date.ToString("yyyy-MM-dd"))+TO+*%5D&Zahajeny=false&Oblast=&Order=4" class="tag">Největší zakázky za poslední měsíc</a>
                    <a href="/verejnezakazky/hledat?Q=*%20oblast:IT&order=1" class="tag">Poslední  zakázky v oblasti IT</a>
                    <a href="/verejnezakazky/hledat?Q=*&order=1" class="tag">Poslední veřejné zakázky</a>
                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/verejnezakazky" class="btn btn-default btn-default-new">zobrazit více v hlídači veřejných zakázek</a>
            </div>
        </div>


        <!-- block Sponzori -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-finance.svg">
                <h2 class="new-title">
                    Hlídač sponzorů
                </h2>
            </div>

            <div class="block-col ">
                <p>
                    Informace o osobních a firemních sponzorech politických stran, hnutí
                </p>
            </div>

            <div class="block-col block-part">
                <div class="block-subtitle">
                    Největší sponzoři za poslední rok
                </div>
                <div class="block-table">
                    @{
                        foreach (var sponzor in
                            HlidacStatu.Web.Framework.Shared.Data.TopSponzoriOsoby
                            .Get()
                            .GroupBy(g => g.Strana, sp => sp, (g, sp) => sp.OrderByDescending(o => o.CastkaCelkem).First())
                            .Where(w => HlidacStatu.Lib.Data.Sponsors.TopStrany.Contains(w.Strana))
                            )
                        {
                            <div class="table-row">
                                <div class="table-col">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(sponzor.CastkaCelkem, html: true))</div>
                                <div class="table-col"><a href="@sponzor.Sponzor.GetUrl(true)">@sponzor.Sponzor.FullName()</a> pro @sponzor.Strana</div>
                            </div>
                        }

                    }

                </div>
                <a href="/sponzori" class="link">Další transakce</a>
            </div>

            <div class="block-button-wrapper">
                <a href="/sponzori" class="btn btn-default btn-default-new">zobrazit více v hlídači financí</a>
            </div>
        </div>

        <!-- block  weby -->
        <div class="watcher-block">
            <div class="watcher__title">
                <img src="/Content/img/icon-pc.svg">
                <h2 class="new-title">
                    Hlídač webů
                </h2>
            </div>
            <div class="block-col ">
                <p>
                    Informace o dostupnosti a funkčnosti státních webů
                    <br>
                    Hlídáme <strong>@(ZabTools.Weby()?.Count())</strong> státních webů
                </p>
            </div>

            <div class="block-row block-part">
                <div class="block-col block-col--50">
                    <div class="block-subtitle">
                        Vybrané důležité služby v posledních 15 minutách
                    </div>
                    <ul class="block-status-list">
                        @{
                            var dataWeby = ZabTools.WebyDataLastHour("0")
                                ?.OrderBy(o => o.Host.publicname)
                                ?.Reverse()
                                ?.ToList();
                            List<ZabHostAvailability> stats
                                = new List<ZabHostAvailability>();

                            stats = dataWeby
                            ?.OrderBy(o => o.Statistics().PercentOfTime.OK)
                            ?.Take(10)
                            ?.ToList() ?? new List<ZabHostAvailability>();

                            decimal dynamicLength = 9m;
                        }
                        @foreach (var wkv in stats.OrderByDescending(w => w.WorstStatus(TimeSpan.FromMinutes(15))))
                        {
                            var statusWK = wkv.WorstStatus(TimeSpan.FromMinutes(15));
                            switch (statusWK)
                            {
                                case Statuses.Pomalé:
                                    dynamicLength -= 1.5m;
                                    <li class="status-item status-item--warning">
                                        <div class="status-row">
                                            <div class="status-point"></div>
                                            <a href="/statniweby/info/@(wkv.Host.hostid)?h=@(wkv.Host.hash)" class="">@wkv.Host.publicname</a>
                                        </div>
                                        <div class="status-row--message">
                                            Pomalá odezva
                                        </div>
                                    </li>
                                    break;
                                case Statuses.Nedostupné:
                                case Statuses.TimeOuted:
                                case Statuses.BadHttpCode:
                                    dynamicLength -= 1.5m;
                                    <li class="status-item status-item--error">
                                        <div class="status-row">
                                            <div class="status-point"></div>
                                            <a href="/statniweby/info/@(wkv.Host.hostid)?h=@(wkv.Host.hash)" class="">@wkv.Host.publicname</a>
                                        </div>
                                        <div class="status-row--message">
                                            Nepracuje správně
                                        </div>
                                    </li>

                                    break;
                                case Statuses.OK:
                                case Statuses.Unknown:
                                    dynamicLength -= 1m;
                                    <li class="status-item">
                                        <div class="status-row">
                                            <div class="status-point"></div>
                                            <a href="/statniweby/info/@(wkv.Host.hostid)?h=@(wkv.Host.hash)" class="">@wkv.Host.publicname</a>
                                        </div>
                                    </li>
                                    break;
                                default:
                                    break;
                            }
                            if (dynamicLength <= 0)
                            {
                                break;
                            }
                        }

                    </ul>
                    <a href="/statniweby" class="link">Další weby</a>
                </div>
                <!-- right col ssl -->
                <div class="block-col block-col--50">
                    <div class="block-subtitle">
                        Weby s nejhorším HTTPS
                    </div>
                    <ul class="block-status-list">

                        @{
                            var webIds = ZabTools.Weby("0").Select(w => w.hostid).ToArray(); //ustredni
                            var sslWebs = ZabTools.SslStatuses()
                                ?.Where(m => webIds.Contains(m.Host.hostid))
                                ?.Where(m => m.Status() >= SSLLabsGrades.B)
                                ?.OrderByDescending(m => m.Status())
                                ?.Take(15)
                                ?.ToArray()
                                ?.OrderBy(o => Guid.NewGuid())
                                ?.Take(5)
                                ?.ToArray() ?? new ZabHostSslStatus[0];


                            if (sslWebs.Count() < 6)
                            {
                                webIds = ZabTools.Weby("ustredni").Select(w => w.hostid).ToArray(); //ustredni
                                sslWebs = sslWebs.Concat(ZabTools.SslStatuses()
                                            ?.Where(m => webIds.Contains(m.Host.hostid))
                                            ?.Where(m => m.Status() >= SSLLabsGrades.B)
                                            ?.OrderByDescending(m => m.Status())
                                            ?.Take(10)
                                            ?.ToArray()
                                            ?.OrderBy(o => Guid.NewGuid())
                                            ?.Take(5)
                                            ?.ToArray() ?? new ZabHostSslStatus[0]
                                        )
                                        .ToArray();
                            }
                            dynamicLength = 9m;
                        }
                        @foreach (var item in sslWebs.OrderByDescending(o => o.Status()).Take(5))
                        {
                            switch (item.Status())
                            {
                                case SSLLabsGrades.B:
                                case SSLLabsGrades.C:
                                case SSLLabsGrades.D:
                                case SSLLabsGrades.E:
                                    dynamicLength -= 1.5m;
                                    <li class="status-item status-item--warning">
                                        <div class="status-row">
                                            <div class="status-point"></div>
                                            <a href="/statniweby/info/@(item.Host.hostid)?h=@(item.Host.hash)" class="">@item.Host.publicname</a>
                                        </div>
                                        <div class="status-row--message">
                                            <b>@item.Status().ToNiceDisplayName()</b> -
                                            @Devmasters.Core.TextUtil.ShortenText(ZabTools.StatusDescription(item.Status().Value, false), 30)
                                        </div>
                                    </li>

                                    break;
                                case SSLLabsGrades.F:
                                case SSLLabsGrades.M:
                                case SSLLabsGrades.T:
                                case SSLLabsGrades.X:
                                    dynamicLength -= 1.5m;
                                    <li class="status-item status-item--error">
                                        <div class="status-row">
                                            <div class="status-point"></div>
                                            <a href="/statniweby/info/@(item.Host.hostid)?h=@(item.Host.hash)" class="">@item.Host.publicname</a>
                                        </div>
                                        <div class="status-row--message">
                                            <b>@item.Status().ToNiceDisplayName()</b> -
                                            @Devmasters.Core.TextUtil.ShortenText(ZabTools.StatusDescription(item.Status().Value, false), 30)
                                        </div>
                                    </li>

                                    break;
                                default:
                                    break;
                            }


                        }
                    </ul>
                    <a href="/StatniWeby/Https" class="link">Další info o HTTPS</a>
                </div>
            </div>

            <div class="block-button-wrapper">
                <a href="/StatniWeby" class="btn btn-default btn-default-new">zobrazit více v Hlídači webů</a>
            </div>
        </div>



    </div>
</div>



@*
        <div class="reviews">
        <h2 class="new-title">Psali o nás</h2>
        <div class="reviews__carousel">
            <!-- control arrows -->
            <!-- TODO: doimplementovat JS - staci posouvat oveflow scroll -->
            <div class="carousel__arrow">
                <img class="" src="/Content/img/chevron-reviews.svg">
            </div>
            <div class="carousel__arrow carousel__arrow--right">
                <img class="" src="/Content/img/chevron-reviews.svg">
            </div>

            <!-- logos with links below -->
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/1.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/2.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/3.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/4.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/5.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/3.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/2.png">
            </a>
            <a href="/">
                <img class="reviews__logo" src="/Content/img/reviews/1.png">
            </a>
        </div>
    </div>
*@
