@model (NemocniceData diffK, List<NemocniceData> dny, NemocniceData last, NemocniceData diffAll)

@using System
@using System.Collections.Generic
@using System.Linq
@using HlidacStatu.Web.Models

@{ 
    Layout = null;

    NemocniceData firstKraje = Model.dny.First().PoKrajich();
    NemocniceData lastKraje = Model.dny.Last().PoKrajich();
    NemocniceData diffKraje = Model.diffK.PoKrajich();
        
    }


<div class="jumbotron">
    <h2 style="padding-bottom:40px;" class="text-center">Volné kapacity intenzivní péče v nemocnicích
    <small>aktualizováno @(lastKraje.lastUpdated.ToString("dd.MM.yyyy HH:mm"))</small>
    </h2>
    <p>
        Data ÚZIS, která Ministerstvo zdravotnictví tají nejen před veřejností, ale pouze omezeně k nim mají přístup i dispečinky záchranných služeb,
        nemocnice a lékaři.
    </p>
    <p>
        Záchranky tato data mají teprve od pondělí, doktoři na JIP je stále nemají a místa pro pacienty obvolávají telefony. A velké nemocnice COVID pacienty odmítají, i když mají volná místa. 

Tato data budeme pravidelně aktualizovat a v plném rozsahu je zveřejňujeme.
    </p>
</div>

        <div class="bs-callout bs-callout-primary small">
    <h4>Základní pojmy</h4>
    <p>
        <dl>
        <dt>COVID lůžka</dt>
        <dd>Lůžka speciálně vyhrazena pro infekční pacienty. Kromě obvykle fyzické izolace ve vyhrazeném prostoru je zde 
            povinná vyšší ochrana lékařů a sester (ochranný oblek), obvykle kratší směny, speciální režim zaměstnanců.
        </dd>
        <dt>neCOVID lůžka</dt>
        <dd>Obvyklá JIP/ARO/lůžka s kyslíkem, bez jinak obvyklého speciálního režimu. 
            Podle možností nemocnice je možné některá z těchto lůžek změnit na COVID lůžka.           
            To má samozřejmě vliv třeba na léčbu těch, které přivezou od dopravní nehody            
        </dd>
        <dt>Lékaři a sestry</dt>
        <dd>Zkušenost z Wuhanu, Itálie a New Yorku z jara, z doby největší zátěže nemocnic ukazuje, že není důležité mít pouze dostatek přístrojů a lůžek, 
                ale že kritickým faktorem je dostatek lékařů a sester, dostatek kapacity pro jejich obměnu (karanténa, nemoc, odpočinek). 
                V nejhorších chvílích byl počet zdravotnického personálu hlavním problémem. Proto jejich počty také uvádíme.
        </dd>
        </dl>
    </p>
</div>

<p>
    Rychlá navigace:
    <ul>
        
        <li><a href="#CR">Celá ČR</a></li>
        @foreach (var h in lastKraje.hospitals)
        {
            <li><a href="#@h.region">@h.name</a></li>
        }
        <li><a href="#nemocnice">Seznam jednotlivých nemocnic</a></li>
        <li><a href="#opendata">Open data</a></li>
    </ul>
</p>

<hr/>
@{     
    NemocniceData diffCR = NemocniceData.Diff(firstKraje.CelaCR(), lastKraje.CelaCR());
        @RenderH(firstKraje.CelaCR().hospitals.First(),diffCR.hospitals.First(), firstKraje.CelaCR(), Model.dny.Select(m=>m.CelaCR()))
}
<h2>Souhrn pro jednotlivé kraje</h2>
@foreach (var h in lastKraje.hospitals)
{
    NemocniceData.Hospital diffH = diffKraje.hospitals.First(m => m.name == h.name);
    @RenderH(h,diffH, firstKraje, Model.dny.Select(m=>m.PoKrajich()))
}


<h1 id="nemocnice">Seznam jednotlivých nemocnic</h1>
<script>
var tbl_nem_o;
$(document).ready(function () {
tbl_nem_o = $('#nem_o').DataTable({
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.10.19/i18n/Czech.json'
                },
                'order': [],
                'lengthMenu': [[25, 50, 100, -1], [25, 50, 100, "Všechny"]],
                'info': false,
                });
});
</script>


<p>Stav k @(lastKraje.lastUpdated.ToString("dd. MM. HH:mm")). Kliknutím na sloupec můžete třídit podle abecedy nebo počtu volných COVID míst/přístrojů.</p>
<table id="nem_o" class="table-sorted table table-bordered table-striped">
    <thead>
        <tr>
            <td>Nemocnice</td>
            <td>Region</td>
            <td>Údaje nemocnice zaslala naposledy</td>
            <td>Lůžka ARO+JIP dosp.<br />(COVID / neCOVID)</td>
            <td>Lůžka s kyslíkem<br />(COVID / neCOVID)</td>
            <td>Přístroje ECMO</td>
            <td>Přístroje UPV</td>
            <td>Přístroje CRRT</td>
            <td>Lékaři</td>
            <td>Sestry</td>
            <td>Ventilátory sál</td>
            <td>Ventilátory přenosné</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var h in Model.last.hospitals)
        {
            NemocniceData.Hospital dh = Model.diffAll.hospitals.FirstOrDefault(m => m.nemocniceID == h.nemocniceID);
            if (dh == null)
            {
                dh = new NemocniceData.Hospital();
            }

            <tr>
                <td>@h.name<br />(změna od @firstKraje.lastUpdated.ToString("dd.MM.") do @h.lastModified.ToString("dd.MM. HH:mm"))</td>
                <td>@h.regionFull()</td>
                <td data-order="@h.lastModified.Ticks">@(h.lastModified.ToString("dd.MM."))<br/>@(h.lastModified.ToString("HH:ss"))</td>
                <td style='white-space: nowrap;font-weight:bold;' data-order="@h.AROJIP_luzka_covid">@h.AROJIP_luzka_covid / @h.AROJIP_luzka_necovid z @h.AROJIP_luzka_celkem
                <br/>
                <span style="font-weight:normal;color:@TColor(dh.AROJIP_luzka_covid)">@(dh.AROJIP_luzka_covid.ToString("+#;-#;0"))</span> / <span style="font-weight:normal;color:@TColor(dh.AROJIP_luzka_necovid)">@(dh.AROJIP_luzka_necovid.ToString("+#;-#;0"))</span> 
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.Standard_luzka_s_kyslikem_covid">@h.Standard_luzka_s_kyslikem_covid / @h.Standard_luzka_s_kyslikem_necovid z @h.Standard_luzka_s_kyslikem_celkem
                <br/>
                <span style="font-weight:normal;color:@TColor(dh.Standard_luzka_s_kyslikem_covid)">@(dh.Standard_luzka_s_kyslikem_covid.ToString("+#;-#;0"))</span> / <span style="font-weight:normal;color:@TColor(dh.Standard_luzka_s_kyslikem_necovid)">@(dh.Standard_luzka_s_kyslikem_necovid.ToString("+#;-#;0"))</span> 
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.ECMO_volna">@h.ECMO_volna z @h.ECMO_celkem
                <br/><span style="font-weight:normal;color:@TColor(dh.ECMO_volna)">@(dh.ECMO_volna.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.UPV_volna">@h.UPV_volna z @h.UPV_celkem
                <br/><span style="font-weight:normal;color:@TColor(dh.UPV_volna)">@(dh.UPV_volna.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.CRRT_volna">@h.CRRT_volna z @h.CRRT_celkem
                <br/><span style="font-weight:normal;color:@TColor(dh.CRRT_volna)">@(dh.CRRT_volna.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.Lekari_AROJIP_celkem">@h.Lekari_AROJIP_celkem
                <br/><span style="font-weight:normal;color:@TColor(dh.Lekari_AROJIP_celkem)">@(dh.Lekari_AROJIP_celkem.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@h.Sestry_AROJIP_celkem">@h.Sestry_AROJIP_celkem
                <br/><span style="font-weight:normal;color:@TColor(dh.Sestry_AROJIP_celkem)">@(dh.Sestry_AROJIP_celkem.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@(h.Ventilatory_operacnisal_celkem)">@(h.Ventilatory_operacnisal_celkem)
                <br/><span style="font-weight:normal;color:@TColor(dh.Ventilatory_operacnisal_celkem)">@(dh.Ventilatory_operacnisal_celkem.ToString("+#;-#;0"))</span>
                </td>
                <td style='white-space: nowrap;font-weight:bold;'  data-order="@(h.Ventilatory_prenosne_celkem)">@(h.Ventilatory_prenosne_celkem)
                <br/><span style="font-weight:normal;color:@TColor(dh.Ventilatory_prenosne_celkem)">@(dh.Ventilatory_prenosne_celkem.ToString("+#;-#;0"))</span>
                </td>

            </tr>
        }
    </tbody>
</table>

<hr />
<h2 id="opendata">Open Data</h2>
<ul>
    <li><a href="/KapacitaNemocnicData" target="_blank">Všechna data</a></li>
    <li><a href="/KapacitaNemocnicData/last" target="_blank">Aktuální stav (nejnovější záznam)</a></li>
</ul>


@functions { public string TColor(int val)
            {
                if (val < 0)
                {
                    return "#A00000";
                }
                else if (val > 0)
                {
                    return "#00A000";
                }
                else
                {
                    return "#000000";
                }
            }

}

@helper RenderH(NemocniceData.Hospital h, NemocniceData.Hospital diffH, NemocniceData first, IEnumerable<NemocniceData> timedata)
{
var chartdata = timedata.Select(m => new  
{ 
    date = m.lastUpdated,data = m.hospitals.First(hh=>hh.name == h.name) 
});


<h2 id="@h.region">@h.name</h2>


<div class="row">
    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Lůžka (ARO+JIP dospělí)</h4>
        <p>
            Celkem @h.AROJIP_luzka_celkem, volných @(h.AROJIP_luzka_covid+h.AROJIP_luzka_necovid) (@HlidacStatu.Util.RenderData.NicePercent(h.AROJIP_perc()))
            <br />
            Volná lůžka: COVID <span style="font-size:125%;font-weight:bold">@h.AROJIP_luzka_covid</span> / neCOVID <span style="font-size:125%">@h.AROJIP_luzka_necovid</span>
            <br />
            Změna volných od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.AROJIP_luzka_covid)">@(diffH.AROJIP_luzka_covid.ToString("+#;-#;0"))</span> / <span style="font-weight:normal;color:@TColor(diffH.AROJIP_luzka_necovid)">@(diffH.AROJIP_luzka_necovid.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"ARO+JIP volná COVID lůžka", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.AROJIP_luzka_covid } )
                    ),
                    (name:"ARO+JIP volná neCOVID lůžka", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.AROJIP_luzka_necovid } )
                    )
                },
                "","počet",200 )
        </p>
    </div>
    <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Lůžka (standardní s kyslíkem)</h4>
        <p>
            Celkem @h.Standard_luzka_s_kyslikem_celkem, volných @(h.Standard_luzka_s_kyslikem_covid+h.Standard_luzka_s_kyslikem_necovid) (@HlidacStatu.Util.RenderData.NicePercent(h.Standard_luzka_s_kyslikem_perc()))
            <br />
            Volná lůžka: COVID <span style="font-size:125%;font-weight:bold">@h.Standard_luzka_s_kyslikem_covid</span> / neCOVID <span style="font-size:125%">@h.Standard_luzka_s_kyslikem_necovid</span>
            <br />
            Změna volných od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.Standard_luzka_s_kyslikem_covid)">@(diffH.Standard_luzka_s_kyslikem_covid.ToString("+#;-#;0"))</span> / <span style="font-weight:normal;color:@TColor(diffH.Standard_luzka_s_kyslikem_necovid)">@(diffH.Standard_luzka_s_kyslikem_necovid.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"volná COVID lůžka s kyslíkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.Standard_luzka_s_kyslikem_covid} )
                    ),
                    (name:"volná neCOVID lůžka s kyslíkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.Standard_luzka_s_kyslikem_necovid} )
                    )
                },
                "","počet",200 )
        </p>
    </div>
    <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Přístroje ECMO <small>podpora nejvaznejsich pripadu, plicni rizeni</small></h4>

        <p>
            Celkem @h.ECMO_celkem, volných: @h.ECMO_volna (@HlidacStatu.Util.RenderData.NicePercent(h.ECMO_perc()))
            <br />
            Změna volných od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.ECMO_volna)">@(diffH.ECMO_volna.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Přístroje ECMO celkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.ECMO_celkem } )
                    ),
                    (name:"Přístroje ECMO volné", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.ECMO_volna } )
                    )
                },
                "","počet",200 )
        </p>
    </div>
                        <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Přístroje UPV <small>Umělá plicni ventilace</small></h4>
        <p>
            Celkem @h.UPV_celkem, volných: @h.UPV_volna (@HlidacStatu.Util.RenderData.NicePercent(h.UPV_perc()))
            <br />
            Změna volných od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.UPV_volna)">@(diffH.UPV_volna.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Přístroje UPV celkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.UPV_celkem } )
                    ),
                    (name:"Přístroje UPV volné", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.UPV_volna } )
                    )
                },
                "","počet",200 )
        </p>

    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Přístroje CRRT <small>kontinuální dialýza</small></h4>
        <p>
            Celkem @h.CRRT_celkem, volných: @h.CRRT_volna (@HlidacStatu.Util.RenderData.NicePercent(h.CRRT_perc()))
            <br />
            Změna volných od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.CRRT_volna)">@(diffH.CRRT_volna.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Přístroje CRRT celkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.CRRT_celkem } )
                    ),
                    (name:"Přístroje CRRT volné", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.CRRT_volna } )
                    )
                },
                "","počet",200 )
        </p>
    </div>
                        <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Lékaři <small>ARO+JIP dospělí</small></h4>
        <p>
            Celkem @h.Lekari_AROJIP_celkem
            <br />
            Změna počtu od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.Lekari_AROJIP_celkem)">@(diffH.Lekari_AROJIP_celkem.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Lékaři ARO+JIP celkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.Lekari_AROJIP_celkem} )
                    )
                },
                "","počet",200 )
        </p>
    </div>
    <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Sestry <small>ARO+JIP dospělí</small></h4>
        <p>
            Celkem @h.Sestry_AROJIP_celkem
            <br />
            Změna počtu od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor(diffH.Sestry_AROJIP_celkem)">@(diffH.Sestry_AROJIP_celkem.ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Sestry ARO+JIP celkem", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.Sestry_AROJIP_celkem} )
                    )
                },
                "","počet",200 )
        </p>
    </div>
                        <div class="clearfix hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 singlebox">
        <h4>Dostupné ventilátory <small>přenosné + operační sál</small></h4>
        <p>
            Celkem @(h.Ventilatory_prenosne_celkem+h.Ventilatory_operacnisal_celkem)
            <br />
            Změna počtu od @first.lastUpdated.ToString("dd.MM."): <span style="font-weight:normal;color:@TColor((diffH.Ventilatory_prenosne_celkem+diffH.Ventilatory_operacnisal_celkem))">@((h.Ventilatory_prenosne_celkem+h.Ventilatory_operacnisal_celkem).ToString("+#;-#;0"))</span>
        </p>
        <p>
            @UtilChart.SimpleLineChart(new (string name, IEnumerable<HlidacStatu.Lib.Render.ReportDataTimeValue> values)[] {
                    (name:"Dostupné ventilátory přenosné+oper.sál", 
                        values:chartdata.Select(m=>new HlidacStatu.Lib.Render.ReportDataTimeValue(){ Date = m.date, Value = m.data.Ventilatory_prenosne_celkem+m.data.Ventilatory_operacnisal_celkem } )
                    )
                },
                "","počet",200 )
        </p>
    </div>

    <div class="clearfix"></div>

</div>
<hr />
   
}