@model HlidacStatu.Lib.Data.Osoba
@using Devmasters.Enums;
@using Devmasters
@using HlidacStatu.Lib
@using System.Linq
@using HlidacStatu.Util;
@using HlidacStatu.Web.Framework;

@{ 
    ViewBag.SocialShareTitle = "Politik " + Model.FullName() + " na hlidacstatu.cz";
    ViewBag.SocialShareText = Model.FullName() + ": " + Model.InfoFacts().RenderInfoFacts(2, true, true);
    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/osoba?d={DateTime.Now.ToString("d.M.yy")}&v=" + Model.NameId;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                + "<meta property=\"og:image:height\" content=\"1080\" />"
                + "<meta property=\"og:image:type\" content=\"image/png\" />"
                ;

    HlidacStatu.Lib.Data.Relation.AktualnostType aktualnost = (HlidacStatu.Lib.Data.Relation.AktualnostType)ViewBag.Aktualnost;

    var ostat = Model.StatistikaRegistrSmluv(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny);
    //(Model.NameId, HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny, false);

    ViewBag.HideTitle = true;

    bool noIndex = HlidacStatu.Web.Controllers.HomeController.DontIndexOsoby.Contains(Model.NameId.ToLower());

    //TODO better analysis based on records in other dbs
    bool noReasonToShow = Model.NotInterestingToShow();


    ViewBag.Title = (noReasonToShow ? Model.FullName() : Model.FullNameWithYear());
}

@section metatags
{

    @if (
        HlidacStatu.Web.Controllers.HomeController.DontIndexOsoby.Contains(Model.NameId.ToLower())
        || Model.NotInterestingToShow()
        )
    {
<meta name="robots" content="noindex, noarchive">}
}

@section scripts
{


    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Osoby", "Home")">Hlídač Osob</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@WebUtil.AddVisitImg("/osoba/" + Model.NameId)

@if (noReasonToShow)
{

<div class="container">
    <div class="row shadowbox">
        <h1 class="new-title text-left" style="margin-top: 10px;">
            @Model.FullName()
        </h1>
        <hr />
        <div class="col-sm-4 col-md-3">
            <div class="person-profile-thumb">
                <div class="photo">
                    <a href="@Model.GetUrl(false)">
                        <div class="profile-picture" style="background-image: url('@Model.GetPhotoUrl(true)')"></div>
                    </a>
                </div>
                <div>
                    <a class="section-title link--blue" href="/">
                        @Model.FullName()
                    </a>
                    <div class="new-p new-p--gray new-p--small">
                        @Model.StatusOsoby().ToNiceDisplayName()
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            @{ int[] types = {
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.VolenaFunkce,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.PolitickaPracovni,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.Politicka,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.VerejnaSpravaJine,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.VerejnaSpravaPracovni,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.Osobni,
                        (int)HlidacStatu.Lib.Data.OsobaEvent.Types.Jine
                    };
                                var funkceOsoba = Model.Description(true,
                                       m => types.Contains(m.Type),
                                       20); }
            <div class="row">
                @if (!string.IsNullOrWhiteSpace(funkceOsoba))
                {
<div class="col-xs-12 col-sm-6">
    <div class="search-result-label">
        Funkce
    </div>
    <div class="new-p">
        @WebUtil.LowBox(80, funkceOsoba)
    </div>
</div>}
                @if (Model.Sponzoring().Count() > 0)
                {
<div class="col-xs-12 col-sm-6">
    <div class="search-result-label">
        Podpora politických stran
    </div>
    <div class="new-p">
        @WebUtil.LowBox(80, Model.Description(true, m => m.Type == (int)HlidacStatu.Lib.Data.FirmaEvent.Types.Sponzor))
    </div>
</div>}
            </div>
            <hr />
            <div class="new-p">
                Tato osoba nemá žádné vztahy se státem ani s politickými stranami, proto o ni nezobrazujeme více detailů.
            </div>

        </div>
    </div>
</div>
<br />
<br />
<br /> 
}
    else

    { 
                    @Html.CachedAction(HtmlExtensions.CachedActionLength.Cache12H,"OsobaProfil",Model,Model.NameId,
                   this.User.Identity.IsAuthenticated,aktualnost.ToString(), HlidacStatu.Web.Framework.InsolvenceLimitedView.IsLimited(this.User))
    @*@Html.Action("CachedAction_Child_12H", new { model = Model, auth = this.User.Identity.IsAuthenticated, NameOfView = "OsobaProfil", 
    key = Model.NameId, param1 = aktualnost.ToString(), param2 = HlidacStatu.Web.Framework.InsolvenceLimitedView.IsLimited(this.User) })*@

    <div style="margin-top:40px"></div> 
        if ((ostat.SoukromeFirmy.Count + ostat.StatniFirmy.Count) > 0)
        {
                @Html.CachedAction(HtmlExtensions.CachedActionLength.Cache12H, "OsobaProfil_Vazby", Model, Model.NameId,
                                             this.User.Identity.IsAuthenticated, aktualnost)

            @*@Html.Action("CachedAction_Child_12H", new { model = Model, aktualnost = aktualnost, NameOfView = "OsobaProfil_Vazby", 
           key = Model.NameId, param1 = aktualnost.ToString() }) *@

        }
        @Html.Partial("~/Views/Home/_PolitikDisclaimer.cshtml", this.ViewData)
    }

@WebUtil.FeedbackModal("Poslat opravu či připomínku")







@section onlyembed
{
    @Html.Action("CachedAction_Child_12H", new { model = Model, aktualnost = aktualnost, NameOfView = "OsobaProfil_embed", key = Model.NameId, param1 = aktualnost.ToString() })
    @*@Html.Action("Osoba_child", new { model = Model, aktualnost = aktualnost, NameOfView = "OsobaProfil_embed" })*@

}


@section footerscripts
{
    <script type="text/javascript">
        SocialShareKit.init({
            url: 'https://www.hlidacstatu.cz@(Url.Action("Politik", new { id = Model.NameId }))',
            twitter: {
                via: 'HlidacSmluv'
            }
        }
        );
    </script>
}


