@model HlidacStatu.Web.Models.NewPersonModel
@using Devmasters
@using HlidacStatu.Lib

@{
    ViewBag.Title = "Přidání politika ";

}

@section scripts
{
    @Scripts.Render("~/bundles/typeahead")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="@Url.Action("Index", "Osoby")">Hlídač Osob</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
    }
    <div class="clearfix" style="padding-bottom:30px;"></div>


    @if (ViewBag.Thanks == true)
    {
        <div class="text-success">Děkujeme za pomoc a spolupráci. Je pro nás velmi cenná. Údaje zpracujeme co nejdříve.</div>
    }


    <form class="form-horizontal" method="post">
        <p class="help-block"></p>

        <div class="form-group">

            @Html.LabelFor(m => m.TitulPred, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.TitulPred, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.TitulPred) })
                <p class="help-block small">Nepovinné</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Jmeno, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Jmeno, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Jmeno) })
                <p class="help-block small">
                    Povinné.
                    Pokud má více jmen či přezdívku, uveďte ji do jmena.
                    Např. u František Čuňas Stárek sem patří <i>František Čuňas</i>.
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Prijmeni, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Prijmeni, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Prijmeni) })
                <p class="help-block small">
                    Pokud má více příjmení, uveďte je sem odděleny pomlčkou.
                    Např. u Michaela Marksová Tominová sem patří <i>Marksová-Tominová</i>.
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.TitulPo, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.TitulPo, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.TitulPo) })
                <p class="help-block small">Nepovinné</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Narozeni, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Narozeni, new { @type = "date", @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Narozeni) })
                <p class="help-block small">Povinné</p>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(m => m.pozice, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.pozice, new { @class = "form-control", placeholder = Html.Raw(Html.DisplayNameFor(m => m.pozice)) })
                    <p class="help-block small">Nepovinné. V jakém orgánu, pozici, státní firmě apod. tento politik působí či působil? </p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.strana, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.strana, new { @class = "form-control", placeholder = Html.Raw(Html.DisplayNameFor(m => m.strana)) })
                    <p class="help-block small">Nepovinné</p>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.zdroj, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.zdroj, new { @class = "form-control", rows = "4", cols = "60", placeholder = Html.DisplayNameFor(m => m.zdroj) })
                    <p class="help-block small">Povinné. Uveďte URL, jiný zdroj či způsob jak můžeme uvedené údaje ověřit. Dále zde můžete uvést libovolnou další poznámku k uvedenému politikovi. Děkujeme</p>
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                @Html.ValidationSummary(false)
                <button type="submit" class="btn btn-default">Odeslat</button>
            </div>
        </div>
    </form>




