@model HlidacStatu.Lib.Data.Firma

@using Nest
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib;
@using HlidacStatu.Lib.Render;

@{ Layout = null; }


<div class="container">
    <table class="table table-new table-new--dotted">
        <tbody>
            @if (Model.Datum_Zapisu_OR.HasValue)
            {

                <tr>
                    <th>Založena</th>
                    <td>
                        <div>@(Model.Datum_Zapisu_OR.Value.ToString("dd.MM.yyyy"))</div>
                    </td>
                </tr>
}
            @if (Model.ICO != null && @Model.ICO.Length > 0)
            {
                <tr>
                    <th>IČO</th>
                    <td>@Model.ICO</td>
                </tr>
}
            @if (Model.DatovaSchranka != null && @Model.DatovaSchranka.Length > 0)
            {
                <tr>
                    <th>Datová schránka</th>
                    <td>@Model.DatovaSchranka.Aggregate((f, s) => f + ", " + s)</td>
                </tr>
}
            <tr>
                <td colspan="2">
                    <div class="alert alert-warning" role="alert">
                        Tento subjekt nemá žádné obchodní vztahy se státem ani s politickými stranami, proto o ni nezobrazujeme více detailů.
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
