@model HlidacStatu.Web.Models.SubjektReportModel

@using Nest
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib;


@{
    ViewBag.HideTitle = true;
    string pojmenovani = "firma";
    string pojmenovani_o = "firmě";
    if (Model.firma.JsemOVM())
    {
        pojmenovani = "úřad";
        pojmenovani_o = "úřadu";
    }
    else if (Model.firma.JsemStatniFirma())
    {
        pojmenovani = "státní firma";
        pojmenovani_o = "státní firmě";

    }



    ViewBag.Title = $"Informace o {pojmenovani_o} {Model.firma.Jmeno}";

    ViewBag.statDescription =
    (HlidacStatu.Lib.Analysis.ACore.GetBasicStatisticForICO(Model.ICO).Summary.Pocet > 0) ?
        string.Format("<span><a href=\"/Hledat?Q=ico:{0}\">{1}</a><br />za celkem {2}</span>",
            Model.ICO,
            HlidacStatu.Util.PluralForm.Get((int)HlidacStatu.Lib.Analysis.ACore.GetBasicStatisticForICO(Model.ICO).Summary.Pocet, "{0} smlouva v registru;{0} smlouvy v registru;celkem {0} smluv v registru"),
            HlidacStatu.Lib.Data.Smlouva.NicePrice(HlidacStatu.Lib.Analysis.ACore.GetBasicStatisticForICO(Model.ICO).Summary.CelkemCena, html: true, shortFormat: true)

        )
        : "Nenalezli jsme žádné smlouvy";

    ViewBag.SocialShareTitle = Model.firma.Jmeno + " na HlidacStatu.cz";
    ViewBag.SocialShareText = $"{Model.firma.Jmeno} : {Devmasters.Core.TextUtil.RemoveHTML((string)ViewBag.statDescription)}";
    ViewBag.SocialShareType = "article";

    HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData kidx = HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndex.Get(Model.firma.ICO);

    if (kidx != null && kidx.ContainsKIndexReady())
    {
        ViewBag.SocialImage = "https://www.hlidacstatu.cz/socialbanner/kindex?v=" + Model.firma.ICO;
        ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1000\" />\n"
                        + "<meta property=\"og:image:height\" content=\"1000\" />"
                        + "<meta property=\"og:image:type\" content=\"image/png\" />";
    }
    else
    {
        ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/subjekt?d={DateTime.Now.ToString("d.M.yy")}&v=" + Model.ICO;
        ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
                    + "<meta property=\"og:image:height\" content=\"1080\" />"
                    + "<meta property=\"og:image:type\" content=\"image/png\" />"
                    ;
    }

    bool showEmptyVersion = Model.firma.NotInterestingToShow(); }
@section metatags
{
    @{ bool noIndex = false;
        if (HlidacStatu.Lib.StaticData.FirmySVazbamiNaPolitiky_nedavne_Cache.Get()
          .SoukromeFirmy.ContainsKey(Model.ICO))
        {
            noIndex = HlidacStatu.Lib.StaticData.FirmySVazbamiNaPolitiky_nedavne_Cache.Get()
              .SoukromeFirmy[Model.ICO]
              .Select(pid => HlidacStatu.Lib.StaticData.PolitickyAktivni.Get().Where(m => m.InternalId == pid).FirstOrDefault())
              .Where(p => p != null)
              .Any(p => HlidacStatu.Web.Controllers.HomeController.DontIndexOsoby.Contains(p.NameId.ToLower()));
        } }
    @if (noIndex || Model.firma.Status == 6)
    {
        <meta name="robots" content="noindex, noarchive">
}
}

@section scripts
{

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")



    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Úřady a firmy</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<div class="row">
    <div class="col-xs-12">
        <h2 class="new-title text-left">
            @WebUtil.AddBookmark(this.User, Model)
            Informace o @pojmenovani_o
            @if (Model.firma.Jmeno.Length > 40)
            {
            <div style="padding-left:2em;">
                @Html.KIndexLabelLink(Model.firma.ICO, 30, linkToKindex: true)<span class="text-info">@Model.firma.Jmeno</span>

                </div>
            }
            else
            {
            @Html.KIndexLabelLink(Model.firma.ICO, 30, linkToKindex: true)<span class="text-info">@Model.firma.Jmeno</span>
            }
        </h2>
    </div>
</div>

<div class="dontembed">

    @WebUtil.AddVisitImg("/subjekt/" + Model.ICO)

    @if (showEmptyVersion)
    {
        <div class="container">
            <table class="table table-new table-new--dotted">
                <tbody>
                    @if (Model.firma.Datum_Zapisu_OR.HasValue)
                    {

                        <tr>
                            <th>Založena</th>
                            <td>
                                <div>@(Model.firma.Datum_Zapisu_OR.Value.ToString("dd.MM.yyyy"))</div>
                            </td>
                        </tr>
}
                    @if (Model.firma.ICO != null && @Model.firma.ICO.Length > 0)
                    {
                        <tr>
                            <th>IČO</th>
                            <td>@Model.firma.ICO</td>
                        </tr>
}
                    @if (Model.firma.DatovaSchranka != null && @Model.firma.DatovaSchranka.Length > 0)
                    {
                        <tr>
                            <th>Datová schránka</th>
                            <td>@Model.firma.DatovaSchranka.Aggregate((f, s) => f + ", " + s)</td>
                        </tr>
}
                    <tr>
                        <td colspan="2">
                            <div class="alert alert-warning" role="alert">
                                Tento subjekt nemá žádné obchodní vztahy se státem ani s politickými stranami, proto o ni nezobrazujeme více detailů.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>return;
    }

    @Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Profile", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO })

    <div style="height:34px"></div>

    @if (Model.firma.PatrimStatu())
    {@*@Html.Partial("Subjekt_Vztahy", Model.firma)*@

    @Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Odberatel", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO })
    @Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Dodavatel", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO }) @*@Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Odberatel", firma = Model.firma })
        @Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Dodavatel", firma = Model.firma })*@ }
else
{ @*@Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Dodavatel", firma = Model.firma })
        @Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Odberatel", firma = Model.firma })*@
@Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Dodavatel", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO })
@Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Odberatel", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO })}

    <hr class="morespace" />
    @if (Request.QueryString["verze"] == "b1")
    {
        @Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Stat2", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO }) @*@Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Stat2", firma = Model.firma })*@ }
    else
    {
        @Html.Action("CachedAction_Child_2H", new { model = Model.firma, NameOfView = "Subjekt_Stat", auth = this.User.Identity.IsAuthenticated, key = Model.firma.ICO }) @*@Html.Action("Subjekt_child", new { NameOfView = "Subjekt_Stat", firma = Model.firma })*@}

    @Html.Action("CachedAction_Child_2H", new
    {
        model = Model.firma,
        NameOfView = "Subjekt_OtherDB",
        auth = this.User.Identity.IsAuthenticated,
        key = Model.firma.ICO,
        param1 = HlidacStatu.Web.Framework.InsolvenceLimitedView.IsLimited(this.User)
    })

</div>

@section onlyembed
{
    <div class="container text">
        <h3>@ViewBag.Title</h3>
        <p>@Html.Raw(HlidacStatu.Util.InfoFact.RenderInfoFacts(Model.firma.InfoFacts(), 2, true, true, html: true)) </p>
        <p><a href="@Model.firma.GetUrl(false)" target="_top">Více informací o smlouvě</a></p>
    </div>
    <img src="@($"/socialbanner/subjekt?d={DateTime.Now.ToString("yyMMdd")}&v={Model.ICO}")"
         style="width:100%;height:auto;padding:1em 0 0 0 0;min-width:250px;" />
}

@section footerscripts
{
    <script type="text/javascript">
    SocialShareKit.init({
        url: 'https://www.hlidacstatu.cz@(Url.Action("Detail", new { id = Model.ICO }))',
        twitter: {
            via: 'HlidacSmluv'
        }
    }
    );
    </script>
}
