@model HlidacStatu.Web.Models.SubjektReportModel

@using Nest
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using HlidacStatu.Web.Framework
@using HlidacStatu.Lib;


@{ 
    Layout = null;

    string pojmenovani = "firma";
    string pojmenovani_o = "firmě";
    if (Model.firma.JsemOVM())
    {
        pojmenovani = "úřad";
        pojmenovani_o = "úřadu";
    }
    else if (Model.firma.JsemStatniFirma())
    {
        pojmenovani = "státní firma";
        pojmenovani_o = "státní firmě";

    }

}
    <table class="table table-new table-new--dotted">
        <tbody>
            @if (Model.firma.Datum_Zapisu_OR.HasValue)
            {

<tr>
    <th>Založena</th>
    <td>
        <div>@(Model.firma.Datum_Zapisu_OR.Value.ToString("dd.MM.yyyy"))</div>
    </td>
</tr>}
            @if (Model.firma.ICO != null && @Model.firma.ICO.Length > 0)
            {
<tr>
    <th>IČO</th>
    <td>@Model.firma.ICO</td>
</tr>}
            @if (Model.firma.DatovaSchranka != null && @Model.firma.DatovaSchranka.Length > 0)
            {
<tr>
    <th>Datová schránka</th>
    <td>@Model.firma.DatovaSchranka.Aggregate((f, s) => f + ", " + s)</td>
</tr>}
            <tr>
                <td colspan="2">
                    <div class="alert alert-warning" role="alert">
                        Tento subjekt nemá žádné obchodní vztahy se státem ani s politickými stranami, proto o ni nezobrazujeme více detailů.
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
