@model HlidacStatu.Lib.Data.Firma

@using Nest;
@using HlidacStatu.Web.Framework;
@using System.Collections.Generic;
@using System.Linq;
@using System;
@using System.Data;
@using HlidacStatu.Lib.Render;
@using HlidacStatu.Lib.Data;

@{
    ViewBag.Title = "Další informace " + Model.Jmeno;
}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Úřady a firmy</li>
        <li><a href="/subjekt2/@Model.ICO">@Model.Jmeno</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    <script>
        $(document).ready(function () {
            $('.datatable').DataTable({
                "language": {
                    "info": "Zobrazuji _START_. - _END_. z celkového počtu _TOTAL_ záznamů.",
                    "search": "Hledat:",
                    "lengthMenu": "Zobraz _MENU_ záznamů",
                    "thousands": " ",
                    "paginate": {
                        "first": "První",
                        "last": "Poslední",
                        "next": "Další",
                        "previous": "Předchozí"
                    },
                }
            });
        });

    </script>

    <script>
        $(function () {
            $('.toggle.btn').click(function () {
                $('.toggle').toggle();
            });

        });
    </script>

}

<style>
    .my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .py-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .head h3 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .watcher .btn {
        background-color: rgb(231,102,5);
        padding: 7px 15px;
        margin: 5px 0px;
        text-transform: none;
        font-size: 14px;
    }
</style>

<div class="head">
    <h3>@Html.KIndexLabelLink(Model.ICO, 30, linkToKindex: true)@Model.Jmeno: Další informace</h3>
    <div><a class="btn btn-primary" href="/subjekt2/@Model.ICO">Zpět na přehled</a></div>
    @WebUtil.CompanySummary(Model)
</div>
<hr />

<div class="row boxes">
    @* Pravý sloupec *@
    @Html.CachedAction(HtmlExtensions.CachedActionLength.Cache12H, "RightColumn", Model, Model.ICO,
        this.User.Identity.IsAuthenticated)

    @* Prázdný sloupec *@
    <div class="col-sm-1">
    </div>
    @* První sloupec *@
    <div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
        @if (HlidacStatu.Lib.StaticData.OrganizaniStrukturyUradu.TryGetValue(Model.ICO, out var podrizeneOrg))
        {
            <div>
                <h4>Organizační struktura</h4>
                <ul>
                    @foreach (var org in podrizeneOrg)
                    {
                        <li><a href="/subjekt2/OrganizacniStruktura/@Model.ICO?orgId=@org.id">@org.oznaceni</a></li>
                    }
                </ul>
            </div>
            <hr />
        }

        @{
            var sponzoring = Model.Events(e => e.Type == (int)FirmaEvent.Types.Sponzor)
                .GroupBy(s => (rok: s.DatumOd?.Year ?? 0, ico: s.Description ),
                (key, val) => (Rok: key.rok, Ico:key.ico, Dar: val.Sum(x => x.AddInfoNum ?? 0) ))
                .ToList();

            var sponzoringData = new ReportDataSource<(int Rok, string Ico, decimal Dar)>(
                new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column[]
                {
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Rok",
                        CssClass = "number",
                        HtmlRender = (x) => x.Rok.ToString(),
                        TextRender = (x) => x.Rok.ToString()

                    },
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Politická strana",
                        HtmlRender = (x) =>
                        $"<a href=\"/subjekt2/{x.Ico}\">{HlidacStatu.Lib.Data.Firmy.GetJmeno(x.Ico)}</a>"
                    },
                    new ReportDataSource<(int Rok, string Ico, decimal Dar)>.Column()
                    {
                        Name = "Celkem darovali",
                        TextRender = (x) => $"{x.Dar.ToString("N0")} Kč",
                        HtmlRender = (x) => $"{x.Dar.ToString("N0")}&nbsp;Kč",
                        OrderValueRender = (x) => HlidacStatu.Util.RenderData.OrderValueFormat(x.Dar),
                        CssClass = "number"
                    },

                });
            foreach (var dar in sponzoring)
            {
                sponzoringData.AddRow(dar);
            }
            sponzoringData.Title = "Přehled darů politickým stranám";
        }
        @if (sponzoring.Count > 0)
        {
            <div>
                <h4>Sponzorství politických stran</h4>
                @Html.DataToHTMLTable(sponzoringData)
            </div>
        }

    </div>
</div>