@model (HlidacStatu.Lib.Data.Firma Firma, List<int> Data)

@using Nest;
@using HlidacStatu.Web.Framework;
@using System.Collections.Generic;
@using System.Linq;
@using System;
@using System.Data;
@using HlidacStatu.Lib.Render;

@{
    //ViewBag.Title = "" + Model.Firma.Jmeno + " v registru smluv.";

    var statistics = Model.Firma.StatistikaRegistruSmluv();
    int chartMinDate = 2016;
    int chartMaxDate = DateTime.Now.Year;
    var summaryAfter2016 = statistics.Summary(statistics.YearsAfter2016());
    var statHoldingAktual = Model.Firma.HoldingStatisticsRegistrSmluv(HlidacStatu.Lib.Data.Relation.AktualnostType.Aktualni);
    var holdingSummaryAfter2016 = statHoldingAktual.Summary(statHoldingAktual.YearsAfter2016());
    string NiceString(string url, int pocetSmluv, decimal cenaCelkem)
    {
        return $"<a href='{url}'>" +
            Devmasters.Lang.Plural.Get(pocetSmluv, "{0} smlouva;{0} smlouvy;{0} smluv") +
            "</a> za celkem " +
            HlidacStatu.Lib.Data.Smlouva.NicePrice(cenaCelkem, html: true, shortFormat: true);
    }

    var seasonStat = statistics.CurrentSeasonStatistics();
    var currentSeasonYear = statistics.CurrentSeasonYear();
    var zmenaObjemuSmluv = statistics.ChangeBetweenYears(currentSeasonYear - 1, currentSeasonYear, s => s.CelkovaHodnotaSmluv);

}
@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>Úřady a firmy</li>
        <li><a href="/subjekt2/@Model.Firma.ICO">@Model.Firma.Jmeno</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "language": {
                    "info": "Zobrazuji _START_. - _END_. z celkového počtu _TOTAL_ záznamů.",
                    "search": "Hledat:",
                    "lengthMenu": "Zobraz _MENU_ záznamů",
                    "thousands": " ",
                    "paginate": {
                        "first": "První",
                        "last": "Poslední",
                        "next": "Další",
                        "previous": "Předchozí"
                    },
                }
            });
        });

    </script>

}

<style>
    .my-0 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .py-0 {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .boxes h4 {
        font-size: 24px;
        font-weight: bold;
    }

    .head h3 {
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
    }

    .watcher .btn {
        background-color: rgb(231,102,5);
        padding: 7px 15px;
        margin: 5px 0px;
        text-transform: none;
        font-size: 14px;
    }
</style>

<div class="head">
    <h3>@Html.KIndexLabelLink(Model.Firma.ICO, 30, linkToKindex: true)@Model.Firma.Jmeno: Registr smluv</h3>
    <div><a class="btn btn-primary" href="/subjekt2/@Model.Firma.ICO">Zpět na přehled</a></div>
    @WebUtil.CompanySummary(Model.Firma)
</div>
<hr />

<div class="row boxes">
    @* Pravý sloupec *@
    @Html.CachedAction(HtmlExtensions.CachedActionLength.Cache12H, "RightColumn", Model.Firma, Model.Firma.ICO,
        this.User.Identity.IsAuthenticated)

    @* Prázdný sloupec *@
    <div class="col-sm-1">
    </div>
    @* První sloupec *@
    <div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
        <div>
            <h4>Závažné nedostatky</h4>
            <div>
                @{
                    var currentYear = DateTime.Now.Year;
                    var numFatalIssue = HlidacStatu.Lib.Data.Smlouva.Search.SimpleSearch($"ico:{Model.Firma.ICO} AND chyby:zasadni AND cena:0 AND datumUzavreni:[{currentYear}-01-01 TO {currentYear + 1}-01-01}}", 0, 0, HlidacStatu.Lib.Data.Smlouva.Search.OrderResult.FastestForScroll, exactNumOfResults: true).ElasticResults.HitsMetadata.Total;
                    var numVazneIssue = HlidacStatu.Lib.Data.Smlouva.Search.SimpleSearch($"ico:{Model.Firma.ICO} AND chyby:vazne AND cena:0 AND datumUzavreni:[{currentYear}-01-01 TO {currentYear + 1}-01-01}}", 0, 0, HlidacStatu.Lib.Data.Smlouva.Search.OrderResult.FastestForScroll, exactNumOfResults: true).ElasticResults.HitsMetadata.Total;
                }
                @if (numFatalIssue.Value > 0)
                {
                    <p>
                        Zásadní nedostatky za letošní rok v rozporu se zákonem jsme zjistili u
                        <a class="text-danger" href="/hledatsmlouvy?q=ico:@(Model.Firma.ICO)+AND+chyby:zasadni AND cena:0 AND datumUzavreni:[@(currentYear)-01-01 TO @(currentYear + 1)-01-01}">
                            @if (numFatalIssue.Relation == TotalHitsRelation.GreaterThanOrEqualTo)
                            {
                                @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)numFatalIssue.Value, "<u><strong>0 </strong>smluv</u>.", "<u><strong>jedné </strong>smlouvy</u>.", "<u><strong>{0} </strong>smluv</u>.", "<u><strong>více než {0:### ### ##0} </strong>smluv</u>.")) }
                            else
                            {
                                @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)numFatalIssue.Value, "<u><strong>0 </strong>smluv</u>.", "<u><strong>jedné </strong>smlouvy</u>.", "<u><strong>{0} </strong>smluv</u>.", "<u><strong>{0:### ### ##0} </strong>smluv</u>."))
                            }
                            Tyto smlouvy jsou velmi pravděpodobně neplatné.
                        </a>
                    </p>
                }
                @if (numVazneIssue.Value > 0)
                {
                    <p>
                        @if (numFatalIssue.Value == 0)
                        {
                            <span>Vážné nedostatky za letošní rok jsme zjistili u</span>
                        }
                        else
                        {
                            <span>Zároveň vážné nedostatky za letošní rok jsme zjistili u</span>
                        }

                        <a class="text-danger" href="/hledatsmlouvy?q=ico:@(Model.Firma.ICO)+AND+chyby:vazne AND cena:0 AND datumUzavreni:[@(currentYear)-01-01 TO @(currentYear + 1)-01-01}">
                            @if (numFatalIssue.Relation == TotalHitsRelation.GreaterThanOrEqualTo)
                            {
                                @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)numVazneIssue.Value, "<u><strong>0 </strong>smluv</u>.", "<u><strong>jedné </strong>smlouvy</u>.", "<u><strong>{0} </strong>smluv</u>.", "<u><strong>více než {0:### ### ##0} </strong>smluv</u>.")) }
                            else
                            {
                                @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)numVazneIssue.Value, "<u><strong>0 </strong>smluv</u>.", "<u><strong>jedné </strong>smlouvy</u>.", "<u><strong>{0} </strong>smluv</u>.", "<u><strong>{0:### ### ##0} </strong>smluv</u>."))
                            }
                        </a>
                    </p>
                }


                <p>
                    V roce @(currentSeasonYear) uzavřel @(Model.Firma.JsemOVM()? "úřad" : "subjekt")
                    <a href="/hledat?q=ico:@(Model.Firma.ICO) AND cena:0 AND datumUzavreni:[@(currentSeasonYear)-01-01 TO @(currentSeasonYear + 1)-01-01}">
                        @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)seasonStat.PocetSmluv, "<u><strong>0 </strong>smluv</u>", "<u><strong>jednu </strong>smlouvu</u>", "<u><strong>{0} </strong>smluvy</u>", "<u><strong>{0:### ### ##0} </strong>smluv</u>"))
                    </a>
                    za <strong>@(Html.Raw(HlidacStatu.Lib.Data.Smlouva.NicePrice(seasonStat.CelkovaHodnotaSmluv, html: true, shortFormat: true)))</strong>

                    @if(zmenaObjemuSmluv.percentage.HasValue)
                    {
                        @($"({zmenaObjemuSmluv.percentage?.ToString("P2")} objemu smluv za {currentSeasonYear - 1})")
                    }

                </p>

                <p>
                    V @(currentSeasonYear) utajil hodnotu kontraktu u
                    <a href="/hledat?q=ico:@(Model.Firma.ICO) AND cena:0 AND datumUzavreni:[@(currentSeasonYear)-01-01 TO @(currentSeasonYear + 1)-01-01}">
                        @Html.Raw(Devmasters.Lang.Plural.GetWithZero((int)seasonStat.PocetSmluvBezCeny, "<u><strong>0 </strong>smluv</u>,", "<u><strong>jedné </strong>smlouvy</u>,", "<u><strong>{0} </strong>smluv</u>,", "<u><strong>{0:### ### ##0} </strong>smluv</u>,"))
                    </a>což je celkem @(seasonStat.PercentSmluvBezCeny.ToString("P2")) ze všech.
                </p>
            </div>

            <hr />

            @* GRAFY *@
            <h4>Souhrnné statistiky pro @Model.Firma.Jmeno</h4>


            <div class="row">

                @* Levý sub-sloupec *@
                <div class="col-md-6">
                    <div>
                        @{ ReportDataSource rdsSumPerY = ReportDataSource.SimpleReportDataForDateChart("Rok", "Počet smluv",
                            statistics
                                .Where(k => k.Year >= chartMinDate && k.Year <= chartMaxDate)
                                .ToDictionary(k => new DateTime(k.Year, 1, 1,0,0,0, DateTimeKind.Utc), v => (decimal)v.Value.CelkovaHodnotaSmluv)
                            );

                            @UtilChart.RenderReportChart("Hodnota smluv", UtilChart.SimpleBarChart(
                                               true, true, 150, "rdsSumPerY",
                                                "", "",
                                               rdsSumPerY, "Kč", xValueFormat: "{value:%Y}")
                                       ) }
                    </div>

                    <div>
                        @{ ReportDataSource rdsCountPerY = ReportDataSource.SimpleReportDataForDateChart("Rok", "Počet smluv",
                                statistics
                                    .Where(k => k.Year >= chartMinDate && k.Year <= chartMaxDate)
                                    .ToDictionary(k => new DateTime(k.Year, 1, 1), v => (decimal)v.Value.PocetSmluv)
                                );

                            @UtilChart.RenderReportChart("Počet smluv", UtilChart.SimpleBarChart(
                                              true, true, 150, "rdsCountPerY",
                                              "", "",
                                              rdsCountPerY, "", xValueFormat: "{value:%Y}")
                                      ) }
                    </div>

                    <div>
                        @{ ReportDataSource rdsbezCenyPerY = ReportDataSource.SimpleReportDataForDateChart("Rok", "% smluv",
                                statistics
                                    .Where(k => k.Year >= chartMinDate && k.Year <= chartMaxDate)
                                    .ToDictionary(k => new DateTime(k.Year, 1, 1), v => (decimal)v.Value.PercentSmluvBezCeny * 100)
                                );

                            @UtilChart.RenderReportChart("% smluv s utajenou cenou ", UtilChart.SimpleBarChart(
                                            true, true, 150, "rdsbezCenyPerY",
                                            "", "%",
                                            rdsbezCenyPerY, "%", xValueFormat: "{value:%Y}")
                                    ) }
                    </div>
                </div>

                @* Pravý sub-sloupec *@
                <div class="col-md-6">
                    @if (Model.Firma.PatrimStatu()
                        && summaryAfter2016.PocetSmluvPolitiky > 0)
                    {
                        <div>
                            @{ ReportDataSource rdsPolitikPerYKc = ReportDataSource.SimpleReportDataForDateChart("Rok", "Hodnota smluv",
                                    statistics
                                    .Where(k => k.Year >= chartMinDate && k.Year <= chartMaxDate)
                                    .ToDictionary(k => new DateTime(k.Year, 1, 1), v => (decimal)v.Value.SumKcSmluvPolitiky)
                                    );

                                @UtilChart.RenderReportChart("Hodnota smluv s vazbou na politiky", UtilChart.SimpleBarChart(
                                            true, true, 150, "rdsPolitikPerYKc",
                                            "", "Kč",
                                            rdsPolitikPerYKc, "Kč", xValueFormat: "{value:%Y}")
                                    ) }
                        </div>
                        <div>
                            @{ ReportDataSource rdsPolitikPerY = ReportDataSource.SimpleReportDataForDateChart("Rok", "% smluv",
                                    statistics
                                    .Where(k => k.Year >= chartMinDate && k.Year <= chartMaxDate)
                                    .ToDictionary(k => new DateTime(k.Year, 1, 1), v => (decimal)v.Value.PercentSmluvPolitiky * 100)
                                    );

                                @UtilChart.RenderReportChart("% smluv s vazbou na politiky", UtilChart.SimpleBarChart(
                                            true, true, 150, "rdsPolitikPerY",
                                            "", "%",
                                            rdsPolitikPerY, "%", xValueFormat: "{value:%Y}")
                                    ) }
                        </div>
                    }
                </div>
            </div>
            <hr />

                            <div>
                                <h4>Statistiky registru smluv pro @(Model.Firma.JsemOVM()? "úřad" : "subjekt") od 2016</h4>
                    <div>
                        @Html.Raw(NiceString($"/hledat?q=holding:{Model.Firma.ICO}", (int)summaryAfter2016.PocetSmluv, summaryAfter2016.CelkovaHodnotaSmluv))<br />
                        @(summaryAfter2016.PercentSmluvBezCeny.ToString("P1")) smluv se skrytou cenou<br />
                        @(summaryAfter2016.PercentSmluvBezSmluvniStrany.ToString("P1")) smluv se skrytou smluvní stranou<br />
                        @if (Model.Firma.PatrimStatu())
                        {
                            <text>
                                @(summaryAfter2016.PercentSmluvPolitiky.ToString("P1")) smluv s firmami navázanými na politiky
                            </text>}
                    </div>
                </div>

            @if (
                Model.Firma.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).Count() > 0
                && holdingSummaryAfter2016.PocetSmluv > 0
                )
            {
                <div>
                    <h4>Statistiky pro @(Model.Firma.JsemOVM()? "úřad a jeho podřízené organizace" : "subjekt a všechny dceřinné společnosti") od 2016</h4>
                    <div>
                        @Html.Raw(NiceString($"/hledat?q=holding:{Model.Firma.ICO}", (int)holdingSummaryAfter2016.PocetSmluv, holdingSummaryAfter2016.CelkovaHodnotaSmluv))<br />
                        @(holdingSummaryAfter2016.PercentSmluvBezCeny.ToString("P1")) smluv se skrytou cenou<br />
                        @(holdingSummaryAfter2016.PercentSmluvBezSmluvniStrany.ToString("P1")) smluv se skrytou smluvní stranou<br />
                        @if (Model.Firma.PatrimStatu())
                        {
                            <text>
                                @(holdingSummaryAfter2016.PercentSmluvPolitiky.ToString("P1")) smluv s firmami navázanými na politiky
                            </text>}
                    </div>
                </div>
            }

            <hr />

            @if (Model.Firma.PatrimStatu() && summaryAfter2016.PocetSmluvPolitiky > 0)
            {
                <div>
                    <h4>Smlouvy s vazbou na politiky</h4>
                    <div id="_smlouvy_s_politiky">
                        <a href="#tododoooo">Tenhle odkaz nasměrovat na smlouvy s politiky</a>.

                        <table class="table table-condensed table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:left">Rok</th>
                                    <th style="text-align:center">Počet smluv</th>
                                    <th style="text-align:center">% podíl</th>
                                    <th style="text-align:center">Hodnota smluv v Kč</th>
                                    <th style="text-align:center">% podíl</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var bs in statistics
                                    .Where(y => statistics.YearsAfter2016().Contains(y.Year))
                                    .OrderBy(y => y.Year))
                                {
                                    <tr>
                                        <td>@bs.Year</td>
                                        <td class="number">@bs.Value.PocetSmluvPolitiky</td>
                                        <td class="number">@bs.Value.PercentSmluvPolitiky.ToString("P2")</td>
                                        <td class="number">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(bs.Value.SumKcSmluvPolitiky, html: true))</td>
                                        <td class="number">@bs.Value.PercentKcSmluvPolitiky.ToString("P2")</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Celkem</th>
                                    <th class="number">@summaryAfter2016.PocetSmluvPolitiky</th>
                                    <th class="number">@summaryAfter2016.PercentSmluvPolitiky.ToString("P2")</th>
                                    <th class="number">@Html.Raw(HlidacStatu.Util.RenderData.ShortNicePrice(summaryAfter2016.SumKcSmluvPolitiky, html: true))</th>
                                    <th class="number">@summaryAfter2016.PercentKcSmluvPolitiky.ToString("P2")</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            }

        </div>

    </div>
</div>