@model HlidacStatu.Lib.Data.Firma

@using Nest;
@using HlidacStatu.Lib.Render;
@using HlidacStatu.Web.Framework;
@using System.Collections.Generic;
@using System.Linq;
@using Devmasters;
@using HlidacStatu.Lib.Data;

@{
    Layout = null;

    var ceo = Model.Ceo();

}

@* Pravý sloupec *@
<div class="col-sm-4 col-sm-push-8 col-xs-12 col-xs-push-0">
    <div class="row">

        @if (ceo.Osoba != null && ceo.Osoba.IsValid())
        {
            <div class="col-sm-4">
                <div class="person-profile-thumb">
                    <a href="@ceo.Osoba.GetUrl()">
                        <div class="photo">
                        <div class="profile-picture" style="background-image: url('@ceo.Osoba.GetPhotoUrl(local: true)')"></div>
                    </div>
                        </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p class="py-0 my-0 text-muted">@ceo.Role</p>
                <p class="py-0 my-0 lead"><a href="@ceo.Osoba.GetUrl()">@ceo.Osoba.FullName()</a></p>
                <p class="py-0 my-0">od @(ceo.From?.ToString("dd.MM.yyyy"))</p>
                @if (ceo.Osoba.GetSocialContacts().Any())
                {
                    <p class="py-0 my-0 text-muted">
                        @foreach (var ev in ceo.Osoba.GetSocialContacts())
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "")</span>
                        }
                    </p>
                }

            </div>
        }
        else
        {
            var rppReq = HlidacStatu.Lib.ES.Manager.GetESClient_RPP_OVM().Get<HlidacStatu.Lib.Data.External.RPP.OVMFull>(Model.ICO);
            if (rppReq.Found && rppReq.Source.angazovaneOsoby?.Count() > 0)
            {
                var rppOs = rppReq.Source.angazovaneOsoby;
                <div class="col-sm-4">
                    <div class="person-profile-thumb">
                        <div class="photo">
                            <div class="profile-picture" style="background-image: url('/photo/unknown')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p class="py-0 my-0 text-muted">Zastupovaný</p>
                    @foreach (var os in rppOs)
                    {
                        <p class="py-0 my-0 lead">@($"{os.fyzickaOsoba.jmeno.Capitalize()} {os.fyzickaOsoba.prijmeni.Capitalize()}")</p>
                        <p class="py-0 my-0 text-muted small">změna @(os.fyzickaOsoba.datumPosledniZmeny?.ToString("dd.MM.yyyy"))</p>
                    }
                </div>
            }
        }

    </div>
    <hr />
    <div>
        <table>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Založeno</td>
                <td class="col-sm-7">@(Model.Datum_Zapisu_OR.Value.ToString("dd.MM.yyyy"))</td>
            </tr>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">IČO</td>
                <td class="col-sm-7">@Model.ICO</td>
            </tr>
            <tr>
                <td class="text-nowrap text-muted col-sm-5">Datová schránka</td>
                <td class="col-sm-5">@string.Join(", ", Model.DatovaSchranka)</td>
            </tr>
            @if (Model.GetSocialContacts().Any(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Záznamy zastupitelstva</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network == OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "")</span>
                        }
                    </td>
                </tr>
            }

            @if (Model.GetSocialContacts().Any(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
            {
                <tr>
                    <td class="text-nowrap text-muted col-sm-5">Odkazy</td>
                    <td class="col-sm-5">
                        @foreach (var ev in Model.GetSocialContacts().Where(m => m.Network != OsobaEvent.SocialNetwork.Zaznam_zastupitelstva))
                        {
                            <span>@Html.SocialLinkWithIcon(ev.Network, ev.Contact, "")</span>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <hr />
    <div class="watcher">
        <h4>Chci hlídat</h4>
        <div>
            @WebUtil.AddWatchDog(this.User, "ico:" + Model.ICO, null,
                                    "Všechny změny o " + Devmasters.TextUtil.ShortenText(Model.Jmeno, 30),
                                    prefillWDname: "Novinky pro " + Model.Jmeno, btnCss: "btn btn-warning btn-xs", showWDList: false, preBtnText: "")
        </div>
        <div>
            @if (Model.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).Count() > 0)
            {
                if (Model.JsemOVM())
                {
                    @WebUtil.AddWatchDog(this.User, "holding:" + Model.ICO, null,
                        $"Změny i "
                        + Devmasters.Lang.Plural.Get(Model.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).Count(), "v jedné podřízené organizaci", "ve {0} podřízených organizacích", "v {0} podřízených organizacích")
                        + "", prefillWDname: "Novinky pro " + Model.Jmeno, btnCss: "btn btn-warning btn-xs", showWDList: false, preBtnText: "")
                }
                else
                {
                    @WebUtil.AddWatchDog(this.User, "holding:" + Model.ICO, null,
                        $"Změny i "
                        + Devmasters.Lang.Plural.Get(Model.AktualniVazby(HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny).Count(), "v jedné dceřiné společnosti", "ve {0} dceřiných společnostech", "v {0} dceřiných společnostech")
                        + "", prefillWDname: "Novinky pro " + Model.Jmeno, btnCss: "btn btn-warning btn-xs", showWDList: false, preBtnText: "")
                }


            }
        </div>
    </div>
    <hr />
    <div>
        <span class="text-muted">Chci sdílet s ostatními</span>
        <div>
            @WebUtil.ShareFacebook(Model.GetUrl(false))
            @WebUtil.ShareTwitter(Model.GetUrl(false), $"{Model.Jmeno} na @HlidacStatu - {Model.InfoFacts().First().Render(false)}")
            @WebUtil.ShareWidget(Model.GetUrl(false))
        </div>
    </div>
</div>
