@model HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData
@using HlidacStatu.Lib
@using Devmasters.Core
@using HlidacStatu.Web.Framework;

@{


}

@if (Model?.ElasticResults?.IsValid == false || Model.ElasticResults == null)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">Položený dotaz má špatnou syntaxi. Zkontrolujte, že je správně.</div>
            <div>
                Pokud si myslíte, že dotaz je v pořádku a chyba je na naší straně, @Util.FeedbackModal("napište nám prosím", "Chyba", "btn btn-link", null).
                Zkontrolujeme to.
            </div>
        </div>
    </div>
    return;
}
else
{
    if (Model.ShowWatchdog && Model.Q != null)
    {
        @Util.AddWatchDog(this.User, Model.Q, typeof(HlidacStatu.Lib.Data.VZ.VerejnaZakazka))
    }

    if (Model.ElasticResults == null)
    {
        <span></span>
    }
    else if (Model.ElasticResults.Total == 0)
    {
        <h2>Žádné zakázky jsme nenalezli.</h2>
    }
    else if (Model.ElasticResults.Total > 0)
    {
        <hr />

        <script>
            function changeOrderVZ(sel) {
                var value = sel.value;
                window.location.href = '@Html.Raw(HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData.GetSearchUrl(
                                           this.Request.Url.Scheme + "://" + this.Request.Url.Host + this.Request.Url.AbsolutePath
                                           ,Model.Q, Zahajeny: Model.Zahajeny, oblast: Model.Oblast))&order=' + value;
            }
        </script>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>
                    Nalezené veřejné zakázky
                    <small>
                        @HlidacStatu.Util.RenderData.Vysledky.PocetVysledku(Model.ElasticResults.HitsMetadata.Total, false, HlidacStatu.Util.RenderData.CapitalizationStyle.FirstLetterUpperCap)
                    </small>
                </h3>
                @*@if (Model.Result.Aggregations != null && Model.Result.Aggregations.ContainsKey("sumKc"))
                    {
                        double? sum = ((Nest.ValueAggregate)Model.Result.Aggregations["sumKc"]).Value;
                        <h4>
                            Celková cena nalezených smluv @Html.Raw(HlidacStatu.Lib.Data.Smlouva.ShortNicePrice(Convert.ToDecimal(sum.Value), html: true))
                        </h4>
                    }*@
            </div>
            <div class="col-xs-12 col-sm-6">
                <br />
                @Html.DropDownListFor(m => m.Order, Model.OrderList, new { @class = "form-control small pull-right", @id = "orderListVZ", @style = "width:60%;max-width:300px", @onchange = "changeOrderVZ(this);" })
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                @SearchResults.VZHeader()
            </thead>
            <tbody>
                @foreach (var item in Model.ElasticResults.Hits.Select(m => m.Source))
                {
                    @SearchResults.VZRow(this.User, this.Request, item, Model.Q, small: Model.SmallRender)
                }
            </tbody>
        </table>

        @SearchResults.Pagination(Url.RequestContext.HttpContext.Request, Model, "Hledat", "VZ", new string[] { "nameOfView", "routeData" },
    null, true, "zakazky", this.User)



    }
}


<div style="margin-bottom:50px;"></div>
