@model HlidacStatu.Lib.Render.ReportDataSource<HlidacStatu.Lib.Data.Sponsors.Strany.StranaPerYear>

@using Devmasters.Core
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Data
@using System.Linq;
@using HlidacStatu.Web.Framework

@{

    ViewBag.Title = "Sponzoři " + ViewBag.Strana;
}
@section scripts
{
    <script src="/Scripts/typeahead.jquery.min.js"></script>
    <script src="/Scripts/bloodhound.min.js"></script>
    <link href="/Content/typeaheadjs.css" media="all" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/sponzori">Sponzoři</a></li>
        <li class="active">Sponzoři @ViewBag.Strana</li>
    </ol>
}

    <h2>Přehled darů po letech</h2>
    @Html.Raw( UtilChart.RenderReportTableT<HlidacStatu.Lib.Data.Sponsors.Strany.StranaPerYear>("", Model, @"{
                 'language': {
                    'url': '//cdn.datatables.net/plug-ins/1.10.12/i18n/Czech.json'
                },
                'ordering': false,
                'order': [0,'asc'],
                'lengthChange': false,
                'info': false,
                'paging': false
                }")
    )

    <hr style="margin-top:60px" />
    <h2>Největší sponzoři @ViewBag.Strana celkově</h2>

    @{
        IEnumerable<Sponsors.Sponzorstvi<Bookmark.IBookmarkable>> dataF = null;
        IEnumerable<Sponsors.Sponzorstvi<Bookmark.IBookmarkable>> dataO = null;

        dataO = Sponsors.AllSponzorsPerYearPerStranaOsoby.Get()
            .Where(m => m.Strana == ViewBag.Strana)
            .GroupBy(g => g.Sponzor, sp => sp, (g, sp) => new Sponsors.Sponzorstvi<Osoba>()
            {
                Sponzor = g,
                Rok = null,
                Strana = sp.OrderBy(s => s.Rok)
                    .Select(s => $"{HlidacStatu.Util.RenderData.ShortNicePrice(s.CastkaCelkem)} pro {Sponsors.GetStranaHtmlLink(s.Strana)}" + (s.Rok.HasValue ? $" ({s.Rok.Value})" : ""))
                    .Aggregate((f, s) => f + ", " + s),
                CastkaCelkem = sp.Sum(m => m.CastkaCelkem)
            }
            )
            .OrderByDescending(m => m.CastkaCelkem)
            .Take(200)
            .Select(s => new Sponsors.Sponzorstvi<Bookmark.IBookmarkable>()
            {
                CastkaCelkem = s.CastkaCelkem,
                Rok = s.Rok,
                Strana = s.Strana,
                Sponzor = s.Sponzor
            });
        dataF = Sponsors.AllSponzorsPerYearPerStranaFirmy.Get()
            .Where(m => m.Strana == ViewBag.Strana)
            .GroupBy(g => g.Sponzor.Ico, sp => sp, (g, sp) => new Sponsors.Sponzorstvi<Firma.Lazy>()
            {
                Sponzor = new Firma.Lazy(g),
                Rok = null,
                Strana = sp.OrderBy(s => s.Rok)
                    .Select(s => $"{HlidacStatu.Util.RenderData.ShortNicePrice(s.CastkaCelkem)} pro {Sponsors.GetStranaHtmlLink(s.Strana)}" + (s.Rok.HasValue ? $" ({s.Rok.Value})" : ""))
                    .Aggregate((f, s) => f + ", " + s),
                CastkaCelkem = sp.Sum(m => m.CastkaCelkem)
            }
            )
            .OrderByDescending(m => m.CastkaCelkem)
            .Where(m => m.CastkaCelkem >= 100000)
                    .Take(200)
                    .Select(s => new Sponsors.Sponzorstvi<Bookmark.IBookmarkable>()
                    {
                        CastkaCelkem = s.CastkaCelkem,
                        Rok = s.Rok,
                        Strana = s.Strana,
                        Sponzor = s.Sponzor
                    });


        var model = new[] {
        Sponsors.RenderSponzorství(dataO, false, false),
        Sponsors.RenderSponzorství(dataF, false,false)
    };

}
    @Html.Action("CachedAction_Child_48H", new { model = model, NameOfView = "Top_Child" })

    @Util.FeedbackModal("Poslat opravu či připomínku")



