@model HlidacStatu.Lib.Render.ReportDataSource<HlidacStatu.Lib.Data.Sponsors.Sponzorstvi<HlidacStatu.Lib.Data.Bookmark.IBookmarkable>>[]

@using Devmasters
@using HlidacStatu.Lib
@using System.Linq;
@using HlidacStatu.Web.Framework

@{
    int rok = ViewBag.Rok;

    ViewBag.Title = "Největší sponzoři politických stran";
    ViewBag.SubTitle =  rok == 0 ? "za posledních 10 let" : "v roce " + rok;
    HlidacStatu.Lib.Data.Osoba topOsoba = ViewBag.TopOsoba;

    ViewBag.SocialShareTitle = "Největší sponzoři politických stran";
    ViewBag.SocialShareText = rok == 0 ? 
        "Více než 2000 osob a firem, které politickým stranám, hnutím a kandidátům darovali za posledních 10 let v souhrnu alespoň 100.000 Kč."
        : $"Osoby a firmy, které politickým stranám, hnutím a kandidátům darovali v roce {rok} v souhrnu alespoň 100.000 Kč.";

    ViewBag.SocialImage = $"https://www.hlidacstatu.cz/socialbanner/quote?d={DateTime.Now.ToString("d.M.yy")}"
            + "&t=" + System.Net.WebUtility.UrlEncode(ViewBag.SocialShareTitle)
            + "&b=" + System.Net.WebUtility.UrlEncode(ViewBag.SocialShareText)
            + ((topOsoba != null) ? ("&f=" + System.Net.WebUtility.UrlEncode(topOsoba.FullNameWithYear() + " " + HlidacStatu.Util.RenderData.ShortNicePrice(ViewBag.TopOsobaAmount))) : "")
            + "&st=" + System.Net.WebUtility.UrlEncode("k " + DateTime.Now.Date.ToString("dd.MM.yyyy"))
            + ((topOsoba != null) ? ("&img=" + System.Net.WebUtility.UrlEncode(topOsoba.GetPhotoUrl())) : "" )
            + "&rat=16x9"
            ;
    ViewBag.OpenGraphMore = "<meta property=\"og:image:width\" content=\"1920\" />\n"
    + "<meta property=\"og:image:height\" content=\"1080\" />"
    + "<meta property=\"og:image:type\" content=\"image/png\" />"
    ;

    ViewBag.ShowBookmarkUrl = true;


    Devmasters.Cache.LocalMemory.LocalMemoryCache<string> content =
        new Devmasters.Cache.LocalMemory.LocalMemoryCache<string>(
            TimeSpan.FromDays(2),
            "/sponzori/top?rok=" + (rok == 0 ? "" : rok.ToString()),
        (p) => Html.Action("Action_Child", new { model = Model, rok = ViewBag.Rok, NameOfView = "Top_Child" }).ToHtmlString()
        );

}
@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
}


@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li><a href="/sponzori">Sponzoři</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}


<h3>Osoby a firmy sponzorující politické strany celkovou částkou vyšší než 100.000 Kč
    @WebUtil.IfExists(rok != 0, " v roce " + rok, " souhrnně za posledních 10 let")
    </h3>
<div style="margin-top:20px;margin-bottom:40px;">
    <ul class="list-inline">
        @if (rok != 0)
        {
            <li><a href="top">Souhrnně za 10 let</a></li>
        }
        else
        {
            <li><b>Souhrnně za 10 let</b></li>
        }
        @for (int i = HlidacStatu.Lib.Data.Sponsors.DefaultLastSponzoringYear - 10; i < HlidacStatu.Lib.Data.Sponsors.DefaultLastSponzoringYear; i++)
        {
            if (rok == i)
            {
                <li><b>@i</b></li>
            }
            else
            {
                <li><a href="top?rok=@i">@(i)</a></li>
            }
        }
    </ul>
</div>


@Html.Raw(content.Get())


@WebUtil.FeedbackModal("Poslat opravu či připomínku")
