@using System.Linq;
@using System.Web.Mvc;
@using Devmasters.Core;
@using HlidacStatu.Web.Models;

@functions
{
    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }

    private static UrlHelper Url
    {
        get { return ((WebViewPage)CurrentPage).Url; }
    }
}

@helper InsolvenceTableResult(System.Security.Principal.IPrincipal user, HttpRequestBase req,
            int maxItems, HlidacStatu.Lib.Searching.InsolvenceSearchResult result)
{
    <div class="table-new searching__watcher__table">
        <table class="table table-hover">
            <thead>
                @SearchResults.InsolvenceHead()
            </thead>
            <tbody>
                @foreach (var hit in result.Result.Hits.Take(maxItems))
                {
                    @SearchResults.InsolvenceRow(user, req, hit.Source)
                }
            </tbody>
        </table>

        @if (result.Total > maxItems)
        {
            <div class="text-center">
                <a class="btn btn-default btn-default-new" href="@Url.Action("Hledat", "Insolvence", result.ToRouteValues(1))">zobrazit všechny nalezené </a>
            </div>
        }

    </div>
}

@helper InsolvenceHead()
{
    <tr>
        <th></th>
        <th>Spisová značka</th>
        <th>Dlužníci</th>
        <th>Věritelé</th>
        <th>Datum vzniku</th>
        <th>Poslední změna</th>
        <th>Stav řízení</th>
        <th>Soud</th>
    </tr>
}

@helper InsolvenceRow(System.Security.Principal.IPrincipal user, HttpRequestBase request, HlidacStatu.Lib.Data.Insolvence.Rizeni item, string query = "")
{
    <tr>
        <td>
            @{
                @Util.AddBookmark(user, item)
            }
        </td>
        <td style="white-space: nowrap;">
            @if (HlidacStatu.Web.Framework.LimitedAccess.IsAuthenticatedOrSearchCrawler(request))
            {
                <a href="@item.GetUrl(true,query)">@item.SpisovaZnacka</a>
            }
            else
            {
                <a href="#" data-toggle="modal" data-target="#VZInfoAnon" data-url="/Insolvence/Rizeni/@item.UrlId()">@item.SpisovaZnacka</a>
            }
        </td>
        <td>
            @if (item.Dluznici?.Count > 0)
            {
                foreach (var o in item.Dluznici.Take(2))
                {
                    <div>@Html.Raw(o.ToHtml())</div>
                }
                if (item.Dluznici.Count == 3)
                {
                    <div>@Html.Raw(item.Dluznici[2].ToHtml())</div>
                }
                else if (item.Dluznici.Count > 3)
                {
                    <div>@Devmasters.Core.Lang.Plural.Get(item.Dluznici.Count - 2, "a jeden další dlužník", "a další {0} dlužníci", "a dalších {0} dlužníků")</div>
                }
            }
        </td>
        <td>
            @if (item.Veritele?.Count > 0)
            {
                foreach (var o in item.Veritele.Take(2))
                {
                    <div>@Html.Raw(o.ToHtml())</div>
                }
                if (item.Veritele.Count == 3)
                {
                    <div>@Html.Raw(item.Veritele[2].ToHtml())</div>
                }
                else if (item.Veritele.Count > 3)
                {
                    <div>@Devmasters.Core.Lang.Plural.Get(item.Veritele.Count - 2, "a jeden další věřitel", "a další {0} věřitelé", "a dalších {0} věřitelů")</div>
                }
            }
        </td>
        <td>
            @(item.DatumZalozeni?.Date.ToString("d.MM.yyyy") ?? "Neznámé")
        </td>
        <td>
            @item.PosledniZmena.Date.ToString("d.MM.yyyy")
        </td>

        <td>
            <span title="@item.StavRizeniDetail()">@item.StavRizeni()</span>
        </td>
        <td>
            <span>@item.SoudFullName()</span>
        </td>

    </tr>
}

@helper FirmyHead(bool small = false)
{
    <tr>
        <th></th>
        <th>IČ</th>
        <th>Název</th>
        <th>Vznik</th>
        @if (small == false)
        {
            <th>Počet smluv v RS</th>
            <th>Hodnota smluv v RS</th>
        }
    </tr>
}

@helper FirmyRow(System.Security.Principal.IPrincipal user, HlidacStatu.Lib.Data.Firma rec, bool small = false)
{
    <tr>
        <td>
            @Util.AddBookmark(user, rec)
        </td>
        <td><a href="@rec.GetUrl(true)">@rec.ICO</a></td>
        <td><a href="@rec.GetUrl(true)">@Devmasters.Core.TextUtil.ShortenText(rec.Jmeno, 40, "...")</a></td>
        <td>@(rec.Datum_Zapisu_OR?.ToString("d.M.yyyy"))</td>
        @if (small == false)
        {
            <td>@HlidacStatu.Util.RenderData.NiceNumber(rec.Statistic().BasicStatPerYear.SummaryAfter2016().Pocet)</td>
            <td>@HlidacStatu.Util.RenderData.NicePrice(rec.Statistic().BasicStatPerYear.SummaryAfter2016().CelkemCena)</td>
        }

    </tr>
}
@helper SmlouvyHead(System.Security.Principal.IPrincipal user, bool small = false)
{
    <tr>
        <th></th>
        <th>&nbsp;</th>
        <th>Smlouva podepsána</th>
        @if (small == false)
        {
            <th>Smlouva zveřejněna</th>
        }
        <th>&nbsp;</th>
        <th title="Publikující smluvní strana">Plátce</th>
        <th title="Smluvní strana/y">Dodavatel/é</th>
        <th>Popis smlouvy</th>
        <th>Hodnota smlouvy</th>
        @if (user.IsInRole("BetaTester"))
        {
            <th>Klasifikace</th>
        }
    </tr>
}

@helper SmlouvyRow(System.Security.Principal.IPrincipal user, HlidacStatu.Lib.Data.Smlouva rec, HlidacStatu.Lib.Searching.SmlouvaSearchResult Model, bool small = false)
{
    var confLevel = rec.GetConfidenceLevel();
    string bgLevel = "", iconLevel = "";


    if (confLevel > HlidacStatu.Lib.Issues.ImportanceLevel.Formal)
    {
        bgLevel = HlidacStatu.Lib.Issues.Importance.GetCssClass(confLevel, true);
        iconLevel = HlidacStatu.Lib.Issues.Importance.GetIcon(confLevel);
    }

    <tr class="bg@(bgLevel)">
        <td>
            @{
                @Util.AddBookmark(user, rec)
            }
        </td>
        <td>@Html.Raw(iconLevel)</td>
        <td>@rec.datumUzavreni.ToShortDateString()</td>
        @if (small == false)
        {
            <td>
                @if (rec.platnyZaznam)
                {
                    @rec.casZverejneni.ToShortDateString()
                }
                else
                {
                    <span class="text-warning">Zneplatněná smlouva</span>
                }
            </td>
        }
        @if (small == false)
        {
            <td><a href="@rec.GetUrl(true,Model.Q)">Detail smlouvy</a></td>
        }
        else
        {
            <td><a href="@rec.GetUrl(true,Model.Q)">Detail</a></td>
        }
        <td>
            @if (!string.IsNullOrEmpty(rec.Platce?.ico))
            {
                <a href="/Subjekt/@rec.Platce.ico">@rec.Platce.nazev</a>
            }
            else
            {
                @(rec.Platce?.nazev)
            }
        </td>
        <td>
            @if (rec.Prijemce.Count() == 1)
            {
                if (!string.IsNullOrEmpty(rec.Prijemce[0].ico))
                {
                    <a href="/Subjekt/@rec.Prijemce[0].ico">@rec.Prijemce[0].nazev</a>
                }
                else
                {
                    @rec.Prijemce[0].nazev
                }
            }
            else
            {
                <ol>
                    @foreach (var subj in rec.Prijemce.Take(2))
                    {
                        if (!string.IsNullOrEmpty(subj.ico))
                        {
                            <li><a href="/Subjekt/@subj.ico">@subj.nazev</a></li>
                        }
                        else
                        {
                            <li>@subj.nazev</li>
                        }
                    }
                </ol>
                @Util.IfExists(rec.Prijemce.Count() > 2, HlidacStatu.Util.PluralForm.Get(rec.Prijemce.Count() - 2, "+{0} dodavatel;+{0} další dodavatelé;+{0} dalších dodavatelů"));
            }
        </td>
        <td>@rec.predmet</td>
        <td>@Html.Raw(rec.NicePrice(html: true))</td>
    @if (user.IsInRole("BetaTester"))
    {
    <td style="font-size:11px;letter-spacing: -0.4px;line-height:11px;">
        @if (rec.Classification?.Types?.Count() > 0)
        {
            foreach (var cl in rec.Classification.Types.OrderByDescending(m=>m.ClassifProbability))
            {
            <div style=""><b>@(cl.ClassifTypeName())</b>&nbsp;-&nbsp;@Html.Raw(cl.ClassifProbability.ToString("P4").Replace(" ","&nbsp;"))</div>
            }
        }
    </td>
    }

</tr>
}
@helper SmlouvyRowChyby(HlidacStatu.Lib.Data.Smlouva rec)
{
    var confLevel = rec.GetConfidenceLevel();
    string bgLevel = "", iconLevel = "";


    if (confLevel > HlidacStatu.Lib.Issues.ImportanceLevel.Formal)
    {
        bgLevel = HlidacStatu.Lib.Issues.Importance.GetCssClass(confLevel, true);
        iconLevel = HlidacStatu.Lib.Issues.Importance.GetIcon(confLevel);
    }
    if (rec.Issues != null && rec.Issues.Where(m => m.Public).Count() > 0)
    {
        <tr class="bg@(bgLevel)">
            <td class="joined">&nbsp;</td>
            <td colspan="5" class="joined">
                <h5>
                    Počet nedostatků: @(rec.Issues.Where(m => m.Public).Count())
                    <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseRec_@(rec.Id)" aria-expanded="false" aria-controls="collapseRec_@(rec.Id)">
                        Ukázat
                    </button>
                </h5>
                <div class="collapse issueCol" id="collapseRec_@(rec.Id)">

                    <ul class="list-group">

                        @foreach (var iss in rec.Issues.Where(m => m.Public).OrderByDescending(m => m.Importance))
                        {
                            if (iss.Public && iss.Importance != HlidacStatu.Lib.Issues.ImportanceLevel.NeedHumanReview)
                            {
                                <li title="@iss.Importance.ToNiceDisplayName()" class="list-group-item list-group-item@(HlidacStatu.Lib.Issues.Importance.GetCssClass(iss.Importance, true))">
                                    <span class="glyphicon glyphicon-eye-open" style="font-size:75%;" aria-hidden="true"></span>&nbsp;@iss.Title : @iss.TextDescription
                                </li>
                            }
                        }
                    </ul>
                </div>
            </td>
            <td class="joined">&nbsp;</td>
        </tr>
    }
}

@helper VZTableResult(System.Security.Principal.IPrincipal user, HttpRequestBase req,
            int maxItems, HlidacStatu.Lib.Searching.VerejnaZakazkaSearchData result, bool skipBookmark = false)
{
    <div class="table-new searching__watcher__table">
        @if (result.Total > maxItems)
        {
            <h4>Zobrazujeme @(Devmasters.Core.Lang.Plural.Get((int)maxItems, "první výsledek", "první {0} výsledky", "prvních {0} výsledků"))</h4>
        }
        <table class="table table-hover">
            <thead>
                @SearchResults.VZHeader(skipBookmark)
            </thead>
            <tbody>

                @foreach (var item in result.Result.Hits.Select(m => m.Source)
                                //.Where(m => !string.IsNullOrEmpty(m.NazevZakazky?.Trim()) && !string.IsNullOrEmpty(m.PopisZakazky?.Trim()))
                                .Take(maxItems))
                {
                    @SearchResults.VZRow(user, req, item, skipBookmark)
                }
            </tbody>
        </table>
        @if (result.Total > maxItems)
        {
            <div class="text-center">
                <a class="btn btn-default btn-default-new" href="@Url.Action("Hledat", "VZ", result.ToRouteValues(1))">zobrazit všechny nalezené </a>
            </div>
        }

    </div>
}
@helper VZHeader(bool skipBookmark = false)
{
    <tr>
        @if (skipBookmark == false)
        {
            <th>&nbsp;</th>
        }
        <th>Zakázka</th>
        <th>Poslední změna</th>
        <th>Lhůta pro nabídky</th>
        <th>Zadavatel</th>
        <th>Dodavatelé</th>
        <th>Název</th>
        <th>Cena</th>
    </tr>
}


@helper VZRow(System.Security.Principal.IPrincipal user, HttpRequestBase req, HlidacStatu.Lib.Data.VZ.VerejnaZakazka item, bool skipBookmark = false)
{
    <tr>
        @if (skipBookmark == false)
        {
            <td>
                @{
                    @Util.AddBookmark(user, item)
                }
            </td>
        }
        <td style="white-space: nowrap;">
            @if (HlidacStatu.Web.Framework.LimitedAccess.IsAuthenticatedOrSearchCrawler(req))
            {
                <a href="@item.GetUrl(true)">@item.EvidencniCisloZakazky</a>
            }
            else
            {
                <a href="#" data-toggle="modal" data-target="#VZInfoAnon" data-url="/zakazka/@item.Id">@item.EvidencniCisloZakazky</a>
            }
        </td>
        <td>
            @(item.PosledniZmena?.ToShortDateString())
        </td>
        <td>
            @(item.LhutaDoruceni?.ToShortDateString() ?? "neuvedena")
        </td>
        <td>
            @if (item.Zadavatel != null)
            {
                if (HlidacStatu.Util.DataValidators.CheckCZICO(item.Zadavatel.ICO))
                {
                    <a href="https://www.hlidacstatu.cz/subjekt/@item.Zadavatel.ICO">@item.Zadavatel.Jmeno</a>
                }
                else
                {
                    <span>@item.Zadavatel.Jmeno</span>
                }
            }
        </td>
        <td>
            @if (item.Dodavatele != null && item.Dodavatele.Count() > 0)
            {
                foreach (var d in item.Dodavatele.Take(2))
                {
                    if (HlidacStatu.Util.DataValidators.CheckCZICO(d.ICO))
                    {
                        <a href="https://www.hlidacstatu.cz/subjekt/@d.ICO">@d.Jmeno</a><br />
                    }
                    else
                    {
                        <span>@d.Jmeno</span><br />
                    }

                }
                @Util.IfExists(item.Dodavatele.Count() > 2, HlidacStatu.Util.PluralForm.Get(item.Dodavatele.Count() - 2, "+{0} dodavatel;+{0} další dodavatelé;+{0} dalších dodavatelů"));

            }
        </td>
        <td>
            @item.NazevZakazky
        </td>
        <td>
            <b>
                @if (item.KonecnaHodnotaBezDPH.HasValue)
                {
                    @Html.Raw(HlidacStatu.Util.RenderData.NicePrice(item.KonecnaHodnotaBezDPH.Value, html: true))
                }
                else if (item.OdhadovanaHodnotaBezDPH.HasValue)
                {
                    <span>odhad.cena </span> @Html.Raw(HlidacStatu.Util.RenderData.NicePrice(item.OdhadovanaHodnotaBezDPH.Value, html: true))
                }
                else
                {
                    <span></span>
                }
            </b>
        </td>
    </tr>

}


@helper DotaceHead()
{
    <tr>
        <th></th>
        <th>Příjemce</th>
        <th>IČO příjemce</th>
        <th>Název projektu</th>
        <th>Datum podpisu</th>
        <th>Částka</th>
        <th></th>
    </tr>
}

@helper DotaceRow(System.Security.Principal.IPrincipal user, HttpRequestBase request, HlidacStatu.Lib.Data.Dotace.Dotace item, string query = "")
{
<tr>
    <td>
        @{
            @Util.AddBookmark(user, item)
        }
    </td>
    <td class="text-nowrap">
        
        @(string.IsNullOrWhiteSpace(item.Prijemce.JmenoPrijemce) ?
                    item.Prijemce.ObchodniJmeno :
                    item.Prijemce.JmenoPrijemce)
    </td>
    <td>
        @if(item.Prijemce.Ico != "00000000")
        { 
            <a href="/subjekt/@item.Prijemce.Ico" title="Informace o subjektu">@item.Prijemce.Ico</a>
        }
</td>
    <td>
        @item.GetNazevDotace()
    </td>
    <td class="text-nowrap">
        @(item.DatumPodpisu?.Date.ToString("dd.MM.yyyy") ?? "Neznámé")
    </td>
    <td class="text-nowrap text-right">
        @HlidacStatu.Util.RenderData.NicePrice((decimal)item.DotaceCelkem)
        
        @if (item.PujckaCelkem > 0)
        {
            <br />
            <p class="text-muted">z toho @HlidacStatu.Util.RenderData.NicePrice((decimal)item.PujckaCelkem) je půjčka</p>
        }
    </td>
    <td class="text-nowrap">
        <a href="/dotace/detail/@item.IdDotace">Detail</a>
    </td>
</tr>
}