@model HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData

@using Devmasters.Core;
@using HlidacStatu.Lib.Analysis.KorupcniRiziko;
@using HlidacStatu.Web.Framework;
@using System.Linq;


@{
    string ukazatTxt = "ukázat detail";
    string schovatTxt = "schovat detail";

    int selectedYear = ViewBag.SelectedYear;

    int[] availableKindexYears = Model.roky
        .Where(r => r.KIndexAvailable)
        .Select(r => r.Rok)
        .OrderByDescending(r => r).ToArray();


    KIndexData.Annual currYear = Model.roky.Where(y => y.Rok == selectedYear).FirstOrDefault();


    HlidacStatu.Lib.Data.Firma firma = HlidacStatu.Lib.Data.Firmy.Get(ViewBag.ICO);
    ViewBag.Title = "K-index";
    ViewBag.SubTitle = "pro " + firma.Jmeno;
    ViewBag.HideTitle = true;


    decimal kindexValue = currYear.KIndex.Value; // currYear.KIndexVypocet.Radky.Sum(r => r.Hodnota * r.Koeficient);

    //kindexValue = 10.9m;

    Func<decimal, decimal, decimal, int> sirkaGrafu = (hodnota, koeficient, celek) =>
    {
        return (int)Math.Round((hodnota * koeficient / celek * 100), 0);
    };

    Func<decimal, int, int> kindexMeter = (kind, labelValue) =>
    {
        decimal constant = 3;
        decimal maxValue = 50;

        var calculation = kind / constant - labelValue;
        if (calculation <= 0)
            return 0;


        decimal widthPerc = Math.Ceiling(calculation * 100);

        int result = (labelValue == 5)
            ? (int)Math.Ceiling((widthPerc / ((maxValue - 5 * constant) / constant)))
            : (int)widthPerc;


        return (result > 100) ? 100 : result;

//return (int)Math.Round(((kind / constant) - labelValue) *100 ,0);
};
}

@section scripts
{
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    @Scripts.Render("~/bundles/highcharts")
    <script src="/scripts/highcharts-6/highcharts-more.js"></script>
    <script src="/scripts/highcharts-6/modules/heatmap.js"></script>
    <script src="/scripts/highcharts-6/modules/treemap.js"></script>
    <script>
        // Radialize the colors
        Highcharts.setOptions({
            colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
                return {
                    radialGradient: {
                        cx: 0.5,
                        cy: 0.3,
                        r: 0.7
                    },
                    stops: [
                        [0, color],
                        [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
                    ]
                };
            })
        });

    function showHelp(btn, id) {
        var visible = $(btn).text().includes('@ukazatTxt');
        if (visible) {
            $(id).show(300);
            $(btn).text('@schovatTxt');
        }
        else {
            $(id).hide(300);
            $(btn).text('@ukazatTxt');
        }
    }
    </script>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>K-Index podrobně</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<style>

    .infoshow, .infoshowhide {
        display: none;
    }

        .infoshow:checked ~ .infoshowhide {
            display: block;
        }

    .kmeter {
        margin: 0px;
        padding: 30px;
        height: 110px;
        width: 620px;
        border: solid grey 0px;
    }

    .kframe {
        position: relative;
        width: 60px;
        border-top: solid 6px;
        border-bottom: solid 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        float: left;
        margin-right: 1px;
        height: 100%;
    }

    .kmark {
        color: #909090;
        font-weight: bold;
        position: relative;
        z-index: 100;
        background: white;
        display: inline-block;
        top: -3px;
        line-height: 10px;
        font-size: 13px;
        font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
        padding: 0 3px 0 3px;
        margin: 0;
    }

    .kmarkvalue {
        color: #000;
        font-weight: bold;
        position: relative;
        z-index: 100;
        background: white;
        display: inline-block;
        top: -3px;
        line-height: 10px;
        font-size: 13px;
        font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
        padding: 0 3px 0 3px;
        margin: 0;
    }

    .textover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        z-index: 2;
        text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 4px #000;
        -webkit-text-shadow: 0 0 4px #000;
    }

    .totalnumber {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        z-index: 5;
    }

    .apart {
        border-color: #002d5a;
        border-left: #002d5a solid 6px;
        padding-left: 5px;
    }

    .bpart {
        border-color: #0064b4;
    }

    .cpart {
        border-color: #00a5ff;
    }

    .dpart {
        border-color: #9099a3;
    }

    .epart {
        border-color: #f0aa00;
    }

    .fpart {
        border-color: #d44820;
        border-right: #d44820 solid 6px;
        padding-right: 5px;
        width: 240px;
    }

    .kfill {
        position: relative;
        height: 100%;
    }

    .afill {
        background-color: #002d5a;
    }

    .bfill {
        background-color: #0064b4;
    }

    .cfill {
        background-color: #00a5ff;
    }

    .dfill {
        background-color: #9099a3;
    }

    .efill {
        background-color: #f0aa00;
    }

    .ffill {
        background-color: #d44820;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h1 class="new-title text-left">
            @if (Model as HlidacStatu.Lib.Data.Bookmark.IBookmarkable == null) //ViewBag.ShowBookmarkUrl == true)
            {
                @WebUtil.AddBookmarkUrl(this.User, ViewBag.Title + " " + ViewBag.SubTitle, Request.Url.AbsoluteUri, "font-size:24px;vertical-align:top;") }
            else
            {
                @WebUtil.AddBookmark(this.User, Model)}
            @ViewBag.Title
        </h1>
    </div>
</div>

@if (currYear.KIndexAvailable == false)
{
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <h2 style="padding-top:0;margin-top:0;margin-bottom:30px"><b>@firma.Jmeno</b> za rok <b>@ViewBag.SelectedYear</b></h2>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-10">
                    <h2>
                        K-Index pro tento rok jsme nespočítali, protože organizace má v registru smluv příliš málo smluv.
                    </h2>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="jumbotron">
        <div class="container">
            <h2 style="padding-top:0;margin-top:0;margin-bottom:30px"><b>@firma.Jmeno</b> za rok <b>@ViewBag.SelectedYear</b></h2>
            <div class="row">
                <div class="col-sm-2">
                    @WebKidx.KIndexIconStyle(currYear.KIndexLabel, "width:100px")
                </div>
                <div class="col-sm-10">
                    <h2>
                        XXXXX Úsporné a ekonomické hospodaření, vysoká důvěra, transparentnost, zveřejňují i smlouvy do 50 000 Kč
                    </h2>
                </div>
            </div>
            @if (Model.roky.Any(m => m.KIndexAvailable))
            {
                <div class="row" style="margin-top:15px">
                    <div class="col-sm-12">
                        <h4>
                            Spočítaný K-Index pro další roky:
                            @foreach (int year in availableKindexYears.OrderBy(m => m))
                            {
                                var kidx = Model.roky.Where(y => y.Rok == year).FirstOrDefault();
                                string postfix = year == availableKindexYears.Max() ? "." : ", ";

                                if (kidx != null && kidx.KIndexAvailable && year != selectedYear)
                                {
                                    <span><a href="@ViewBag.ICO?rok=@year">@WebKidx.KIndexIconStyle(kidx.KIndexLabel, "padding-left:6px;width:22px") v @year</a>@(postfix)</span>

                                }
                            }
                        </h4>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="bs-callout bs-callout-primary" style="padding-bottom:30px;">
    <h4>Rating K-index</h4>
    <p>
        Veřejná správa a státní firmy hospodaří s prostředky občanů ČR. Každá organizace se chová jinak,
        dodržuje zákon, metodiky a doporučení v různé míře. Zanalyzovali jsme více než
        @HlidacStatu.Util.RenderData.NiceNumber((decimal)Math.Round(HlidacStatu.Lib.StaticData.BasicStatisticData.Get()[0] / 10000) * 10000) smluv, dvacet tisíc organizací a
        zanalyzovali jejich transparentnost, dodržování zákona a nakládání s veřejnými penězi.
    </p>
    <p>
        Hlídač státu si klade za cíl zpřístupnit složité a nepřehledné hospodaření veřejné správy široké veřejnosti a proto výsledky této analýzy
        zveřejňujeme ve formě <b>ratingu - Indexu korupčního rizika</b>.
    </p>
    <p>
        Index korupčního rizika - zkráceně <b>K-Index</b>, je ukazatel, který ukazuje míru rizikových faktorů,
        které jsou spojeny s nehospodárným nakládáním s veřejnými penězi a rizikem korupce.
    </p>
    <p>
        Organizace s K-indexem @WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px") jsou nejlepší, nejvíce transparentní a s nejnižšími riziky.
        Organizace s K-Index @WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.F, "15px") patří mezi nejhorší.

    </p>
    <p>
        Stupnice K-Indexu
        @WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px")@WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.B, "15px")@WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.C, "15px")@WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.D, "15px")@WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.E, "15px")@WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.F, "15px")
        je hrubá pro snadnou přehlednost, pro podrobnější srovnání a porovnání vždy ukazujeme i přesnou číselnou hodnotu K-indexu a také způsob jeho výpočtu.
    </p>
</div>

@if (currYear.KIndexAvailable == false)
{
    return;
}
<hr />

<h2>Podrobný výpočet K-Indexu pro organizaci @(firma.Jmeno)</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div>
            Celková hodnota K-indexu je <strong>@kindexValue.ToString("F2") bodů</strong>. To odpovídá výsledné známce
            @WebKidx.KIndexIcon(currYear.KIndexLabel, "15px") a @(Statistics.PercIntervalShortText(selectedYear, currYear.KIndex.Value)).

        </div>
        <div class="kmeter" style="padding-top:20px;margin-top:10px;">
            <div class="kframe apart">
                <div class="kfill">
                    <div class="textover">A</div>
                    <div class="kfill afill" style="width: @( kindexMeter(kindexValue,0) )%"></div>
                </div>
                <div class="kmark" style="left:42px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[1]</div>
            </div>
            <div class="kframe bpart">
                <div class="kfill">
                    <div class="textover">B</div>
                    <div class="kfill bfill" style="width: @( kindexMeter(kindexValue,1) )%"></div>
                </div>
                <div class="kmark" style="left:53px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[2]</div>
            </div>
            <div class="kframe cpart">
                <div class="kfill">
                    <div class="textover">C</div>
                    <div class="kfill cfill" style="width: @( kindexMeter(kindexValue,2) )%"></div>
                </div>
                <div class="kmark" style="left:53px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[3]</div>
            </div>
            <div class="kframe dpart">
                <div class="kfill">
                    <div class="textover">D</div>
                    <div class="kfill dfill" style="width: @( kindexMeter(kindexValue,3) )%"></div>
                </div>
                <div class="kmark" style="left:50px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[4]</div>
            </div>
            <div class="kframe epart">
                <div class="kfill">
                    <div class="textover">E</div>
                    <div class="kfill efill" style="width: @( kindexMeter(kindexValue,4) )%"></div>
                </div>
                <div class="kmark" style="left:48px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[5]</div>
            </div>
            <div class="kframe fpart">
                <div class="kfill">
                    <div class="textover" style="justify-content: left; left: 23px;">F</div>
                    <div class="kfill ffill" style="width: @( kindexMeter(kindexValue,5) )%"></div>
                    <div class="kmark" style="left:213px;">50+</div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bs-callout bs-callout-success" style="padding-bottom:30px;">
    <p>
        Obdobně jako u písmenného vyjádření, kde @WebKidx.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px") je nejlepší hodnocení,
        v číselném vyjádření je nejlepší hodnota <b>0</b>.
        Nejhorší hodnota může být teoreticky 120, fakticky jen zřídka překročí hodnotu <b>50</b>.
    </p>
    <p>
        Číselná hodnota K-index je součtem bodů jednotlivých parametrů, které prezentujeme dále.
        Každá parametrů má v rámci indexu předem definovanou váhu, kterou také najdete v tabulce níže.
    </p>
</div>
<div class="row">
    <div class="col-sm-12">

        <table class="table table-no-border">
            <tbody>
                <tr>
                    <td style="font-size:15px;">
                        <b>Parametr</b><br />
                        <a class="btn btn-info btn-sm helpKidxBtn" role="button" data-toggle="collapse" href="#" onclick="javascript:CollapseAll();return false;" aria-expanded="true">
                            Skrýt nápovědu
                        </a>
                    </td>
                    <td style="font-size: 15px; text-align: right">
                        <b>Hodnota parametru</b>
                    </td>
                    <td style="font-size: 15px; text-align: right">
                        <b>Důležitost<br />v&nbsp;rámci&nbsp;celku</b>
                    </td>
                    <td style="font-size: 15px; text-align: right">
                        <b>
                            Počet&nbsp;bodů<br />
                            <span class="small">(hodnota&nbsp;x&nbsp;váha)</span>
                        </b>
                    </td>
                </tr>
                @foreach (var radek in currYear.KIndexVypocet.Radky
                    .OrderByDescending(r => r.Koeficient)
                    .ThenByDescending(r => r.VelicinaLongName))
                {
                    <tr>
                        <td style="font-size:15px;">
                            @radek.VelicinaLongName <small><a href="#detail_@((KIndexData.KIndexParts)radek.Velicina)" onclick="showHelp(this,'#detail_@(radek.Velicina)');return false;">@ukazatTxt</a></small>
                        </td>
                        <td class="number" style="font-size: 15px; vertical-align: top">
                            @radek.Hodnota.ToString("F4")
                            <div class="small" style="font-family: Cabin, sans-serif;">
                                @(Statistics.PercIntervalShortText(selectedYear, (KIndexData.KIndexParts)radek.Velicina, radek.Hodnota))
                            </div>
                        </td>
                        <td class="number" style="font-size: 15px; vertical-align: top">
                            @radek.Koeficient.ToString("F0")
                        </td>
                        <td class="number" style="font-size: 15px;vertical-align: top; color: @(KIndexData.KIndexLabelColor(KIndexData.KIndexLabelForPart((KIndexData.KIndexParts)radek.Velicina, radek.Hodnota)))">
                            @((radek.Koeficient * radek.Hodnota).ToString("F2"))
                        </td>
                    </tr>
                    <tr style="border-bottom:dotted 2px #E0E6ED">
                        <td colspan="4" style="padding:0">
                            <div id="detail_@radek.Velicina" style="display:none">
                                <div class="row">
                                    <div class="col-xs-11 col-lg-offset-1 box-stats" style="background-color:#f9f9fe">
                                        @switch (radek.VelicinaPart)
                                        {
                                            case KIndexData.KIndexParts.PercentBezCeny:
                                            case KIndexData.KIndexParts.PercSeZasadnimNedostatkem:
                                            case KIndexData.KIndexParts.PercSmluvUlimitu:
                                            case KIndexData.KIndexParts.PercNovaFirmaDodavatel:
                                            case KIndexData.KIndexParts.PercUzavrenoOVikendu:
                                            case KIndexData.KIndexParts.PercSmlouvySPolitickyAngazovanouFirmou:
                                                @ParametrDetail(currYear, radek.VelicinaPart)
                                                break;
                                            case KIndexData.KIndexParts.KoncentraceDodavateluObory:
                                                @ParametrDetail(currYear, radek.VelicinaPart, false)
                                                break;

                                            case KIndexData.KIndexParts.CelkovaKoncentraceDodavatelu:
                                            case KIndexData.KIndexParts.KoncentraceDodavateluBezUvedeneCeny:
                                            case KIndexData.KIndexParts.KoncentraceDodavateluCenyULimitu:
                                                @KoncentraceDetail(currYear, radek.VelicinaPart)
                                                break;
                                            case KIndexData.KIndexParts.PercSmlouvyPod50kBonus:
                                                @ParametrDescr(radek.VelicinaPart, false, "well")
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                }
                <tr>
                    <td colspan="5">
                        Jednotlivé hodnoty všech parametrů se vynásobí vahou (důležitostí) parametru a výsledné body se sečtou
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div style="font-weight:bold;font-size:130%">Součet bodů = K-Index</div>
                    </td>
                    <td style="font-weight:bold;font-size:130%" class="number">
                        <b>@kindexValue.ToString("F2")</b>
                        <div style="font-family: Cabin, sans-serif;">
                            @(Statistics.PercIntervalShortText(selectedYear, currYear.KIndex.Value))
                        </div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-info btn-sm helpKidxBtn" role="button" data-toggle="collapse" href="#" onclick="javascript:CollapseAll();return false;" aria-expanded="true">
            Skrýt nápovědu
        </a>

    </div>
</div>

<hr style="margin-top:50px" />


@helper ParametrDetail(KIndexData.Annual currYear, KIndexData.KIndexParts part, bool percentValue = true)
{
    KIndexData.VypocetDetail.Radek vradek = currYear.KIndexVypocet.Radky.Where(m => m.VelicinaPart == part).First();
    <div class="row">
        <div class="col-xs-12">
@if (percentValue)
{
            <h4>
                Parametr <b>@vradek.VelicinaLongName</b> přesně odpovídá procentuálnímu zastoupení v rámci všech smluv organizace na rok @currYear.Rok.
                Tzn. že hodnota parametru @(vradek.Hodnota.ToString("F4")) odpovídá @(vradek.Hodnota.ToString("P2")) podílu těchto smluv v rámci všech smluv.
            </h4>
}
            <h4>
                Průměrný počet bodů parametru "@part.ToNiceDisplayName()" je
                <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Average(currYear.Rok, part))</b>.
                Nejlepších 10% organizací má tento parametr menší než <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Percentil(10, currYear.Rok, part))</b>,
                10% nejhorších vyšší než <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Percentil(90, currYear.Rok, part))</b>
            </h4>
        </div>
    </div>
    @ParametrDescr(vradek.VelicinaPart, false, "well")

}


@helper KoncentraceDetail(KIndexData.Annual currYear, KIndexData.KIndexParts part)
{
    KIndexData.VypocetDetail.Radek vradek = currYear.KIndexVypocet.Radky.Where(m => m.VelicinaPart == part).First();
    <div class="row">
        <div class="col-xs-12">
            <h4>
                Průměrný počet bodů parametru "@part.ToNiceDisplayName()" je
                <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Average(currYear.Rok, part))</b>.
                Nejlepších 10% organizací má tento parametr menší než <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Percentil(10, currYear.Rok, part))</b>,
                10% nejhorších vyšší než <b>@HlidacStatu.Util.RenderData.NiceNumber(Statistics.Percentil(90, currYear.Rok, part))</b>
            </h4>
        </div>
    </div>
    @ParametrDescr(vradek.VelicinaPart, false, "well")
    KoncentraceDodavateluIndexy koncentrace = null;
    switch (part)
    {
        case KIndexData.KIndexParts.CelkovaKoncentraceDodavatelu:
            koncentrace = currYear.CelkovaKoncentraceDodavatelu;
            break;
        case KIndexData.KIndexParts.KoncentraceDodavateluBezUvedeneCeny:
            koncentrace = currYear.KoncentraceDodavateluBezUvedeneCeny;
            break;
        case KIndexData.KIndexParts.KoncentraceDodavateluCenyULimitu:
            koncentrace = currYear.KoncentraceDodavateluCenyULimitu;
            break;
        default:
            break;
    }

    if (koncentrace?.TopDodavatele?.Count() > 0)
    {
        List<Tuple<string, decimal>> data = koncentrace.TopDodavatele
                        .OrderByDescending(m => m.HodnotaSmluv)
                        .Take(7)
                        .Select(m => new Tuple<string, decimal>(HlidacStatu.Lib.Data.Firmy.GetJmeno(m.Ico), m.HodnotaSmluv))
                        .ToList();
        if (koncentrace.HodnotaSmluvProVypocet - data.Sum(m => m.Item2) > 0)
        {
            data.Add(new Tuple<string, decimal>("ostatní", koncentrace.HodnotaSmluvProVypocet - data.Sum(m => m.Item2)));
        }
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                @UtilChart.SemiCircleDonut(data, "Koncentrace dodavatelů", "Podíl", 240)
            </div>
            <div class="col-xs-12 col-sm-6">

                <table class="table table-new table-new--dotted table-hover">
                    <thead>
                        <tr>
                            <th>Dodavatel</th>
                            <th>Počet smluv</th>
                            <th>Objem v Kč</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var souh in koncentrace.TopDodavatele.OrderByDescending(m => m.HodnotaSmluv).Take(10))
                        {
                            <tr>
                                <td>@HlidacStatu.Lib.Data.Firmy.GetJmeno(souh.Ico)</td>
                                <td class="number">@HlidacStatu.Util.RenderData.NiceNumber(souh.PocetSmluv)</td>
                                <td class="number text-nowrap">@HlidacStatu.Util.RenderData.NicePrice(souh.HodnotaSmluv)</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>


    }
}

@helper ParametrDescr(KIndexData.KIndexParts part, bool autohide = true, string _class = "bs-callout bs-callout-info small", string style = "")
{

    string descr = "";
    switch (part)
    {
        case KIndexData.KIndexParts.PercentBezCeny:
            descr = "Procentní podíl smluv uzavřených se soukromými společnostmi za kalendářní rok, které mají skrytou cenu. Cenu je možné skrýt pouze z důvodu bankovního a obchodního tajemství" +
                "a tato výjimka je velmi často zneužívána pro utajení hodnoty smlouvy. " +
                "Hodnota <b>0</b> znamená, že žádná smlouva nemá skrytou cenu, hodnota <b>0.5</b> znamená polovinu smlouv se skrytou cenou.";
            break;
        case KIndexData.KIndexParts.PercSeZasadnimNedostatkem:
            descr = "Procentní podíl smluv, u kterých jsme při analýze našli zásadní nedostatky. " +
                "Hodnota <b>0</b> znamená, že žádná smlouva nemá zásadní nedostatky, hodnota <b>0.5</b> znamená polovinu smluv se zásadními nedostatky.";
            break;
        case KIndexData.KIndexParts.CelkovaKoncentraceDodavatelu:
            descr = "Koncentrace dodavatelů ukazuje míru nerovnoměrného rozdělení peněz mezi dodavatele. Neboli - zda malé množství dodavatelů dostává většinu peněz." +
                $"Koncentraci dodavatelů počítáme pouze pro soukromé dodavatele, tzn. pouze pro smlouvy mezi organizací a soukromými dodavateli. " +
                "Pro výpočet používáme upravený <b>Herfindahl Hirschman Index</b> a způsob výpočtu podrobně popisujeme v metodice. " +
                "Hodnota <b>0</b> znamená  ideální stav, ideální konkurenci mezi dodavateli, neboli že všichni dodavatelé mají pouze 1 smlouvu ve stejné výši." +
                "Hodnota <b>od 0.25 do 1.0</b> znamená vysokou koncentraci dodavatelů až monopolní postavení jednoho z nich.";
            break;
        case KIndexData.KIndexParts.KoncentraceDodavateluBezUvedeneCeny:
            descr = "Koncentrace dodavatelů ukazuje míru nerovnoměrného rozdělení peněz mezi dodavatele. Neboli - zda malé množství dodavatelů dostává většinu peněz." +
                $"V tomto parametru zkoumáme koncentraci dodavatelů u smluv, které mají utajenou cenu. Jinak řečeno - jestli k utajování ceny nedochází pouze u některý vybraných dodavatelů. " +
                "Hodnota <b>0</b> znamená  ideální stav." +
                "Hodnota <b>od 0.25 do 1.0</b> znamená, že utajování ceny se týká jen vybraného okruhu dodavatelů.";
            break;
        case KIndexData.KIndexParts.PercSmluvUlimitu:
            descr = "Procentní podíl smluv, jejichž hodnota pouze malou hodnotu nižší než je zákonný limit, podle které by se zakázka musela soutěžit podle zákona o zadávání veřejných zakázek. " +
                "Typicky se jedná o limit <b>6 miliónů</b> korun pro stavební zakázky a <b>2 miliony</b> pro ostatní." +
                "Hodnota <b>0</b> znamená, že žádná smlouva není u limitu, hodnota <b>1.0</b> znamená všechny smluvy u limitu.";
            break;
        case KIndexData.KIndexParts.KoncentraceDodavateluCenyULimitu:
            descr = "Koncentrace dodavatelů ukazuje míru nerovnoměrného rozdělení peněz mezi dodavatele. Neboli - zda malé množství dodavatelů dostává většinu peněz." +
                $"V tomto parametru zkoumáme koncentraci dodavatelů u smluv, které mají cenu u limitu veřejných zakázek. " +
                $"Jinak řečeno - jestli se obcházení zákona o zadávání veřejných zakázek netýka pouze některých vybraných dodavatelů. " +
                "Hodnota <b>0</b> znamená  ideální stav." +
                "Hodnota <b>od 0.25 do 1.0</b> znamená, že ceny smluv u limitu VZ se týká jen vybraného okruhu dodavatelů.";
            break;
        case KIndexData.KIndexParts.PercNovaFirmaDodavatel:
            descr = "Procentní podíl smluv, které jsou uzavřeny z nově založenou firmou. " +
                "Hodnota <b>0</b> znamená, že žádná smlouva takto uzavřená není, hodnota <b>0.5</b> znamená polovinu smluv uzavřenou s novými firmami.";
            break;
        case KIndexData.KIndexParts.PercUzavrenoOVikendu:
            descr = "Procentní podíl smluv, které jsou podepsány o víkendu nebo státním svátku. Státní úřady obvykle neuzavírají smlouvy mimo pracovní dny. Historicky se u veřejně známých kauz stávalo, " +
                "že právě ty problematické smlouvy byly uzavřeny mimo pracovní den, aby se snížila možnost třetích stran na to reagovat. " +
                "Takto Ministerstvo dopravy obešlo konkurenci a <a href='https://www.idnes.cz/ekonomika/doprava/stat-obesel-skytoll-podpisem-smlouvy-s-kapschem-v-nedeli.A160830_175428_eko-doprava_suj' onclick=\"return trackOutLink(this, 'kindex-detail'); \">uzavřelo smlouvu za 5 miliard Kč v neděli</a>. " +

                "Hodnota <b>0</b> znamená, že žádná smlouva takto uzavřená není, hodnota <b>0.5</b> znamená polovinu smluv uzavřenou mimo pracovní den.";
            break;
        case KIndexData.KIndexParts.PercSmlouvySPolitickyAngazovanouFirmou:
            descr = "Procentní podíl smluv, které jsou uzavřeny s firmou, která má vazbu na politiku, neboli sponzorovala politickou stranu, " +
                "nebo je přímo či nepřímo vlastněna sponzorem politické strany anebo ji přímo či nepřímo vlastní politik. " +
                "Hodnota <b>0</b> znamená, že žádná smlouva s takovou firmou uzavřená není, hodnota <b>0.5</b> znamená, že polovina smluv je uzavřena s takovými firmami.";
            break;
        case KIndexData.KIndexParts.KoncentraceDodavateluObory:
            descr = "Koncentrace dodavatelů ukazuje míru nerovnoměrného rozdělení peněz mezi dodavatele. Neboli - zda malé množství dodavatelů dostává většinu peněz." +
                "Celkovou koncentraci dodavatelů počítáme v jiném parametru. Zde analyzujeme, zda nedochází ke koncentraci dodavatelů pouze v některých oblastech. " +
                "Např. pouze v oblasti IT, právní služeb apod. Způsob výpočtu podrobně popisujeme v metodice K-Indexu." +
                "Hodnota <b>0</b> znamená  ideální stav, ideální konkurenci mezi dodavateli, neboli že všichni dodavatelé mají pouze 1 smlouvu ve stejné výši." +
                "Hodnota <b>od 0.25 do 1.0</b> znamená vysokou koncentraci dodavatelů až monopolní postavení jednoho z nich v nejdůležitějších oborech.";
            break;
        case KIndexData.KIndexParts.PercSmlouvyPod50kBonus:
            descr = "Bonus (proto má zápornou hodnotu) pro organizace, které jsou transparetní nad rámec zákona. Pokud vkládají do registru smluv smlouvy pod hodnotu 50.000 Kč (což nemusí), mohou dostat bonus. " +
                "Pokud je podíl smluv pod 50.000 Kč o 25% vyšší než je obvyklé (průměr celého registru smluv), pak mají bonus 0.25 bodů. Pokud je podíl vyšší o více než 50%, pak je bonus 0.5 bodů. Pokud je podíl vyšší o více než 75%, pak je bonus 0.75 bodů.";
            break;
        default:
            break;
    }

    if (!string.IsNullOrEmpty(descr))
    {
        <div class="@WebUtil.IfExists(autohide,"collapse helpKidx")" aria-expanded="true">
            <div class="@_class" style="@style">
                @Html.Raw(descr)
            </div>
        </div>
    }


}
