@model HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.Annual
@using HlidacStatu.Lib.Analysis.KorupcniRiziko

@{
    HlidacStatu.Lib.Data.Firma firma = HlidacStatu.Lib.Data.Firmy.Get(ViewBag.ICO);
    ViewBag.Title = "K-index";
    ViewBag.SubTitle = "pro " + firma.Jmeno;

    decimal kindexValue = Model.KIndex.Value; // Model.KIndexVypocet.Radky.Sum(r => r.Hodnota * r.Koeficient);

    Func<decimal, decimal, decimal, int> sirkaGrafu = (hodnota, koeficient, celek) =>
    {
        return (int)Math.Round((hodnota * koeficient / celek * 100), 0);
    };

    Func<decimal, int, int> kindexMeter = (kind, labelValue) =>
    {
        decimal constant = 3;
        decimal maxValue = 60;

        var calculation = kind / constant - labelValue;
        if (calculation <= 0)
            return 0;


        decimal widthPerc = Math.Ceiling(calculation * 100);

        int result = (labelValue == 5)
            ? (int)Math.Ceiling((widthPerc / ((maxValue - 5 * constant) / constant)))
            : (int)widthPerc;


        return (result > 100) ? 100 : result;

//return (int)Math.Round(((kind / constant) - labelValue) *100 ,0);
};
}

@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>K-Index podrobně</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<style>

    .infoshow, .infoshowhide {
        display: none;
    }

        .infoshow:checked ~ .infoshowhide {
            display: block;
        }

    .kmeter {
        margin: 0px;
        padding: 30px;
        height: 110px;
        width: 620px;
        border: solid grey 0px;
    }

    .kframe {
        position: relative;
        width: 60px;
        border-top: solid 6px;
        border-bottom: solid 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        float: left;
        margin-right: 1px;
        height: 100%;
    }

    .kmark {
        color: #909090;
        font-weight: bold;
        position: relative;
        z-index: 100;
        background: white;
        display: inline-block;
        top: -3px;
        line-height: 10px;
        font-size: 13px;
        font-family: "Lucida Console", Monaco, "Courier New", Courier, monospace !important;
        padding: 0 3px 0 3px;
        margin: 0;
    }

    .textover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        z-index: 2;
        text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 4px #000;
        -webkit-text-shadow: 0 0 4px #000;
    }

    .totalnumber {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        z-index: 5;
    }

    .apart {
        border-color: #002d5a;
        border-left: #002d5a solid 6px;
        padding-left: 5px;
    }

    .bpart {
        border-color: #0064b4;
    }

    .cpart {
        border-color: #00a5ff;
    }

    .dpart {
        border-color: #9099a3;
    }

    .epart {
        border-color: #f0aa00;
    }

    .fpart {
        border-color: #d44820;
        border-right: #d44820 solid 6px;
        padding-right: 5px;
        width: 240px;
    }

    .kfill {
        position: relative;
        height: 100%;
    }

    .afill {
        background-color: #002d5a;
    }

    .bfill {
        background-color: #0064b4;
    }

    .cfill {
        background-color: #00a5ff;
    }

    .dfill {
        background-color: #9099a3;
    }

    .efill {
        background-color: #f0aa00;
    }

    .ffill {
        background-color: #d44820;
    }
</style>

<h2>
    <small>
        K-index za rok
        @foreach (int year in ViewBag.AvailableKindexYears)
        {
            if (year == ViewBag.SelectedYear)
            {
                <span>&nbsp;&nbsp;@year</span> }
            else
            {
                <span>&nbsp;&nbsp;<a href="@ViewBag.ICO?rok=@year">@year</a></span>
            }
        }
    </small>
</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                @WebUtil.KIndexIconStyle(Model.KIndexLabel, "width:100px")
            </div>
            <div class="col-sm-10">
                <h2>
                    Úsporné a ekonomické hospodaření, vysoká důvěra, transparentnost, zveřejňují i smlouvy do 50 000 Kč
                </h2>
            </div>
        </div>
    </div>
</div>

<div class="bs-callout bs-callout-primary" style="padding-bottom:30px;">
    <h4>Rating K-index</h4>
    <p>
        Veřejná správa a státní firmy hospodaří s prostředky občanů ČR. Každá organizace se chová jinak,
        dodržuje zákon, metodiky a doporučení v různé míře. Zanalyzovali jsme více než
        @HlidacStatu.Util.RenderData.NiceNumber((decimal)Math.Round(HlidacStatu.Lib.StaticData.BasicStatisticData.Get()[0] / 10000) * 10000) smluv, dvacet tisíc organizací a
        zanalyzovali jejich transparentnost, dodržování zákona a nakládání s veřejnými penězi.
    </p>
    <p>
        Hlídač státu si klade za cíl zpřístupnit složité a nepřehledné hospodaření veřejné správy široké veřejnosti a proto výsledky této analýzy
        zveřejňujeme ve formě <b>ratingu - Indexu korupčního rizika</b>.
    </p>
    <p>
        Index korupčního rizika - zkráceně <b>K-Index</b>, je ukazatel, který ukazuje míru rizikových faktorů,
        které jsou spojeny s nehospodárným nakládáním s veřejnými penězi a rizikem korupce.
    </p>
    <p>
        Organizace s K-indexem @WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px") jsou nejlepší, nejvíce transparentní a s nejnižšími riziky.
        Organizace s K-Index @WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.F, "15px") patří mezi nejhorší.

    </p>
    <p>
        Stupnice K-Indexu
        @WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px")@WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.B, "15px")@WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.C, "15px")@WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.D, "15px")@WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.E, "15px")@WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.F, "15px")
        je hrubá pro snadnou přehlednost, pro podrobnější srovnání a porovnání vždy ukazujeme i přesnou číselnou hodnotu K-indexu a také způsob jeho výpočtu.
    </p>
</div>


<hr />

<h2>Podrobný výpočet K-Indexu pro organizaci @(firma.Jmeno)</h2>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div>
            Celková hodnota K-indexu je <strong>@kindexValue.ToString("F2") bodů</strong>. To odpovídá výsledné známce
            @WebUtil.KIndexIcon(Model.KIndexLabel, "15px").
        </div>
        <div class="kmeter" style="padding-top:20px;">
            <div class="kframe apart">
                <div class="kfill">
                    <div class="textover">A</div>
                    <div class="kfill afill" style="width: @( kindexMeter(kindexValue,0) )%"></div>
                </div>
                <div class="kmark" style="left:42px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[1]</div>
            </div>
            <div class="kframe bpart">
                <div class="kfill">
                    <div class="textover">B</div>
                    <div class="kfill bfill" style="width: @( kindexMeter(kindexValue,1) )%"></div>
                </div>
                <div class="kmark" style="left:53px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[2]</div>
            </div>
            <div class="kframe cpart">
                <div class="kfill">
                    <div class="textover">C</div>
                    <div class="kfill cfill" style="width: @( kindexMeter(kindexValue,2) )%"></div>
                </div>
                <div class="kmark" style="left:53px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[3]</div>
            </div>
            <div class="kframe dpart">
                <div class="kfill">
                    <div class="textover">D</div>
                    <div class="kfill dfill" style="width: @( kindexMeter(kindexValue,3) )%"></div>
                </div>
                <div class="kmark" style="left:50px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[4]</div>
            </div>
            <div class="kframe epart">
                <div class="kfill">
                    <div class="textover">E</div>
                    <div class="kfill efill" style="width: @( kindexMeter(kindexValue,4) )%"></div>
                </div>
                <div class="kmark" style="left:48px;">@HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.KIndexLimits[5]</div>
            </div>
            <div class="kframe fpart">
                <div class="kfill">
                    <div class="textover" style="justify-content: left; left: 23px;">F</div>
                    <div class="kfill ffill" style="width: @( kindexMeter(kindexValue,5) )%"></div>
                    <div class="kmark" style="left:213px;">30+</div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bs-callout bs-callout-success" style="padding-bottom:30px;">
    <p>
        Přesná hodnota K-indexu je <b>@WebUtil.KIndexIcon(Model.KIndexLabel, "15px")@HlidacStatu.Util.RenderData.NiceNumber(kindexValue) bodů</b>.
    </p>
    <p>
        Obdobně jako u písmenného vyjádření, kde @WebUtil.KIndexIcon(KIndexData.KIndexLabelValues.A, "15px") je nejlepší hodnocení,
        v číselném vyjádření je nejlepší hodnota <b>0</b>.
        Nejhorší hodnota může být teoreticky 120, fakticky jen zřídka překročí hodnotu <b>50</b>.
</p>
    <p>
        Číselná hodnota K-index je součtem bodů jednotlivých parametrů, které prezentujeme dále.
        Každá parametrů má v rámci indexu předem definovanou váhu, kterou také najdete v tabulce níže.
    </p>
</div>

<div class="col-md-12">
    <table class="table table-new table-new--dotted table-hover">
        <tbody>
            <tr>
                <td>
                    <b>Kritérium</b>
                </td>
                <td style="text-align:right">
                    <b>Hodnota parametru</b>
                </td>
                <td style="text-align:right">
                    <b>Důležitost<br /> v rámci celku</b>
                </td>
                <td style="text-align:right">
                    <b>
                        Počet bodů<br />
                        <span class="small">(hodnota x váha)</span>
                    </b>
                </td>
            </tr>
            @foreach (var radek in Model.KIndexVypocet.Radky
                .OrderByDescending(r => r.Koeficient)
                .ThenByDescending(r => r.VelicinaLongName))
            {
                <tr>
                    <td>
                        @radek.VelicinaLongName
                        @ParametrDescr((KIndexData.KIndexParts)radek.Velicina)
                    </td>
                    <td class="number">
                        @radek.Hodnota.ToString("F4")
                    </td>
                    <td class="number">
                        @radek.Koeficient.ToString("F0")
                    </td>
                    <td class="number" style="color:@(KIndexData.KIndexLabelColor(KIndexData.KIndexLabelForPart((KIndexData.KIndexParts)radek.Velicina, radek.Hodnota)))">
                        @((radek.Koeficient * radek.Hodnota).ToString("F2"))
                    </td>
                </tr>

            }
            <tr>
                <td colspan="5">
                    Jednotlivé hodnoty všech parametrů se vynásobí vahou (důležitostí) parametru a výsledné body se sečtou
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="font-weight:bold;font-size:130%">Součet</div>
                </td>
                <td style="font-weight:bold;font-size:130%" class="number">
                    <b>@kindexValue.ToString("F2")</b>
                </td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>


@helper ParametrDescr(KIndexData.KIndexParts part)
{

string descr = "";
switch (part)
{
    case KIndexData.KIndexParts.PercentBezCeny:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercSeZasadnimNedostatkem:
        descr = "";
        break;
    case KIndexData.KIndexParts.CelkovaKoncentraceDodavatelu:
        descr = "";
        break;
    case KIndexData.KIndexParts.KoncentraceDodavateluBezUvedeneCeny:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercSmluvUlimitu:
        descr = "";
        break;
    case KIndexData.KIndexParts.KoncentraceDodavateluCenyULimitu:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercNovaFirmaDodavatel:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercUzavrenoOVikendu:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercSmlouvySPolitickyAngazovanouFirmou:
        descr = "";
        break;
    case KIndexData.KIndexParts.KoncentraceDodavateluObory:
        descr = "";
        break;
    case KIndexData.KIndexParts.PercSmlouvyPod50kBonus:
        descr = "Bonus (proto má zápornou hodnotu) pro organizace, které zveřejňují smlouvy nad rámec zákona";
        break;
    default:
        break;
}

if (!string.IsNullOrEmpty(descr))
{
                <div class="small">@Html.Raw(descr)</div>
            }


}
