@model HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData.Annual
@using HlidacStatu.Lib.Analysis.KorupcniRiziko

@{
    HlidacStatu.Lib.Data.Firma firma = HlidacStatu.Lib.Data.Firmy.Get(ViewBag.ICO);
    ViewBag.Title = "K-index podrobně";
    ViewBag.SubTitle = "pro " + firma.Jmeno;

    decimal kindexValue = Model.KIndex.Value; // Model.KIndexVypocet.Radky.Sum(r => r.Hodnota * r.Koeficient);

    Func<decimal, decimal, decimal, int> sirkaGrafu = (hodnota, koeficient, celek) =>
    {
        return (int)Math.Round((hodnota * koeficient / celek * 100), 0);
    };

    Func<decimal, int, int> kindexMeter = (kind, labelValue) =>
    {
        decimal constant = 3;

        var calculation = kind/constant - labelValue;
        if (calculation <= 0)
            return 0;


        decimal widthPerc = Math.Ceiling(calculation * 100);

        int result = (labelValue == 5) 
            ? (int)Math.Ceiling((widthPerc / ((100 - 5 * constant) / constant))) 
            : (int)widthPerc;


        return (result > 100) ? 100 : result;
        
        //return (int)Math.Round(((kind / constant) - labelValue) *100 ,0);
    };
}

@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>K-Index podrobně</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<style>
    .barbar {
        display: block;
        margin: 0px;
        padding: 0px;
        height: 20px;
        float: left;
    }


    .infoshow, .infoshowhide {
        display: none;
    }

        .infoshow:checked ~ .infoshowhide {
            display: block;
        }

    .kmeter {
        margin: 0px;
        padding: 0px;
        height: 60px;
        width: 800px;
        border: solid grey 0px;
    }

    .kframe {
        position: relative;
        width: 60px;
        border-top: solid 6px;
        border-bottom: solid 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
        float: left;
        margin-right: 1px;
        height: 100%;
    }

    .textover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        z-index: 2;
        text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 4px #000;
        -webkit-text-shadow: 0 0 4px #000;
    }

    .totalnumber {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
        color: black;
        font-weight: bold;
        font-size: 25px;
        position: absolute;
        z-index: 5;
    }

    .apart {
        border-color: #002d5a;
        border-left: #002d5a solid 6px;
        padding-left: 5px;
    }

    .bpart {
        border-color: #0064b4;
    }

    .cpart {
        border-color: #00a5ff;
    }

    .dpart {
        border-color: #9099a3;
    }

    .epart {
        border-color: #f0aa00;
    }

    .fpart {
        border-color: #d44820;
        border-right: #d44820 solid 6px;
        padding-right: 5px;
        width: 240px;
    }

    .kfill {
        position: relative;
        height: 100%;
    }

    .afill {
        background-color: #002d5a;
    }

    .bfill {
        background-color: #0064b4;
    }

    .cfill {
        background-color: #00a5ff;
    }

    .dfill {
        background-color: #9099a3;
    }

    .efill {
        background-color: #f0aa00;
    }

    .ffill {
        background-color: #d44820;
    }
</style>





<p>
    <b>K-Index</b> je Index korupčního rizika, který pro tuto organizaci analyzuje Hlídač státu.
    Hodnota K-Indexu je číselná hodnota v rozsahu 0 až 120, kde 0 je nejlepší výsledek (nejnižší míra korupčního rizika ).
</p>
<p>
    Pro snadnější interpretaci toto číslo prezentujeme ve formě textového označení:
    <ul class="list-inline">
        <li class=""><img src="/Content/kindex/iconA.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[0] a @KIndexData.KIndexLimits[1]</li>
        <li class=""><img src="/Content/kindex/iconB.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[1] a @KIndexData.KIndexLimits[2]</li>
        <li class=""><img src="/Content/kindex/iconC.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[2] a @KIndexData.KIndexLimits[3]</li>
        <li class=""><img src="/Content/kindex/iconD.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[3] a @KIndexData.KIndexLimits[4]</li>
        <li class=""><img src="/Content/kindex/iconE.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[4] a @KIndexData.KIndexLimits[5]</li>
        <li class=""><img src="/Content/kindex/iconF.svg" style="width:15px" /> - hodnota indexu mezi @KIndexData.KIndexLimits[5] a vyšší</li>
    </ul>

</p>

<hr />
<h2>
    K-Index rok
    @foreach (int year in ViewBag.AvailableKindexYears)
    {
        if (year == ViewBag.SelectedYear)
        {
            <span>&nbsp;&nbsp;@year</span> }
        else
        {
            <span>&nbsp;&nbsp;<a href="detail/@ViewBag.ICO?rok=@year">@year</a></span>
        }
    }
</h2>

<div class="kmeter">
    <div class="kframe apart">
        <div class="kfill">
            <div class="textover">A</div>
            <div class="kfill afill" style="width: @( kindexMeter(kindexValue,0) )%"></div>
        </div>
    </div>
    <div class="kframe bpart">
        <div class="kfill">
            <div class="textover">B</div>
            <div class="kfill bfill" style="width: @( kindexMeter(kindexValue,1) )%"></div>
        </div>
    </div>
    <div class="kframe cpart">
        <div class="kfill">
            <div class="textover">C</div>
            <div class="kfill cfill" style="width: @( kindexMeter(kindexValue,2) )%"></div>
        </div>
    </div>
    <div class="kframe dpart">
        <div class="kfill">
            <div class="textover">D</div>
            <div class="kfill dfill" style="width: @( kindexMeter(kindexValue,3) )%"></div>
        </div>
    </div>
    <div class="kframe epart">
        <div class="kfill">
            <div class="textover">E</div>
            <div class="kfill efill" style="width: @( kindexMeter(kindexValue,4) )%"></div>
        </div>
    </div>
    <div class="kframe fpart">
        <div class="kfill">
            <div class="textover">F</div>
            <div class="totalnumber">@kindexValue.ToString("F2")</div>
            <div class="kfill ffill" style="width: @( kindexMeter(kindexValue,5) )%"></div>
        </div>
    </div>
</div>

<hr />

<h2>Podrobný výpočet K-Indexu pro organizaci @(firma.Jmeno)</h2>
<p>
    Hodnota indexu <b>@HlidacStatu.Util.RenderData.NiceNumber(kindexValue)</b> nevznikla náhodně, ale jde o výpočet z deseti kritérií.
    Výpočet je zcela transparetní a dále ho detailně popíšeme.
</p>
<p>
    Každé jednotlivé kritérium má svoji hodnotu v rozmezí 0 až 1, (kde 0 je nejlepší a 1 nejhorší),
    a v rámci celkové hodnoty indexu má předem definovanou důležitost v rámci indexu (váhu).
</p>
<div class="col-md-12">
    <table class="table table-new table-new--dotted table-hover">
        <tbody>
            <tr>
                <td>
                    <b>Kritérium</b>
                </td>
                <td style="text-align:right">
                    <b>Hodnota kritéria</b>
                </td>
                <td style="text-align:right">
                    <b>Důležitost<br/> v rámci celku</b>
                </td>
                <td style="text-align:right">
                    <b>
                        Mezisoučet<br />
                        <span class="small">(hodnota x váha)</span>
                    </b>
                </td>
                <td>
                    <b>Vliv kritéria na hodnotu indexu</b>
                </td>
            </tr>
            @foreach (var radek in Model.KIndexVypocet.Radky)
            {
                <tr>
                    <td>
                        @radek.VelicinaLongName
                        @if (radek.Velicina == (int)KIndexData.KIndexParts.PercSmlouvyPod50kBonus)
                        { 
                        <div class="small">Toto je bonus (proto má zápornou hodnotu) pro organizace, které jsou transparentní nad rámec zákona</div>
                        }
                    </td>
                    <td class="number">
                        @radek.Hodnota.ToString("F4")
                    </td>
                    <td class="number">
                        @radek.Koeficient.ToString("F0")
                    </td>
                    <td class="number">
                        @((radek.Koeficient * radek.Hodnota).ToString("F2"))
                    </td>
                    <td >
                        <div class="barbar" style="width:@sirkaGrafu(radek.Hodnota, radek.Koeficient, kindexValue)%;background-color:@(KIndexData.KIndexLabelColor(KIndexData.KIndexLabelForPart((KIndexData.KIndexParts)radek.Velicina, radek.Hodnota)))"></div>
                    </td>
                </tr>

            }
            <tr>
                <td colspan="5">
                    Jednotlivé hodnoty všech kritérii se vynásobí vahou (důležitostí) kritéria (v tabulce sloupec mezisoučet) a tyto hodnoty se sečtou
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div style="font-weight:bold;font-size:130%">Součet</div>
                </td>
                <td  style="font-weight:bold;font-size:130%" class="number">
                    <b>@kindexValue.ToString("F2")</b>
                </td>
            </tr>
        </tbody>
    </table>
</div>

