@model List<HlidacStatu.Lib.Analysis.KorupcniRiziko.KIndexData>

@using Devmasters.Core;
@using HlidacStatu.Lib.Analysis.KorupcniRiziko;
@using HlidacStatu.Web.Framework;
@using System.Linq;
@using System.Text.RegularExpressions;

@{

    int selectedYear = ViewBag.SelectedYear;


    //HlidacStatu.Lib.Data.Firma firma = HlidacStatu.Lib.Data.Firmy.Get(ViewBag.ICO);
    ViewBag.Title = "K-index porovnání";
    //ViewBag.SubTitle = "pro " + firma.Jmeno;
    ViewBag.HideTitle = true;

    Statistics statistics = Statistics.GetStatistics(selectedYear);

    string ukazatTxt = "ukázat detail";
    string schovatTxt = "schovat detail";
    //decimal kindexValue = currYear.KIndex.Value; // currYear.KIndexVypocet.Radky.Sum(r => r.Hodnota * r.Koeficient);

    //kindexValue = 10.9m;


    Func<string, string> removeSelfFromUrl = (input) =>
    {
        string source = Request.Url.Segments.LastOrDefault();
        string removedIco = source.Remove(source.IndexOf(input), input.Length);
        return Regex.Replace(removedIco,"(^,|,$)","").Replace(",,",",");
    };

}

@section scripts
{

}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li><a href="/">Hlídač Státu</a></li>
        <li>K-Index porovnání</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

<style>
    .whisp {
        width: 600px;
        text-align: left;
        background: white;
        border-left: 2px grey solid;
        border-top: 0px;
        border-bottom: 1px grey dotted;
        border-right: 0px grey solid;
        padding-bottom: 2px;
    }

    #companies {
        margin-bottom: 10px;
    }
</style>

<h2>Porovnání K-indexu úřadů</h2>

<div class="bs-callout bs-callout-primary" style="padding-bottom:30px;">
    <h4>Porovnání základních hodnot</h4>
    <p>Porovnání hodnot, které dohromady skládají výslednou známku K-indexu</p>

</div>
<input placeholder="Přidat úřad/firmu" type="text" name="addComparison" id="addComparison" class="form-control companyahead input-lg" oninput="FindCompany(this)" />
<div id="companies">

</div>


<div class="row">
    <div class="col-sm-12">

        <table class="table table-no-border">
            <tbody>
                <tr>
                    <td style="width:290px">firma</td>
                    @foreach (var cmp in Model)
                    {
                        <th style="text-align: right; width: 150px">
                            <a href="@(removeSelfFromUrl(cmp.Ico))" style="color: red; float:left"><i class="far fa-trash-alt"></i></a> <a href="/kindex/detail/@cmp.Ico">@(Devmasters.Core.TextUtil.ShortenText(@cmp.Jmeno, 55))</a>
                        </th>
                    }

                </tr>
                <tr>
                    <th>Celková známka</th>
                    @foreach (var cmp in Model)
                    {
                        <td class="number" style="font-size: 15px; vertical-align: top">
                            @WebKidx.KIndexIconStyle(cmp.ForYear(selectedYear).KIndexLabel, "width:20px")
                        </td>
                    }
                </tr>

                @foreach (KIndexData.KIndexParts velicina in Enum.GetValues(typeof(KIndexData.KIndexParts)))
                {
                    <tr>
                        <th>
                            @velicina.ToNiceDisplayName()
                            <small><a href="#detail_@((KIndexData.KIndexParts)velicina)" onclick="showHelp(this,'#detail_@(velicina)');return false;">@ukazatTxt</a></small>
                            <div id="detail_@velicina" style="display:none">
                                <div class="row">
                                    <div class="col-xs-11 col-lg-offset-1 box-stats" style="background-color:#f9f9fe">
                                        @(Html.Raw(KIndexData.PartsDescription(velicina)))
                                    </div>
                                </div>
                            </div>
                        </th>

                        @foreach (var cmp in Model)
                        {
                            var hodnota = cmp.ForYear(selectedYear)?
                                .KIndexVypocet?.Radky?
                                .Where(r => r.Velicina == (int)velicina)
                                .Select(r => r.Hodnota * r.Koeficient)
                                .FirstOrDefault();

                            <td class="number" style="font-size: 15px; vertical-align: top;">
                                @(hodnota?.ToString("F2") ?? "Chybí K-index")

                                @if (hodnota.HasValue)
                                {
                                    <div class="small" style="font-family: Cabin, sans-serif;">
                                        @(statistics.PercIntervalShortText(velicina, hodnota.Value))
                                    </div>
                                }
                            </td>
                        }
                    </tr>
                }

                <tr>
                    <th>Součet</th>
                    @foreach (var cmp in Model)
                    {
                        <td class="number" style="font-size: 15px; vertical-align: top;">
                            @(cmp.ForYear(selectedYear)?.KIndex.ToString("F2") ?? "Chybí K-index" )
                        </td>
                    }
                </tr>

            </tbody>
        </table>

    </div>
</div>

<script>

    function FindCompany(caller) {
        let req = "/kindex/findcompany/" + caller.value;
        $.get(req, function (data) {
            $('#companies').empty();
            data.forEach(comp => {
                var button = $('<button/>',
                    {
                        text: comp.Name,
                        class: 'whisp',
                        click: function () { AddCompany(comp.Ico); }
                    });

                $("#companies").append(button);
            });
        }, "json");
    }

    function AddCompany(ico) {
        window.location.href = window.location.href + "," + ico;
    }

    function showHelp(btn, id) {
        var visible = $(btn).text().includes('@ukazatTxt');
        if (visible) {
            $(id).show(300);
            $(btn).text('@schovatTxt');
        }
        else {
            $(id).hide(300);
            $(btn).text('@ukazatTxt');
        }
    }

</script>