@model HlidacStatu.Lib.Data.Osoba

@using Nest;
@using Devmasters.Enums;
@using HlidacStatu.Web.Framework;
@using HlidacStatu.Lib.Render;
@using System.Collections.Generic;
@using System.Linq;
@using System;
@using System.Data;
@using HlidacStatu.Lib.Render;
@using Devmasters
@using HlidacStatu.Lib
@using HlidacStatu.Lib.Analytics
@using System.Linq


@{
    Layout = null;
    //ViewBag.Title = "" + Model.Jmeno + " v registru smluv.";

    HlidacStatu.Lib.Data.Relation.AktualnostType aktualnost = HlidacStatu.Lib.Data.Relation.AktualnostType.Nedavny;
    if (EnumsNET.Enums.TryParse<HlidacStatu.Lib.Data.Relation.AktualnostType>(ViewBag.param1, out HlidacStatu.Lib.Data.Relation.AktualnostType xen))
    {
        aktualnost = xen;
    }

    var ostatAll = Model.StatistikaRegistrSmluv(aktualnost);
    var ostat = ostatAll.SoukromeFirmy.Values.AggregateStats().Summary(CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow);
    var statDescription = string.Format("Celkem {0} v reg.smluv od 2016 za celkem {1}, {2}",
        Devmasters.Lang.Plural.Get(ostat.PocetSmluv, "{0} smlouva;{0} smlouvy;{0} smluv"),
        HlidacStatu.Lib.Data.Smlouva.NicePrice(ostat.CelkovaHodnotaSmluv, html: true, shortFormat: true),
        Devmasters.Lang.Plural.Get(ostatAll.SoukromeFirmy.Count, "angažován(a) v 1 firmě;angažován(a) v {0} firmách;angažován(a) v {0} firmách")
        );
}

@* První sloupec *@
<div class="col-sm-7 col-sm-pull-5 col-xs-12 col-xs-pull-0">
  
    
        <table class="table table-hover table-new table-new--dotted table-striped table-bordered">
            <thead>
                <tr>
                    <th>Firma</th>
                    <th>Obchody firmy se státem od 2016</th>
                    <th>Vztah @Model.FullName() s firmou</th>
                </tr>
            </thead>

            @foreach (var vPerIco in (ostatAll.SoukromeFirmy.Union(ostatAll.StatniFirmy))
    .OrderByDescending(o => o.Value.Summary().CelkovaHodnotaSmluv)
    .ThenByDescending(o => o.Value.Summary().PocetSmluv)
    .Where(o => o.Value.Summary().PocetSmluv > 0)
    )
            {
                string ico = vPerIco.Value.ICO;
                HlidacStatu.Lib.Data.Firma f = HlidacStatu.Lib.Data.Firmy.Get(ico);
                <tr>
                    <td>
                        <a href="@(f.GetUrl(true))">@f.Jmeno</a>
                        @WebUtil.IfExists(HlidacStatu.Lib.StaticData.FirmySVazbamiNaPolitiky_nedavne_Cache.Get().SoukromeFirmy.ContainsKey(ico), " - soukromá firma")
                        @WebUtil.IfExists(HlidacStatu.Lib.StaticData.FirmySVazbamiNaPolitiky_nedavne_Cache.Get().StatniFirmy.ContainsKey(ico), " - firma (spolu)vlastněná státem či samosprávou")
                    </td>
                    <td>
                        @if (vPerIco.Value.Summary().PocetSmluv > 0)
                        {
                            <span>
                                <a href="@Url.Action("Hledat", "Home", new { Q = "ico:" + ico })">
                                    @Devmasters.Lang.Plural.Get(vPerIco.Value.Summary(CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow ).PocetSmluv, "{0} smlouva;{0} smlouvy;{0} smluv")
                                </a>
                                <br />celkem @Html.Raw(HlidacStatu.Lib.Data.Smlouva.NicePrice(vPerIco.Value.Summary(CoreStat.UsualYearsInterval.FromUsualFirstYearUntilNow ).CelkovaHodnotaSmluv, html: true, shortFormat: true))
                            </span>
                        }
                        else
                        {
                            <span>Nenalezli jsme žádné smlouvy</span>
                        }


                    </td>
                    <td>
                        @WebUtil.RenderVazby(Model.VazbyProICO(ico))
                    </td>
                </tr>
            }
        </table>

        @{ int numBezSmluv = ostatAll.SoukromeFirmy
                .Count(o => o.Value.Summary().PocetSmluv == 0);
        }
        @if (numBezSmluv > 0)
        {
            <p>
                @Model.FullName() se angažuje či angažoval
                <b>@Devmasters.Lang.Plural.Get(numBezSmluv, "v jedné firmě", "v dalších {0} firmách", "v dalších {0} společnostech")</b>,
                které nemají žádné obchodní vztahy se státem (uložené v registru smluv).
            </p>
        }


    </div>
